tvpx__30a__fal-batch-render-submit-and-poll--2uSefQgL3Y5q90Vc.json
{
  "updatedAt": "2026-03-06T20:28:50.489Z",
  "createdAt": "2026-03-06T19:52:04.092Z",
  "id": "2uSefQgL3Y5q90Vc",
  "name": "TVPX__30A__Fal Batch Render Submit And Poll",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "6ea0db96-ac15-4f52-b63e-b5d6532017dc",
      "name": "When Executed By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -3200,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "function fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nconst incoming = $json || {};\nconst now = new Date().toISOString();\nconst baseCtx = (incoming.ctx && typeof incoming.ctx === 'object') ? incoming.ctx : {};\n\nconst prompt = String(incoming.prompt || '').trim();\nconst variant = String(incoming.render_variant || '').trim();\nif (!prompt || prompt.length < 40) throw new Error('TVPX__30A: prompt missing or too short.');\nif (!variant) throw new Error('TVPX__30A: render_variant missing.');\n\nconst traceId = String(baseCtx.trace_id || '').trim() || \\`tvpx_\\${fnv1a(JSON.stringify(incoming).slice(0, 5000) + '::' + now)}\\`;\nconst assetFamilyId = String(baseCtx.asset_family_id || incoming.asset_family_id || \\`tvpxfam_\\${fnv1a(traceId + '::assetfam')}\\`).trim();\n\nconst jobId = \\`tvpx_job_\\${fnv1a([\n  traceId,\n  incoming.scene_seed_id,\n  incoming.scene_blueprint_id,\n  incoming.blueprint_label,\n  variant,\n  prompt,\n].join('::'))}\\`;\n\nconst ctx = {\n  project_ns: 'TVPX',\n  brand_name: 'The Velvet Paradox',\n  trace_id: traceId,\n  asset_family_id: assetFamilyId,\n  trigger_mode: baseCtx.trigger_mode || incoming.trigger_mode || 'internal',\n  route_mode: 'fal_submit_poll',\n  received_at: now,\n  fal_api_key: String(baseCtx.fal_api_key || incoming.fal_api_key || '').trim(),\n  fal_endpoint_url: String(baseCtx.fal_endpoint_url || incoming.fal_endpoint_url || '').trim(),\n  image_size: String(baseCtx.image_size || incoming.provider_controls?.image_size || '1024x1536'),\n  output_format: String(baseCtx.output_format || incoming.provider_controls?.output_format || 'png'),\n  background: String(baseCtx.background || incoming.provider_controls?.background || 'opaque'),\n  quality: String(baseCtx.quality || incoming.provider_controls?.quality || 'high'),\n  poll_max: Number(baseCtx.poll_max || incoming.poll_max || 24),\n};\n\nreturn [{\n  json: {\n    ctx,\n    scene_seed_row: incoming.scene_seed_row || null,\n    archetype_row: incoming.archetype_row || null,\n    blueprint: incoming.blueprint || null,\n    job: {\n      job_id: jobId,\n      concept_id: String(incoming.concept_id || incoming.scene_seed_id || '').trim(),\n      scene_seed_id: String(incoming.scene_seed_id || '').trim(),\n      scene_blueprint_id: String(incoming.scene_blueprint_id || '').trim(),\n      archetype_id: String(incoming.archetype_id || '').trim(),\n      blueprint_label: String(incoming.blueprint_label || '').trim(),\n      render_variant: variant,\n      provider_name: 'fal',\n      candidate_index: null,\n      request: {\n        prompt,\n        image_size: ctx.image_size,\n        background: ctx.background,\n        quality: ctx.quality,\n        output_format: ctx.output_format,\n        num_images: Number(incoming.provider_controls?.num_images || 1),\n        sync_mode: false,\n      },\n      prompt_raw: prompt,\n      negative_prompt_raw: String(incoming.negative_prompt || '').trim(),\n      state: 'queued',\n      created_at: now,\n      updated_at: now,\n    },\n  },\n}];"
      },
      "id": "cc050267-f722-4d9e-a7b1-304179b93724",
      "name": "Initialize Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2976,
        256
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "V1LbUzG38EzilvO0",
          "mode": "list",
          "cachedResultName": "tvpx_generation_job_ledger",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/V1LbUzG38EzilvO0"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "job_id",
              "keyValue": "={{$json.job.job_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{$json.job.job_id}}",
            "trace_id": "={{$json.ctx.trace_id}}",
            "concept_id": "={{$json.job.concept_id}}",
            "scene_seed_id": "={{$json.job.scene_seed_id}}",
            "scene_blueprint_id": "={{$json.job.scene_blueprint_id}}",
            "archetype_id": "={{$json.job.archetype_id}}",
            "blueprint_label": "={{$json.job.blueprint_label}}",
            "candidate_index": "={{$json.job.candidate_index}}",
            "render_candidate_id": "={{null}}",
            "asset_family_id": "={{$json.ctx.asset_family_id}}",
            "num_images_requested": "={{$json.job.request.num_images}}",
            "variant_key": "={{$json.job.render_variant}}",
            "provider_name": "={{$json.job.provider_name}}",
            "endpoint_key": "={{$json.ctx.fal_endpoint_url || $json.job.endpoint_url || \"\"}}",
            "request_payload_json": "={{JSON.stringify($json.job.request)}}",
            "state": "submitting",
            "poll_count": 0,
            "started_at": "={{$now}}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f4ddbf53-55d7-4f7c-b6de-6ada39fd35f4",
      "name": "Write Job Start",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2752,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "/** Pass Envelope: re-output envelope so Fal Submit Render receives ctx/job (DataTable returns ledger row). */\nconst envelope = $items('Initialize Envelope')[0]?.json;\nif (!envelope?.ctx || !envelope?.job) throw new Error('TVPX__30A: Pass Envelope could not read envelope from Initialize Envelope.');\nreturn [{ json: envelope }];"
      },
      "id": "a1b2c3d4-pass-envelope-30a",
      "name": "Pass Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.job.endpoint_url}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n    {\n      prompt: $json.job.request.prompt,\n      image_size: $json.job.request.image_size,\n      background: $json.job.request.background,\n      quality: $json.job.request.quality,\n      num_images: $json.job.request.num_images,\n      output_format: $json.job.request.output_format,\n      sync_mode: false,\n    }\n  }}",
        "options": {
          "response": {},
          "timeout": 120000
        }
      },
      "id": "8f01a30c-75b8-4061-be37-1c7d411dcf87",
      "name": "Fal Submit Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2528,
        256
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 4000
    },
    {
      "parameters": {
        "jsCode": "/**\n * Normalize Submit Response\n * Expected (typical fal queue): { request_id / id?, status_url, response_url }\n * We store status_url + response_url and move into polling.\n */\n\nconst base = $items('Initialize Envelope')[0].json;\nconst ctx = base.ctx;\nconst job = base.job;\n\nconst resp = $json || {};\nconst body = resp.body ?? resp.data ?? resp;\n\nconst statusUrl = String(body.status_url || body.statusUrl || body.data?.status_url || '').trim();\nconst responseUrl = String(body.response_url || body.responseUrl || body.data?.response_url || '').trim();\nconst providerJobId = String(body.request_id || body.id || body.requestId || '').trim();\n\nif (!statusUrl && !responseUrl) {\n  // Some fal endpoints may return only status_url; accept either, but require at least one.\n  throw new Error('Fal submit did not return status_url or response_url. Check endpoint and auth.');\n}\n\nreturn [{\n  json: {\n    ctx,\n    job: {\n      ...job,\n      provider_job_id: providerJobId,\n      status_url: statusUrl,\n      response_url: responseUrl,\n      state: 'queued'\n    }\n  }\n}];"
      },
      "id": "f111111e-4bf4-45fb-bd4e-1c1eccd09377",
      "name": "Normalize Submit Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        256
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "V1LbUzG38EzilvO0",
          "mode": "list",
          "cachedResultName": "tvpx_generation_job_ledger",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/V1LbUzG38EzilvO0"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "job_id",
              "keyValue": "={{$json.job.job_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "provider_job_id": "={{$json.job.provider_job_id}}",
            "status_url": "={{$json.job.status_url}}",
            "response_url": "={{$json.job.response_url}}",
            "state": "={{$json.job.state}}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4d2eec55-f0e7-47a3-bec5-a2151e8b589a",
      "name": "Update Job With URLs",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2080,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Initialize Poll State\n * Rehydrate from normalized submit payload so Data Table side effects cannot strip context.\n */\nconst normalized = $items('Normalize Submit Response')[0]?.json || {};\nconst j = ($json && $json.ctx && $json.job) ? $json : normalized;\nconst ctx = j.ctx;\nconst job = j.job;\n\nif (!ctx || !job) {\n  throw new Error('TVPX__30A: missing ctx/job while initializing poll state.');\n}\n\nreturn [{\n  json: {\n    ctx,\n    job,\n    poll: {\n      tries: 0,\n      max: Number(ctx.poll_max || 24),\n      interval_seconds: Number(ctx.poll_interval_seconds || 8)\n    }\n  }\n}];"
      },
      "id": "c657b3b5-7ef6-4831-8b13-4c8c12db3438",
      "name": "Initialize Poll State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        256
      ]
    },
    {
      "parameters": {
        "amount": "={{$json.poll.interval_seconds}}",
        "unit": "seconds"
      },
      "id": "f97276a2-ff41-4123-b506-e2abeaff2e2f",
      "name": "Wait Poll Interval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1632,
        256
      ],
      "webhookId": "3fec0836-edc8-4b26-a9c7-4472c6473df1"
    },
    {
      "parameters": {
        "url": "={{$json.job.status_url || $json.job.response_url}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {},
          "timeout": 120000
        }
      },
      "id": "0b982c81-b1d7-451e-bead-e1f8935e8942",
      "name": "Fal Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1408,
        80
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 4000
    },
    {
      "parameters": {
        "jsCode": "function extractImageUrls(body) {\n  const urls = [];\n  const add = (value) => {\n    const text = String(value || '').trim();\n    if (text && !urls.includes(text)) urls.push(text);\n  };\n  const walkArray = (arr) => {\n    if (!Array.isArray(arr)) return;\n    for (const item of arr) {\n      if (typeof item === 'string') add(item);\n      else if (item && typeof item === 'object') add(item.url || item.href || item.image_url);\n    }\n  };\n  walkArray(body.images);\n  walkArray(body?.data?.images);\n  walkArray(body?.result?.images);\n  walkArray(body?.output?.images);\n  if (body.image) add(body.image?.url || body.image);\n  if (body?.data?.image) add(body.data.image?.url || body.data.image);\n  return urls;\n}\n\nconst base = $items('Initialize Poll State')[0].json;\nconst ctx = base.ctx;\nconst job = base.job;\nconst poll = base.poll;\nconst sceneSeedRow = base.scene_seed_row || null;\nconst archetypeRow = base.archetype_row || null;\nconst blueprint = base.blueprint || null;\n\nconst resp = $json || {};\nconst body = resp.body ?? resp.data ?? resp;\nconst statusRaw = String(body.status || body.data?.status || '').trim();\n\nreturn [{\n  json: {\n    ctx,\n    scene_seed_row: sceneSeedRow,\n    archetype_row: archetypeRow,\n    blueprint,\n    job: {\n      ...job,\n      polled_status: statusRaw ? statusRaw.toUpperCase() : '',\n      provider_image_urls: extractImageUrls(body),\n      error_text: String(body.error || body.message || body.data?.error || '').trim(),\n    },\n    poll,\n  },\n}];"
      },
      "id": "308701ae-171e-47de-b9d4-c13619df7ae0",
      "name": "Normalize Poll Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "string_1",
              "leftValue": "={{$json.job.polled_status}}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7567b19e-d611-4683-bb12-a7aae81b4b72",
      "name": "Is Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -960,
        -16
      ]
    },
    {
      "parameters": {
        "url": "={{$json.job.response_url}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {},
          "timeout": 120000
        }
      },
      "id": "c3d4e5f6-fetch-result-30a",
      "name": "Fetch Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        -16
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "function extractImageUrls(body) {\n  const urls = [];\n  const add = (value) => {\n    const text = String(value || '').trim();\n    if (text && !urls.includes(text)) urls.push(text);\n  };\n  const walkArray = (arr) => {\n    if (!Array.isArray(arr)) return;\n    for (const item of arr) {\n      if (typeof item === 'string') add(item);\n      else if (item && typeof item === 'object') add(item.url || item.href || item.image_url);\n    }\n  };\n  walkArray(body.images);\n  walkArray(body?.data?.images);\n  walkArray(body?.result?.images);\n  walkArray(body?.output?.images);\n  if (body.image) add(body.image?.url || body.image);\n  return urls;\n}\n\nconst envelope = $items('Normalize Poll Response')[0]?.json;\nif (!envelope?.ctx || !envelope?.job) throw new Error('TVPX__30A: missing envelope in Merge Result Into Job.');\n\nconst resp = $json || {};\nconst body = resp.body ?? resp.data ?? resp;\nconst imageUrls = extractImageUrls(body);\n\nreturn [{\n  json: {\n    ctx: envelope.ctx,\n    scene_seed_row: envelope.scene_seed_row || null,\n    archetype_row: envelope.archetype_row || null,\n    blueprint: envelope.blueprint || null,\n    job: {\n      ...envelope.job,\n      provider_image_urls: imageUrls.length ? imageUrls : (envelope.job.provider_image_urls || []),\n    },\n  },\n}];"
      },
      "id": "b2c3d4e5-merge-result-30a",
      "name": "Merge Result Into Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "string_1",
              "leftValue": "={{$json.job.polled_status}}",
              "rightValue": "FAILED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1d4d2f6-f53a-458e-8085-cdada81f8df5",
      "name": "Is Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -960,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Increment Poll\n * Loops until completed/failed/timeout.\n */\n\nconst ctx = $json.ctx;\nconst job = $json.job;\nconst poll = $json.poll;\n\npoll.tries = Number(poll.tries || 0) + 1;\n\nconst max = Number(poll.max || 24);\nconst timedOut = poll.tries >= max;\n\nreturn [{\n  json: {\n    ctx,\n    job,\n    poll,\n    timed_out: timedOut\n  }\n}];"
      },
      "id": "85e613cc-b4ea-4956-8432-5b66856ce0ee",
      "name": "Increment Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "string_1",
              "leftValue": "={{$json.timed_out ? 'true' : 'false'}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0a3c01f3-4050-42d9-9343-cc8b3b25e66b",
      "name": "Is Timed Out",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -736,
        176
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "V1LbUzG38EzilvO0",
          "mode": "list",
          "cachedResultName": "tvpx_generation_job_ledger",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/V1LbUzG38EzilvO0"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "job_id",
              "keyValue": "={{$json.job.job_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "poll_count": "={{$json.poll.tries}}",
            "state": "running"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "29315736-a88b-4d8d-840c-0a4d365038ef",
      "name": "Update Job Running",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -512,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "function fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nconst ctx = $json.ctx;\nconst job = $json.job;\nconst sceneSeedRow = $json.scene_seed_row || null;\nconst archetypeRow = $json.archetype_row || null;\nconst blueprint = $json.blueprint || null;\nconst urls = Array.isArray(job.provider_image_urls) ? job.provider_image_urls.filter(Boolean) : [];\n\nif (!urls.length) {\n  throw new Error('TVPX__30A: completed job but no image URLs were found.');\n}\n\nreturn urls.map((url, idx) => {\n  const renderCandidateId = \\`tvpx_rc_\\${fnv1a([job.job_id, idx + 1, url].join('::'))}\\`;\n  return {\n    json: {\n      ctx,\n      concept_id: String(job.concept_id || job.scene_seed_id || '').trim(),\n      status: 'completed',\n      job_id: job.job_id,\n      render_candidate_id: renderCandidateId,\n      scene_seed_id: job.scene_seed_id,\n      scene_blueprint_id: job.scene_blueprint_id,\n      scene_seed_row: sceneSeedRow,\n      archetype_id: job.archetype_id,\n      archetype_row: archetypeRow,\n      blueprint_label: job.blueprint_label,\n      blueprint,\n      candidate_index: idx + 1,\n      render_variant: job.render_variant,\n      provider_name: job.provider_name,\n      provider_job_id: job.provider_job_id,\n      image_url: String(url).trim(),\n      prompt_final: String(job.request?.prompt || '').trim(),\n      negative_prompt_raw: String(job.negative_prompt_raw || '').trim(),\n      image_size: String(job.request?.image_size || ''),\n      background: String(job.request?.background || ''),\n      quality: String(job.request?.quality || ''),\n      output_format: String(job.request?.output_format || ''),\n      completed_at: new Date().toISOString(),\n    },\n  };\n});"
      },
      "id": "46b9c234-cc49-4d68-a020-550350eaf867",
      "name": "Finalize Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "V1LbUzG38EzilvO0",
          "mode": "list",
          "cachedResultName": "tvpx_generation_job_ledger",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/V1LbUzG38EzilvO0"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "job_id",
              "keyValue": "={{$json.job_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "completed",
            "completed_at": "={{$json.completed_at}}",
            "image_url": "={{$json.image_url}}",
            "render_candidate_id": "={{$json.render_candidate_id}}",
            "candidate_index": "={{$json.candidate_index}}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "04240b9c-934c-427a-8492-003f3521c5a1",
      "name": "Update Job Completed",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -512,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "/** Finalize Failure */\nconst ctx = $json.ctx;\nconst job = $json.job;\nconst err = String(job.error_text || 'Fal job failed.').trim();\nreturn [{\n  json: {\n    ctx,\n    job_id: job.job_id,\n    concept_id: job.concept_id,\n    render_variant: job.render_variant,\n    provider_name: job.provider_name,\n    provider_job_id: job.provider_job_id,\n    status_url: job.status_url,\n    response_url: job.response_url,\n    prompt_raw: String(job.prompt_raw || '').trim(),\n    negative_prompt_raw: String(job.negative_prompt_raw || '').trim(),\n    prompt_final: String(job.request?.prompt || '').trim(),\n    image_size: String(job.provider_controls?.image_size || job.request?.image_size || ''),\n    background: String(job.provider_controls?.background || job.request?.background || ''),\n    quality: String(job.provider_controls?.quality || job.request?.quality || ''),\n    output_format: String(job.provider_controls?.output_format || job.request?.output_format || ''),\n    concept_snapshot: job.concept_snapshot || null,\n    error_text: err,\n    failed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "0609965a-bafe-4968-b1d3-25ff5977d1ef",
      "name": "Finalize Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "V1LbUzG38EzilvO0",
          "mode": "list",
          "cachedResultName": "tvpx_generation_job_ledger",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/V1LbUzG38EzilvO0"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "job_id",
              "keyValue": "={{$json.job_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "failed",
            "completed_at": "={{$json.failed_at}}",
            "error_text": "={{$json.error_text}}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "91d05b9c-8825-4042-b339-a0a12b6e0a68",
      "name": "Update Job Failed",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -512,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "/** Finalize Timed Out */\nconst ctx = $json.ctx;\nconst job = $json.job;\nconst poll = $json.poll;\nreturn [{\n  json: {\n    ctx,\n    job_id: job.job_id,\n    concept_id: job.concept_id,\n    render_variant: job.render_variant,\n    provider_name: job.provider_name,\n    provider_job_id: job.provider_job_id,\n    status_url: job.status_url,\n    response_url: job.response_url,\n    prompt_raw: String(job.prompt_raw || '').trim(),\n    negative_prompt_raw: String(job.negative_prompt_raw || '').trim(),\n    prompt_final: String(job.request?.prompt || '').trim(),\n    image_size: String(job.provider_controls?.image_size || job.request?.image_size || ''),\n    background: String(job.provider_controls?.background || job.request?.background || ''),\n    quality: String(job.provider_controls?.quality || job.request?.quality || ''),\n    output_format: String(job.provider_controls?.output_format || job.request?.output_format || ''),\n    concept_snapshot: job.concept_snapshot || null,\n    error_text: `Timed out after ${poll.tries} polls.`,\n    poll_count: Number(poll.tries || 0),\n    failed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "66c434f8-275d-4ae8-9711-9b42bfbdd470",
      "name": "Finalize Timed Out",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        368
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "V1LbUzG38EzilvO0",
          "mode": "list",
          "cachedResultName": "tvpx_generation_job_ledger",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/V1LbUzG38EzilvO0"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "job_id",
              "keyValue": "={{$json.job_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "timed_out",
            "completed_at": "={{$json.failed_at}}",
            "error_text": "={{$json.error_text}}",
            "poll_count": "={{$json.poll_count || $json.ctx.poll_max}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "concept_id",
              "displayName": "concept_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "parent_asset_id",
              "displayName": "parent_asset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "asset_family_id",
              "displayName": "asset_family_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "variant_key",
              "displayName": "variant_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "provider_name",
              "displayName": "provider_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "endpoint_key",
              "displayName": "endpoint_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "request_payload_json",
              "displayName": "request_payload_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "provider_job_id",
              "displayName": "provider_job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "response_url",
              "displayName": "response_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status_url",
              "displayName": "status_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "poll_count",
              "displayName": "poll_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2346ca51-26df-4e4c-a4a6-7c54f519f6ff",
      "name": "Update Job Timed Out",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -288,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => ({\n  json: {\n    ...item.json,\n    status: 'completed',\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -16
      ],
      "id": "ec9e47b6-654d-46d5-ae30-1cd66602a247",
      "name": "Return Completed Payload"
    },
    {
      "parameters": {
        "jsCode": "const base = $items('Finalize Timed Out')[0]?.json;\nif (!base) throw new Error('TVPX__30A: missing Finalize Timed Out payload.');\n\nreturn [{\n  json: {\n    ...base,\n    status: 'timed_out'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        368
      ],
      "id": "9b4c0da3-19e8-42e2-b6e3-337a603fc96f",
      "name": "Return Timed Out Payload"
    },
    {
      "parameters": {
        "jsCode": "const base = $items('Finalize Failed')[0]?.json;\nif (!base) throw new Error('TVPX__30A: missing Finalize Failed payload.');\n\nreturn [{\n  json: {\n    ...base,\n    status: 'failed'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        560
      ],
      "id": "2456bb01-130c-4221-9523-6cd71e5f79aa",
      "name": "Return Failed Payload"
    }
  ],
  "connections": {
    "When Executed By Another Workflow": {
      "main": [
        [
          {
            "node": "Initialize Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Envelope": {
      "main": [
        [
          {
            "node": "Write Job Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Job Start": {
      "main": [
        [
          {
            "node": "Pass Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Envelope": {
      "main": [
        [
          {
            "node": "Fal Submit Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fal Submit Render": {
      "main": [
        [
          {
            "node": "Normalize Submit Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Submit Response": {
      "main": [
        [
          {
            "node": "Update Job With URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Initialize Poll State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job With URLs": {
      "main": [
        []
      ]
    },
    "Initialize Poll State": {
      "main": [
        [
          {
            "node": "Wait Poll Interval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Poll Interval": {
      "main": [
        [
          {
            "node": "Fal Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fal Poll Status": {
      "main": [
        [
          {
            "node": "Normalize Poll Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Poll Response": {
      "main": [
        [
          {
            "node": "Is Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed": {
      "main": [
        [
          {
            "node": "Fetch Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Result": {
      "main": [
        [
          {
            "node": "Merge Result Into Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Result Into Job": {
      "main": [
        [
          {
            "node": "Finalize Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Success": {
      "main": [
        [
          {
            "node": "Update Job Completed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Return Completed Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failed": {
      "main": [
        [
          {
            "node": "Finalize Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increment Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Failed": {
      "main": [
        [
          {
            "node": "Update Job Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Poll": {
      "main": [
        [
          {
            "node": "Is Timed Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Timed Out": {
      "main": [
        [
          {
            "node": "Finalize Timed Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Job Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job Running": {
      "main": [
        [
          {
            "node": "Wait Poll Interval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Timed Out": {
      "main": [
        [
          {
            "node": "Update Job Timed Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job Timed Out": {
      "main": [
        [
          {
            "node": "Return Timed Out Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job Failed": {
      "main": [
        [
          {
            "node": "Return Failed Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2ef858db-cfa5-420d-887a-ad125ad215b6",
  "activeVersionId": null,
  "versionCounter": 7,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-06T20:19:00.602Z",
      "createdAt": "2026-03-06T20:19:00.602Z",
      "role": "workflow:owner",
      "workflowId": "2uSefQgL3Y5q90Vc",
      "projectId": "NK3VX1YKPgfTJeSY",
      "project": {
        "updatedAt": "2025-12-08T15:00:57.909Z",
        "createdAt": "2025-12-08T14:54:00.172Z",
        "id": "NK3VX1YKPgfTJeSY",
        "name": "Benny Ebere <ebere.benny97@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4cb24128-c146-45db-a1a6-9dd54603f17a"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}