tvpx__40__asset-finalizer-and-telegram-dispatch--vaFfkhqKgBk2VCGh.json
{
  "updatedAt": "2026-03-06T19:52:04.092Z",
  "createdAt": "2026-03-05T16:11:43.797Z",
  "id": "vaFfkhqKgBk2VCGh",
  "name": "TVPX__40__Asset Finalizer And Telegram Dispatch",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "ba5c01cd-8bd6-4d48-9294-bc637d92da36",
      "name": "When Executed By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nconst incoming = $json || {};\nconst now = new Date().toISOString();\nconst baseCtx = (incoming.ctx && typeof incoming.ctx === 'object') ? incoming.ctx : {};\nconst traceId = String(baseCtx.trace_id || '').trim() || \\`tvpx_\\${fnv1a(JSON.stringify(incoming).slice(0, 5000) + '::' + now)}\\`;\n\nconst ctx = {\n  project_ns: 'TVPX',\n  brand_name: 'The Velvet Paradox',\n  trace_id: traceId,\n  asset_family_id: String(incoming.asset_family_id || baseCtx.asset_family_id || '').trim(),\n  trigger_mode: baseCtx.trigger_mode || incoming.trigger_mode || 'internal',\n  route_mode: 'asset_finalize_dispatch',\n  received_at: now,\n  telegram_chat_id: String(baseCtx.telegram_chat_id || incoming.telegram_chat_id || incoming?.tg?.chat_id || incoming?.tg?.chat?.id || baseCtx.chat_id || '').trim() || null,\n  drive_id: String(baseCtx.drive_id || incoming.drive_id || '').trim() || null,\n  drive_folder_id: String(baseCtx.drive_folder_id || incoming.drive_folder_id || '').trim() || null,\n};\n\nconst sceneSeedId = String(incoming.scene_seed_id || '').trim();\nconst conceptId = String(incoming.concept_id || sceneSeedId || '').trim();\nconst fam = incoming.family || {};\nconst color = fam.color || {};\nconst colorUrl = String(color.image_url || color.provider_image_url || '').trim();\nconst renderCandidateId = String(incoming.render_candidate_id || color.render_candidate_id || '').trim();\nif (!colorUrl) throw new Error('TVPX__40: Missing color image_url from generation results.');\nif (!ctx.asset_family_id) ctx.asset_family_id = \\`tvpxfam_\\${fnv1a(traceId + '::family')}\\`;\n\nconst assetId = String(incoming.asset_id || color.asset_id || (renderCandidateId ? \\`tvpx_as_\\${renderCandidateId}_color\\` : \\`tvpx_as_\\${traceId}_\\${conceptId}_color\\`)).trim();\n\nreturn [{\n  json: {\n    ctx,\n    concept_id: conceptId,\n    scene_seed_id: sceneSeedId,\n    scene_blueprint_id: String(incoming.scene_blueprint_id || '').trim(),\n    archetype_id: String(incoming.archetype_id || '').trim(),\n    render_candidate_id: renderCandidateId,\n    blueprint_label: String(incoming.blueprint_label || '').trim(),\n    reference_alignment_score: Number(incoming.reference_alignment_score || 0),\n    critic_overall_score: Number(incoming.critic_overall_score || 0),\n    asset_id: assetId,\n    asset_family_id: ctx.asset_family_id,\n    family: {\n      color: { ...color, image_url: colorUrl, asset_id: assetId, render_candidate_id: renderCandidateId },\n    },\n  },\n}];"
      },
      "id": "0ea173b1-0d9d-43c3-a8db-e03cbbf78041",
      "name": "Initialize Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2656,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "string_1",
              "leftValue": "={{$json.ctx.telegram_chat_id ? 'true' : 'false'}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "25ba065f-95b7-40e5-9f00-1e835c6d8209",
      "name": "Has Telegram Chat Id",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2432,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Fallback if no chat id provided: keep processing (Drive + tables), but skip Telegram.\n */\nconst j = $json;\nj.ctx.telegram_disabled = true;\nreturn [{ json: j }];"
      },
      "id": "87ac3b38-ce22-47c6-87c6-b0918663af1c",
      "name": "Disable Telegram Dispatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{$json.family.color.image_url}}",
        "options": {
          "response": {},
          "timeout": 180000
        }
      },
      "id": "69e50f84-1535-4dc3-92a0-268f2023cbc3",
      "name": "Download Color Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1984,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $items('Initialize Envelope')[0].json;\nconst binKeys = $binary ? Object.keys($binary) : [];\nif (!binKeys.length) throw new Error('No binary found from Download Color Image.');\nconst firstKey = binKeys[0];\nreturn [{\n  json: {\n    ctx: base.ctx,\n    concept_id: base.concept_id,\n    scene_seed_id: base.scene_seed_id,\n    scene_blueprint_id: base.scene_blueprint_id,\n    archetype_id: base.archetype_id,\n    render_candidate_id: base.render_candidate_id,\n    blueprint_label: base.blueprint_label,\n    reference_alignment_score: base.reference_alignment_score,\n    critic_overall_score: base.critic_overall_score,\n    asset_id: base.asset_id,\n    asset_family_id: base.asset_family_id,\n    family: base.family,\n    variant: 'color',\n  },\n  binary: { image: $binary[firstKey] },\n}];"
      },
      "id": "d00ba8ee-772f-4e5a-8af2-721c6afd6449",
      "name": "Ensure Binary For Color",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Build Safe Filename\n */\nfunction safe(s){\n  return String(s||'').toLowerCase()\n    .replace(/[^a-z0-9\\-_.]+/g,'-')\n    .replace(/-+/g,'-')\n    .replace(/^-|-$/g,'')\n    .slice(0,80);\n}\n\nconst j = $json;\nconst ctx = j.ctx;\nconst ext = (j.family?.color?.output_format || ctx.output_format || 'png').toLowerCase();\nconst baseName = safe(`tvpx_${ctx.trace_id}_${j.concept_id}_color`);\nconst filename = `${baseName}.${ext === 'jpg' ? 'jpg' : ext === 'jpeg' ? 'jpg' : ext}`;\n\nreturn [{ json: { ...j, filename }, binary: $binary }];"
      },
      "id": "16fc648f-5e4a-45f3-8321-153c7a8f9279",
      "name": "Make Safe Filename Color",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "binaryPropertyName": "image",
        "name": "={{$json.filename}}",
        "parents": [
          "={{$json.ctx.drive_folder_id}}"
        ],
        "options": {}
      },
      "id": "7dcec58b-23ba-4c41-b1c3-36c0034fdfca",
      "name": "Upload Color To Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        -1312,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qf75UASR5hw79O6L",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $items('Make Safe Filename Color')[0].json;\nconst r = $json || {};\nconst fileId = String(r.id || r.fileId || r.data?.id || '').trim();\nif (!fileId) throw new Error('Google Drive upload returned no file id.');\nconst viewUrl = String(r.webViewLink || r.webViewUrl || r.alternateLink || '').trim();\nconst dlUrl = String(r.webContentLink || r.downloadUrl || '').trim();\n\nreturn [{\n  json: {\n    ctx: base.ctx,\n    concept_id: base.concept_id,\n    scene_seed_id: base.scene_seed_id,\n    scene_blueprint_id: base.scene_blueprint_id,\n    archetype_id: base.archetype_id,\n    render_candidate_id: base.render_candidate_id,\n    blueprint_label: base.blueprint_label,\n    reference_alignment_score: base.reference_alignment_score,\n    critic_overall_score: base.critic_overall_score,\n    asset_id: base.asset_id,\n    asset_family_id: base.asset_family_id,\n    family: base.family,\n    assets: {\n      color: {\n        filename: base.filename,\n        drive_file_id: fileId,\n        drive_view_url: viewUrl,\n        drive_download_url: dlUrl,\n        provider_image_url: String(base.family?.color?.image_url || '').trim(),\n      },\n    },\n  },\n}];"
      },
      "id": "c9b65a46-883b-4c21-84ab-bb82e495cd04",
      "name": "Normalize Drive Result Color",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "EMrgSDBhBwr8SiT9",
          "mode": "list",
          "cachedResultName": "tvpx_asset_registry",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/EMrgSDBhBwr8SiT9"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "asset_id",
              "keyValue": "={{$json.asset_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "asset_id": "={{$json.asset_id}}",
            "trace_id": "={{$json.ctx.trace_id}}",
            "concept_id": "={{$json.concept_id}}",
            "scene_seed_id": "={{$json.scene_seed_id}}",
            "scene_blueprint_id": "={{$json.scene_blueprint_id}}",
            "archetype_id": "={{$json.archetype_id}}",
            "render_candidate_id": "={{$json.render_candidate_id}}",
            "blueprint_label": "={{$json.blueprint_label}}",
            "reference_alignment_score": "={{$json.reference_alignment_score}}",
            "critic_overall_score": "={{$json.critic_overall_score}}",
            "asset_family_id": "={{$json.asset_family_id}}",
            "variant_key": "color",
            "render_mode": "primary",
            "provider_image_url": "={{$json.assets.color.provider_image_url}}",
            "drive_file_id": "={{$json.assets.color.drive_file_id}}",
            "drive_view_url": "={{$json.assets.color.drive_view_url}}",
            "drive_download_url": "={{$json.assets.color.drive_download_url}}",
            "created_at": "={{$now}}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cb6351bb-165c-4f9c-9a1a-d49faefbeeae",
      "name": "Upsert Asset Registry Color",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -864,
        0
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{$json.ctx.telegram_chat_id}}",
        "binaryData": true,
        "binaryPropertyName": "telegram_preview",
        "additionalFields": {
          "caption": "={{'The Velvet Paradox — Color preview\\nConcept: ' + $json.concept_id + '\\nFull HD: ' + ($json.assets.color.drive_view_url || $json.assets.color.drive_download_url || 'unavailable') + '\\nReply to THIS image with /series 4 for variations, /bw for monochrome, or /video for motion prep.'}}"
        }
      },
      "id": "e1469df0-4599-4b4c-bb57-bf00e9d7596e",
      "name": "Send Color To Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -640,
        0
      ],
      "webhookId": "515f5c29-ace1-4cf2-9eef-22ca09b05a03",
      "credentials": {
        "telegramApi": {
          "id": "nXE4YlrFVa15bP8Q",
          "name": "videoGenForSocialBot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * Capture Telegram Message Id (Color)\n */\nconst base = $items('Normalize Drive Result Color')[0].json;\nconst ctx = base.ctx;\n\nif (ctx.telegram_disabled) {\n  return [{ json: { ...base, telegram: { color_message_id: null } } }];\n}\n\nconst resp = $json || {};\nconst msgId = resp.message_id || resp.result?.message_id || resp.data?.message_id;\n\nif (!msgId) {\n  return [{\n    json: {\n      ...base,\n      telegram: {\n        color_message_id: null\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...base,\n    telegram: {\n      color_message_id: Number(msgId)\n    }\n  }\n}];"
      },
      "id": "8faa77de-dde7-4dc2-83e3-fcfad76e5146",
      "name": "Capture Telegram Message Id Color",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "19rCaZx3furKQz5y",
          "mode": "list",
          "cachedResultName": "tvpx_telegram_reply_index",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/19rCaZx3furKQz5y"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{$json.ctx.telegram_chat_id}}"
            },
            {
              "keyName": "message_id",
              "keyValue": "={{$json.telegram.color_message_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reply_index_id": "={{\"tvpx_ridx_\" + $json.asset_id}}",
            "chat_id": "={{$json.ctx.telegram_chat_id}}",
            "message_id": "={{$json.telegram.color_message_id}}",
            "asset_id": "={{$json.asset_id}}",
            "asset_family_id": "={{$json.asset_family_id}}",
            "concept_id": "={{$json.concept_id}}",
            "scene_seed_id": "={{$json.scene_seed_id}}",
            "scene_blueprint_id": "={{$json.scene_blueprint_id}}",
            "render_candidate_id": "={{$json.render_candidate_id}}",
            "archetype_id": "={{$json.archetype_id}}",
            "message_role": "primary_color",
            "reply_mode": "reply_actions",
            "is_active": true,
            "created_at": "={{$now}}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "58dcbdc0-8085-45f7-adab-c788480765cb",
      "name": "Register Reply Index Color",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -192,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "options": {}
      },
      "id": "b6a61c9b-6e26-467f-a357-dae52ee23c70",
      "name": "OpenAI Caption Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2128,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "lkPV4yTxQh2YAZDW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=You are TVPX__LLM__Caption_Alchemist for The Velvet Paradox.\n\nYour job is to write a restrained, premium caption pack.\n\nRules:\n- Suggest meaning; do not over-explain.\n- Do not describe the image literally unless in alt text.\n- Avoid vague mysticism, pseudo-poetry, and cliché.\n- Let the copy feel like memory after stylization: tactile, lucid, ceremonially strange, emotionally exact.\n- Keep hashtags curated and brand-consistent.\n- Return valid JSON only.\n\nReturn exactly:\n{\n  \"caption_hook\": \"...\",\n  \"caption_body\": \"...\",\n  \"hashtags\": [\"...\"],\n  \"alt_text\": \"...\",\n  \"keywords\": [\"...\"]\n}"
            }
          ]
        },
        "promptType": "define",
        "needsFallback": true,
        "batching": {},
        "text": "=Creative context:\n- Concept ID: {{ $json.concept_id }}\n- Brand: {{ $json.ctx.brand_name }}\n- Color asset URL: {{ $json.assets.color.drive_view_url }}\n\nPrimary concept packet:\n{{ JSON.stringify($json.family.color.concept_snapshot || {}, null, 2) }}\n\nRender intent:\n{{ $json.family.color.prompt_final || $json.family.color.prompt_raw || $json.concept_id }}\n\nWrite copy that feels like memory after stylization: lucid, tactile, quietly uncanny, symbolically precise, and never overwritten."
      },
      "id": "589726b5-5553-40ef-a835-cc92c77b0536",
      "name": "LLM Caption Alchemist",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2048,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('Parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim()\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    try {\n      return JSON.parse(slice);\n    } catch (err) {\n      throw new Error(`Parser: invalid salvaged JSON. ${err.message}`);\n    }\n  }\n\n  throw new Error('Parser: could not find a valid JSON object.');\n}\n\nconst BASE_NODE = 'Capture Telegram Message Id Color';\nconst OUT_KEY = 'caption_pack';\n\nconst base = $items(BASE_NODE)[0]?.json;\nif (!base) {\n  throw new Error(`Parser: base node \"${BASE_NODE}\" returned no data.`);\n}\n\nconst parsed = parseStrictJson($json);\n\nif (OUT_KEY === 'critic') {\n  parsed.approve = Boolean(parsed.approve);\n  for (const key of ['score', 'brand_fit', 'novelty', 'visual_viability']) {\n    parsed[key] = Number(parsed[key] || 0);\n  }\n}\n\nif (OUT_KEY === 'abstraction') {\n  let a = Number(parsed.abstraction_target || 6.2);\n  const min = Number(base.ctx?.target_abstraction_min || 5.8);\n  const max = Number(base.ctx?.target_abstraction_max || 6.8);\n  if (!Number.isFinite(a)) a = 6.2;\n  a = Math.max(min, Math.min(max, a));\n  parsed.abstraction_target = Math.round(a * 10) / 10;\n}\n\nif (OUT_KEY === 'render_spec') {\n  parsed.image_size = String(parsed.image_size || base.ctx?.image_size || '1024x1280');\n  parsed.provider_controls = (parsed.provider_controls && typeof parsed.provider_controls === 'object')\n    ? parsed.provider_controls\n    : {};\n  parsed.provider_controls.quality = String(parsed.provider_controls.quality || base.ctx?.quality || 'high');\n  parsed.provider_controls.background = String(parsed.provider_controls.background || base.ctx?.background || 'opaque');\n  parsed.provider_controls.output_format = String(parsed.provider_controls.output_format || base.ctx?.output_format || 'png');\n}\n\nif (OUT_KEY === 'caption_pack') {\n  parsed.hashtags = Array.isArray(parsed.hashtags) ? parsed.hashtags : [];\n  parsed.keywords = Array.isArray(parsed.keywords) ? parsed.keywords : [];\n}\n\nif (OUT_KEY === 'series_plan') {\n  parsed.variations = Array.isArray(parsed.variations) ? parsed.variations : [];\n}\n\nreturn [{\n  json: {\n    ...base,\n    [OUT_KEY]: parsed\n  }\n}];"
      },
      "id": "3db11107-4f42-42ea-a184-a31c20a7c9cb",
      "name": "Parse Caption JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "QKJX0AEqdinEwbnC",
          "mode": "list",
          "cachedResultName": "tvpx_social_queue",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/QKJX0AEqdinEwbnC"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "social_id",
              "keyValue": "={{'tvpx_soc_' + $json.ctx.trace_id + '_' + $json.concept_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "social_id": "={{'tvpx_soc_' + $json.ctx.trace_id + '_' + $json.concept_id}}",
            "asset_id": "={{'tvpx_as_' + $json.ctx.trace_id + '_' + $json.concept_id + '_color'}}",
            "concept_id": "={{$json.concept_id}}",
            "caption_hook": "={{$json.caption_pack.caption_hook}}",
            "caption_body": "={{$json.caption_pack.caption_body}}",
            "hashtags": "={{JSON.stringify($json.caption_pack.hashtags)}}",
            "alt_text": "={{$json.caption_pack.alt_text}}",
            "keywords_json": "={{JSON.stringify($json.caption_pack.keywords)}}",
            "status": "draft",
            "created_at": "={{$now}}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2d1c8458-3e97-4bd8-ad13-03289c9dcca2",
      "name": "Upsert Social Queue",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2624,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{$json.ctx.telegram_chat_id}}",
        "text": "={{'Caption (draft) — The Velvet Paradox\\n\\n' + $json.caption_pack.caption_hook + '\\n' + $json.caption_pack.caption_body + '\\n\\nHashtags: ' + ($json.caption_pack.hashtags||[]).join(' ')}}",
        "additionalFields": {}
      },
      "id": "547bfc4c-3f14-4f58-9fd7-59ee2b1682d6",
      "name": "Send Caption Draft To Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        3296,
        0
      ],
      "webhookId": "a607d79d-8901-440c-a81f-85b1224ce196",
      "credentials": {
        "telegramApi": {
          "id": "nXE4YlrFVa15bP8Q",
          "name": "videoGenForSocialBot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "8kWxhXpAUD2Xthqh",
          "mode": "list",
          "cachedResultName": "tvpx_series_lineage",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/8kWxhXpAUD2Xthqh"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "child_scene_seed_id",
              "keyValue": "={{$json.scene_seed_id || $json.concept_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "child_asset_id": "={{$json.asset_id}}",
            "child_render_candidate_id": "={{$json.render_candidate_id}}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8f1d4d75-5444-46d7-8f46-9c2bfac1459a",
      "name": "Update Series Lineage Child Asset",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -640,
        -224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "string_1",
              "leftValue": "={{$json.ctx.telegram_chat_id ? 'true' : 'false'}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b9caa1ee-0ec3-461f-b1f4-75fd0ffb09a8",
      "name": "Should Send Color To Telegram",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -416,
        -224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "string_1",
              "leftValue": "={{$json.telegram.color_message_id ? 'true' : 'false'}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7537fb2f-8ea9-4eab-a3f4-c4ae98fd4fcb",
      "name": "Has Color Message Id",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -192,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "string_1",
              "leftValue": "={{$json.ctx.telegram_chat_id ? 'true' : 'false'}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0932c315-47f8-4338-8fe8-858c6f0f97d4",
      "name": "Should Send Caption Draft",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3520,
        -224
      ]
    },
    {
      "id": "7bbd54e2-6b56-416f-b698-20c0cd1cffcd",
      "name": "Caption Model xAI Fallback Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        2128,
        432
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "grok-4-1-fast-reasoning",
          "cachedResultName": "grok-4-1-fast-reasoning"
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Build Family Drive Folder Plan (TVPX__40)\n * - Uses the asset family as the deterministic Drive folder identity\n * - If a folder id already exists upstream, reuse it\n */\nfunction safe(s) {\n  return String(s || '')\n    .replace(/[^a-zA-Z0-9_-]+/g, '_')\n    .replace(/_+/g, '_')\n    .replace(/^_|_$/g, '')\n    .slice(0, 100);\n}\n\nconst j = $json || {};\nconst ctx = (j.ctx && typeof j.ctx === 'object') ? { ...j.ctx } : {};\nconst assetFamilyId = String(j.asset_family_id || ctx.asset_family_id || '').trim();\nif (!assetFamilyId) {\n  throw new Error('TVPX__40: asset_family_id is required for Drive folder planning.');\n}\nctx.asset_family_id = assetFamilyId;\nctx.drive_folder_name = String(ctx.drive_folder_name || '').trim() || safe(`TVPX__${assetFamilyId}`);\nreturn [{ json: { ...j, ctx, asset_family_id: assetFamilyId } }];"
      },
      "id": "f2a722f9-5f1d-4c36-8e28-47bc6358df40",
      "name": "Build Family Drive Folder Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "string_1",
              "leftValue": "={{$json.ctx.drive_folder_id ? 'true' : 'false'}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c23fa29c-937a-4937-96c0-ccff70e77940",
      "name": "Has Existing Family Drive Folder",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1760,
        176
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "={{$json.ctx.drive_folder_name}}",
        "filter": {
          "whatToSearch": "folders",
          "folderId": "root"
        },
        "options": {}
      },
      "id": "d68e85fb-ff3e-4f72-8354-10a83d0ff440",
      "name": "Search Family Drive Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1536,
        256
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qf75UASR5hw79O6L",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $items('Build Family Drive Folder Plan')[0]?.json || {};\nconst folderName = String(base.ctx?.drive_folder_name || '').trim();\nconst hits = $input.all().map(i => i.json || {}).filter(row => String(row.id || row.fileId || row.data?.id || '').trim());\nconst exact = hits.find(row => String(row.name || row.title || '').trim() === folderName) || hits[0] || null;\nconst folderId = String(exact?.id || exact?.fileId || exact?.data?.id || '').trim();\nreturn [{\n  json: {\n    ...base,\n    ctx: {\n      ...(base.ctx || {}),\n      drive_folder_id: folderId || null\n    }\n  }\n}];"
      },
      "id": "684a742d-2dc8-4b17-a683-bf1c323b2440",
      "name": "Attach Searched Family Drive Folder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "string_1",
              "leftValue": "={{$json.ctx.drive_folder_id ? 'true' : 'false'}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6d4a285-cdf9-4b14-9379-8a7a3cc7b940",
      "name": "Has Resolved Family Drive Folder",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1088,
        256
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "name": "={{$json.ctx.drive_folder_name}}",
        "driveId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "root"
        },
        "options": {}
      },
      "id": "1b3a0977-0af1-4aa5-aab5-4d02216eb140",
      "name": "Create Family Drive Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -864,
        352
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qf75UASR5hw79O6L",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $items('Build Family Drive Folder Plan')[0]?.json || {};\nconst r = $json || {};\nconst folderId = String(r.id || r.fileId || r.data?.id || '').trim();\nif (!folderId) {\n  throw new Error('TVPX__40: Google Drive folder create returned no folder id.');\n}\nreturn [{\n  json: {\n    ...base,\n    ctx: {\n      ...(base.ctx || {}),\n      drive_folder_id: folderId\n    }\n  }\n}];"
      },
      "id": "4eff653a-6976-4831-bece-153dad111340",
      "name": "Attach Created Family Drive Folder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Build Color Telegram Preview Packet\n * Reattaches the original uploaded binary plus Drive URLs for preview dispatch.\n */\nfunction previewName(name) {\n  const base = String(name || 'tvpx_preview').replace(/\\.[^.]+$/, '');\n  return base + '_telegram_preview.jpg';\n}\n\nconst base = $items('Normalize Drive Result Color')[0]?.json || {};\nconst source = $items('Make Safe Filename Color')[0] || {};\nconst image = source.binary?.image;\nif (!image) {\n  throw new Error('TVPX__40: original color binary missing for Telegram preview.');\n}\n\nreturn [{\n  json: {\n    ...base,\n    preview_filename: previewName(base.assets?.color?.filename || source.json?.filename)\n  },\n  binary: {\n    image\n  }\n}];"
      },
      "id": "2ce72fab-e413-4ef1-adb7-a6f66d607b9c",
      "name": "Build Color Telegram Preview Packet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -320
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "image",
        "width": 720,
        "height": 900,
        "resizeOption": "maximumArea",
        "options": {
          "destinationKey": "telegram_preview",
          "fileName": "={{$json.preview_filename}}",
          "format": "jpeg",
          "quality": 35
        }
      },
      "id": "5906cfe1-c1bb-4b7d-bf3e-713e02bb7f7d",
      "name": "Compress Color Telegram Preview",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        32,
        -320
      ]
    }
  ],
  "connections": {
    "When Executed By Another Workflow": {
      "main": [
        [
          {
            "node": "Initialize Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Envelope": {
      "main": [
        [
          {
            "node": "Has Telegram Chat Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Telegram Chat Id": {
      "main": [
        [
          {
            "node": "Build Family Drive Folder Plan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disable Telegram Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disable Telegram Dispatch": {
      "main": [
        [
          {
            "node": "Build Family Drive Folder Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Color Image": {
      "main": [
        [
          {
            "node": "Ensure Binary For Color",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Binary For Color": {
      "main": [
        [
          {
            "node": "Make Safe Filename Color",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Safe Filename Color": {
      "main": [
        [
          {
            "node": "Upload Color To Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Color To Google Drive": {
      "main": [
        [
          {
            "node": "Normalize Drive Result Color",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Drive Result Color": {
      "main": [
        [
          {
            "node": "Upsert Asset Registry Color",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Asset Registry Color": {
      "main": [
        [
          {
            "node": "Update Series Lineage Child Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Series Lineage Child Asset": {
      "main": [
        [
          {
            "node": "Should Send Color To Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Color To Telegram": {
      "main": [
        [
          {
            "node": "Build Color Telegram Preview Packet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Telegram Message Id Color",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Color To Telegram": {
      "main": [
        [
          {
            "node": "Capture Telegram Message Id Color",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Telegram Message Id Color": {
      "main": [
        [
          {
            "node": "Has Color Message Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Color Message Id": {
      "main": [
        [
          {
            "node": "Register Reply Index Color",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Caption Alchemist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Reply Index Color": {
      "main": [
        [
          {
            "node": "LLM Caption Alchemist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Caption Alchemist": {
      "main": [
        [
          {
            "node": "Parse Caption JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Caption JSON": {
      "main": [
        [
          {
            "node": "Upsert Social Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Social Queue": {
      "main": [
        [
          {
            "node": "Should Send Caption Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Caption Draft": {
      "main": [
        [
          {
            "node": "Send Caption Draft To Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Caption Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Caption Alchemist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Caption Model xAI Fallback Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Caption Alchemist",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Build Family Drive Folder Plan": {
      "main": [
        [
          {
            "node": "Has Existing Family Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Existing Family Drive Folder": {
      "main": [
        [
          {
            "node": "Download Color Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Family Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Family Drive Folder": {
      "main": [
        [
          {
            "node": "Attach Searched Family Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Searched Family Drive Folder": {
      "main": [
        [
          {
            "node": "Has Resolved Family Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Resolved Family Drive Folder": {
      "main": [
        [
          {
            "node": "Download Color Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Family Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Family Drive Folder": {
      "main": [
        [
          {
            "node": "Attach Created Family Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Created Family Drive Folder": {
      "main": [
        [
          {
            "node": "Download Color Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Color Telegram Preview Packet": {
      "main": [
        [
          {
            "node": "Compress Color Telegram Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress Color Telegram Preview": {
      "main": [
        [
          {
            "node": "Send Color To Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f5164ffd-13e6-41d7-bcf7-f6847c782e01",
  "activeVersionId": null,
  "versionCounter": 24,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-05T16:11:43.797Z",
      "createdAt": "2026-03-05T16:11:43.797Z",
      "role": "workflow:owner",
      "workflowId": "vaFfkhqKgBk2VCGh",
      "projectId": "NK3VX1YKPgfTJeSY",
      "project": {
        "updatedAt": "2025-12-08T15:00:57.909Z",
        "createdAt": "2025-12-08T14:54:00.172Z",
        "id": "NK3VX1YKPgfTJeSY",
        "name": "Benny Ebere <ebere.benny97@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4cb24128-c146-45db-a1a6-9dd54603f17a"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}