tvpx__50__series-from-telegram-reply--EKpVMmrlNf2ESBSO.json
{
  "updatedAt": "2026-03-05T20:14:12.296Z",
  "createdAt": "2026-03-05T16:20:57.513Z",
  "id": "EKpVMmrlNf2ESBSO",
  "name": "TVPX__50__Series From Telegram Reply",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a033bae4-67d5-4f19-a6eb-8ac67c2d203f",
      "name": "When Executed By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2016,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Initialize Envelope (TVPX__50)\n * Expected inbound shape from Router:\n * {\n *   ctx, tg: { chat_id, message_id, reply_to_message_id, text }, input\n * }\n */\n\nfunction fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nconst incoming = $json || {};\nconst now = new Date().toISOString();\n\nconst baseCtx = (incoming.ctx && typeof incoming.ctx === 'object') ? incoming.ctx : {};\nconst traceId = String(baseCtx.trace_id || '').trim() || `tvpx_${fnv1a(JSON.stringify(incoming).slice(0, 5000) + '::' + now)}`;\n\nconst tg = incoming.tg || incoming.message || {};\n\nconst ctx = {\n  project_ns: 'TVPX',\n  brand_name: 'The Velvet Paradox',\n  trace_id: traceId,\n  trigger_mode: 'telegram',\n  route_mode: 'reply_series',\n  received_at: now,\n\n  // defaults for series\n  series_default_count: Number(baseCtx.series_default_count || incoming.series_default_count || 4),\n  series_max_count: Number(baseCtx.series_max_count || incoming.series_max_count || 8)\n};\n\nconst chatId = String(tg.chat_id || tg.chat?.id || '').trim();\nconst replyToId = String(tg.reply_to_message_id || tg.reply_to_message?.message_id || '').trim();\nconst text = String(tg.text || tg.caption || '').trim();\n\nif (!chatId) throw new Error('TVPX__50: Missing tg.chat_id');\nif (!replyToId) throw new Error('TVPX__50: Missing tg.reply_to_message_id (must be a reply to an image message)');\n\nreturn [{\n  json: {\n    ctx,\n    tg: {\n      chat_id: chatId,\n      reply_to_message_id: Number(replyToId),\n      text\n    },\n    input: incoming.input || incoming\n  }\n}];"
      },
      "id": "205efb23-60c9-498f-9a1f-15d998ea8b77",
      "name": "Initialize Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json || {};\nconst text = String(j.tg?.text || '').trim();\n\nlet count = Number(j.ctx?.series_default_count || 4);\nlet instruction = '';\nlet mode = 'implicit';\n\nconst seriesMatch = text.match(/^\\s*\\/series\\b\\s*(.*)$/i);\n\nif (seriesMatch) {\n  mode = 'explicit';\n  const rest = String(seriesMatch[1] || '').trim();\n  const leading = rest.match(/^(\\d+)\\s*(.*)$/);\n\n  if (leading) {\n    count = Number(leading[1]);\n    instruction = String(leading[2] || '').trim();\n  } else {\n    instruction = rest;\n  }\n} else {\n  // Freeform reply: only use it if it looks intentional.\n  // Short throwaway replies should not spawn costly work.\n  if (text.length >= 8) {\n    instruction = text;\n    mode = 'freeform';\n  } else {\n    throw new Error('TVPX__50: reply is too short to treat as a series instruction. Use /series or a meaningful modifier.');\n  }\n}\n\nif (!Number.isFinite(count) || count < 1) count = Number(j.ctx?.series_default_count || 4);\ncount = Math.min(Math.max(count, 1), Number(j.ctx?.series_max_count || 8));\n\nif (!instruction) {\n  instruction = 'Preserve identity and symbolic logic; vary atmosphere, distance, and light pressure subtly.';\n}\n\nreturn [{\n  json: {\n    ...j,\n    series_request: {\n      count,\n      instruction,\n      mode\n    }\n  }\n}];"
      },
      "id": "c96ca8e0-42f4-4b96-aee9-dffb338d5e79",
      "name": "Parse Series Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        352
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "19rCaZx3furKQz5y",
          "mode": "list",
          "cachedResultName": "tvpx_telegram_reply_index",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/19rCaZx3furKQz5y"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{$json.tg.chat_id}}"
            },
            {
              "keyName": "message_id",
              "keyValue": "={{$json.tg.reply_to_message_id}}"
            }
          ]
        }
      },
      "id": "974bbd93-875b-4924-84ab-7f7a16b5e300",
      "name": "Lookup Reply Index",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1344,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Reattach Context After Reply Lookup\n */\n\nconst base = $items('Parse Series Command')[0].json;\nconst row = $input.all()[0]?.json || null;\n\nif (!row) {\n  throw new Error('TVPX__50: Could not find reply index record for this replied message. Ensure TVPX__40 registered it.');\n}\n\nreturn [{\n  json: {\n    ctx: base.ctx,\n    tg: base.tg,\n    series_request: base.series_request,\n    reply_index: row\n  }\n}];"
      },
      "id": "a6e9a0c9-0093-4277-ab90-26f047335e0c",
      "name": "Reattach After Reply Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        352
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "EMrgSDBhBwr8SiT9",
          "mode": "list",
          "cachedResultName": "tvpx_asset_registry",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/EMrgSDBhBwr8SiT9"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "asset_id",
              "keyValue": "={{$json.reply_index.asset_id}}"
            }
          ]
        }
      },
      "id": "d7151b00-0810-4282-acba-c973d327aa4b",
      "name": "Get Parent Asset",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -896,
        232
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "gVpNusMuiqbDU3pK",
          "mode": "list",
          "cachedResultName": "tvpx_concept_pool",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/gVpNusMuiqbDU3pK"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "concept_id",
              "keyValue": "={{$json.reply_index.concept_id}}"
            }
          ]
        }
      },
      "id": "37e0b615-0352-4275-a9e2-2555ab456a95",
      "name": "Get Parent Concept",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -896,
        424
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "options": {}
      },
      "id": "ae38f51a-67cb-47e4-84c9-b8733147af38",
      "name": "Merge Parent Asset And Concept",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -672,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Assemble Parent Packet\n * Ensures we have parent asset + parent concept; builds a compact packet.\n */\n\nconst base = $items('Reattach After Reply Lookup')[0].json;\nconst ctx = base.ctx;\n\nconst merged = $json;\n// Merge node passes one combined object; but we fetch from upstream nodes reliably too\nconst parentAsset = $items('Get Parent Asset')[0]?.json;\nconst parentConcept = $items('Get Parent Concept')[0]?.json;\n\nif (!parentAsset) throw new Error('TVPX__50: Parent asset not found.');\nif (!parentConcept) throw new Error('TVPX__50: Parent concept not found.');\n\nconst dna = (() => {\n  try { return JSON.parse(parentConcept.series_dna_json || '{}'); } catch { return {}; }\n})();\n\nreturn [{\n  json: {\n    ctx,\n    tg: base.tg,\n    series_request: base.series_request,\n    reply_index: base.reply_index,\n    parent: {\n      asset: parentAsset,\n      concept: parentConcept,\n      series_dna: dna\n    }\n  }\n}];"
      },
      "id": "121b1c1e-5cd0-490d-be39-c289d8889a4f",
      "name": "Assemble Parent Packet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        352
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "options": {}
      },
      "id": "0237d211-cbee-4118-83ef-344c55c9b8c8",
      "name": "OpenAI Series Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -152,
        576
      ]
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=SYSTEM\nYou are TVPX__LLM__Series_Variation_Designer for The Velvet Paradox.\n\nYour job is to produce a coherent variation plan inside the same visual universe.\n\nRules:\n- Preserve identity, concept thesis, symbolic logic, emotional temperature, and abstraction band.\n- Vary only controlled axes: atmosphere, distance, framing, light behavior, material emphasis, accent placement, ritual density.\n- Do not introduce random new objects.\n- Return valid JSON only.\n- Output exactly the requested number of variations.\n\nReturn exactly:\n{\n  \"series_group_id\": \"...\",\n  \"continuity_rules\": {\n    \"must_preserve\": [\"...\"],\n    \"must_avoid\": [\"...\"],\n    \"composition_dna\": \"...\",\n    \"abstraction_band\": [5.8, 6.8]\n  },\n  \"variations\": [\n    {\n      \"variation_index\": 1,\n      \"variation_instruction\": \"...\",\n      \"prompt_delta\": \"...\",\n      \"palette_shift\": \"...\",\n      \"atmosphere_shift\": \"...\",\n      \"intensity_change\": \"...\"\n    }\n  ]\n}\n\nUSER\nRequested count: {{ $json.series_request.count }}\nUser instruction: {{ $json.series_request.instruction }}\n\nParent asset:\n{{ JSON.stringify($json.parent.asset, null, 2) }}\n\nParent concept:\n{{ JSON.stringify($json.parent.concept, null, 2) }}\n\nParent series DNA:\n{{ JSON.stringify($json.parent.series_dna, null, 2) }}\n\nPreserve family resemblance."
            }
          ]
        }
      },
      "id": "87bc97cb-7f53-41c4-86f0-69d9d9529ca9",
      "name": "LLM Series Variation Designer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        -224,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('Parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim()\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    try {\n      return JSON.parse(slice);\n    } catch (err) {\n      throw new Error(`Parser: invalid salvaged JSON. ${err.message}`);\n    }\n  }\n\n  throw new Error('Parser: could not find a valid JSON object.');\n}\n\nconst BASE_NODE = 'Assemble Parent Packet';\nconst OUT_KEY = 'series_plan';\n\nconst base = $items(BASE_NODE)[0]?.json;\nif (!base) {\n  throw new Error(`Parser: base node \"${BASE_NODE}\" returned no data.`);\n}\n\nconst parsed = parseStrictJson($json);\n\n// Per-output hardening\nif (OUT_KEY === 'critic') {\n  parsed.approve = Boolean(parsed.approve);\n  for (const key of ['score', 'brand_fit', 'novelty', 'visual_viability']) {\n    parsed[key] = Number(parsed[key] || 0);\n  }\n}\n\nif (OUT_KEY === 'abstraction') {\n  let a = Number(parsed.abstraction_target || 6.2);\n  const min = Number(base.ctx?.target_abstraction_min || 5.8);\n  const max = Number(base.ctx?.target_abstraction_max || 6.8);\n  if (!Number.isFinite(a)) a = 6.2;\n  a = Math.max(min, Math.min(max, a));\n  parsed.abstraction_target = Math.round(a * 10) / 10;\n}\n\nif (OUT_KEY === 'render_spec') {\n  parsed.image_size = String(parsed.image_size || base.ctx?.image_size || '1024x1280');\n  parsed.provider_controls = (parsed.provider_controls && typeof parsed.provider_controls === 'object')\n    ? parsed.provider_controls\n    : {};\n  parsed.provider_controls.quality = String(parsed.provider_controls.quality || base.ctx?.quality || 'high');\n  parsed.provider_controls.background = String(parsed.provider_controls.background || base.ctx?.background || 'opaque');\n  parsed.provider_controls.output_format = String(parsed.provider_controls.output_format || base.ctx?.output_format || 'png');\n}\n\nif (OUT_KEY === 'caption_pack') {\n  parsed.hashtags = Array.isArray(parsed.hashtags) ? parsed.hashtags : [];\n  parsed.keywords = Array.isArray(parsed.keywords) ? parsed.keywords : [];\n}\n\nif (OUT_KEY === 'series_plan') {\n  parsed.variations = Array.isArray(parsed.variations) ? parsed.variations : [];\n}\n\nreturn [{\n  json: {\n    ...base,\n    [OUT_KEY]: parsed\n  }\n}];"
      },
      "id": "906f50a6-f05f-43a2-8f16-bd5c4d188ace",
      "name": "Parse Series Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "function fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nconst j = $json || {};\nconst ctx = j.ctx || {};\nconst parentConcept = j.parent?.concept || {};\nconst parentAsset = j.parent?.asset || {};\nconst plan = j.series_plan || {};\n\nconst rootId = String(parentConcept.root_concept_id || parentConcept.concept_id || '').trim();\nconst parentId = String(parentConcept.concept_id || '').trim();\nconst rootAssetId = String(parentAsset.root_asset_id || parentAsset.asset_id || '').trim();\nconst parentAssetId = String(parentAsset.asset_id || '').trim();\n\nif (!parentId) throw new Error('TVPX__50: missing parent concept_id.');\nif (!parentAssetId) throw new Error('TVPX__50: missing parent asset_id.');\n\nconst now = new Date().toISOString();\nconst variations = Array.isArray(plan.variations) ? plan.variations : [];\n\nreturn variations.map((v) => {\n  const delta = String(v.prompt_delta || v.variation_instruction || '').trim();\n  const seed = `${ctx.trace_id}::${parentId}::${v.variation_index}::${delta}`;\n  const childId = `tvpx_cp_${fnv1a(seed)}`;\n\n  let seriesDNA = {};\n  try {\n    seriesDNA = JSON.parse(String(parentConcept.series_dna_json || '{}'));\n  } catch {\n    seriesDNA = {};\n  }\n\n  const seriesGroupId = String(\n    plan.series_group_id ||\n    seriesDNA.series_group_id ||\n    `tvpx_series_${fnv1a(parentId + '::' + now)}`\n  ).trim();\n\n  const childSeriesDNA = {\n    ...seriesDNA,\n    series_group_id: seriesGroupId,\n    variation_index: Number(v.variation_index || 0),\n    prompt_delta: delta,\n    palette_shift: String(v.palette_shift || '').trim(),\n    atmosphere_shift: String(v.atmosphere_shift || '').trim(),\n    intensity_change: String(v.intensity_change || '').trim()\n  };\n\n  const thesis = String(parentConcept.concept_thesis || '').trim();\n  const variationInstruction = String(v.variation_instruction || '').trim();\n  const childThesis = variationInstruction\n    ? `${thesis} | Variation: ${variationInstruction}`\n    : thesis;\n\n  return {\n    json: {\n      ctx,\n      child: {\n        concept_id: childId,\n        trace_id: ctx.trace_id,\n        origin_type: 'telegram_series',\n        source_id: String(parentConcept.source_id || '').trim(),\n        parent_concept_id: parentId,\n        root_concept_id: rootId,\n        seed_fragment_ids_json: String(parentConcept.seed_fragment_ids_json || '[]'),\n        concept_thesis: childThesis,\n        symbolic_tension: String(parentConcept.symbolic_tension || '').trim(),\n        material_anchor: String(parentConcept.material_anchor || '').trim(),\n        spatial_directive: String(parentConcept.spatial_directive || '').trim(),\n        palette_directive: String(parentConcept.palette_directive || '{}'),\n        texture_directive: String(parentConcept.texture_directive || '{}'),\n        abstraction_target: Number(parentConcept.abstraction_target || 6.2),\n        series_dna_json: JSON.stringify(childSeriesDNA),\n        prompt_guardrails_json: String(parentConcept.prompt_guardrails_json || '{}'),\n        quality_score: Number(parentConcept.quality_score || 0),\n        state: 'ready',\n        lock_owner: '',\n        lock_expires_at: null,\n        used_count: 0,\n        last_used_at: null,\n        created_at: now,\n        updated_at: now\n      },\n      lineage: {\n        lineage_id: `tvpx_lin_${fnv1a(childId + '::' + parentId)}`,\n        series_group_id: seriesGroupId,\n        root_asset_id: rootAssetId,\n        parent_asset_id: parentAssetId,\n        child_asset_id: null,\n        parent_concept_id: parentId,\n        child_concept_id: childId,\n        variation_index: Number(v.variation_index || 0),\n        variation_instruction: variationInstruction,\n        continuity_rules_json: JSON.stringify(plan.continuity_rules || {}),\n        created_at: now\n      }\n    }\n  };\n});"
      },
      "id": "e56a974f-746a-4819-950d-0ca4ee570ccc",
      "name": "Build Child Concepts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        352
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "gVpNusMuiqbDU3pK",
          "mode": "list",
          "cachedResultName": "tvpx_concept_pool",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/gVpNusMuiqbDU3pK"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "concept_id",
              "keyValue": "={{$json.child.concept_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "concept_id": "={{$json.child.concept_id}}",
            "trace_id": "={{$json.child.trace_id}}",
            "origin_type": "={{$json.child.origin_type}}",
            "source_id": "={{$json.child.source_id}}",
            "parent_concept_id": "={{$json.child.parent_concept_id}}",
            "root_concept_id": "={{$json.child.root_concept_id}}",
            "seed_fragment_ids_json": "={{$json.child.seed_fragment_ids_json}}",
            "concept_thesis": "={{$json.child.concept_thesis}}",
            "symbolic_tension": "={{$json.child.symbolic_tension}}",
            "material_anchor": "={{$json.child.material_anchor}}",
            "spatial_directive": "={{$json.child.spatial_directive}}",
            "palette_directive": "={{$json.child.palette_directive}}",
            "texture_directive": "={{$json.child.texture_directive}}",
            "abstraction_target": "={{$json.child.abstraction_target}}",
            "series_dna_json": "={{$json.child.series_dna_json}}",
            "prompt_guardrails_json": "={{$json.child.prompt_guardrails_json}}",
            "quality_score": "={{$json.child.quality_score}}",
            "state": "={{$json.child.state}}",
            "lock_owner": "={{$json.child.lock_owner}}",
            "lock_expires_at": "={{$json.child.lock_expires_at}}",
            "used_count": "={{$json.child.used_count}}",
            "last_used_at": "={{$json.child.last_used_at}}",
            "created_at": "={{$json.child.created_at}}",
            "updated_at": "={{$json.child.updated_at}}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4d4d1841-a0c9-4c37-9045-ab5103c57416",
      "name": "Upsert Child Concepts",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        576,
        352
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a51cfbfa-8b0d-4d59-a464-346fa4689839",
      "name": "Loop Variations",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        352
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_WORKFLOW_ID__TVPX__30__Image Generation Dual Mode",
          "mode": "list",
          "cachedResultName": "TVPX__30__Image Generation Dual Mode",
          "cachedResultUrl": "/workflow/REPLACE_WITH_WORKFLOW_ID__TVPX__30__Image Generation Dual Mode"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "3be60d3d-93dc-471f-8b7f-67983c340782",
      "name": "Call Image Generation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1024,
        160
      ]
    },
    {
      "parameters": {},
      "id": "cdd841c1-7830-4dc9-a10f-17e7de2cfe35",
      "name": "Next Variation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1472,
        328
      ]
    },
    {
      "parameters": {
        "chatId": "={{$items('Initialize Envelope')[0].json.tg.chat_id}}",
        "text": "={{`The Velvet Paradox — Series queued: ${$items('Parse Series Command')[0].json.series_request.count} variations.\\nInstruction: ${$items('Parse Series Command')[0].json.series_request.instruction}`}}",
        "additionalFields": {}
      },
      "id": "61ae8cce-6506-4e8b-b165-5736910192ea",
      "name": "Send Series Queued Ack",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1024,
        352
      ],
      "webhookId": "84e4e2bc-8ae9-453f-9da4-911b651c0563",
      "credentials": {
        "telegramApi": {
          "id": "nXE4YlrFVa15bP8Q",
          "name": "videoGenForSocialBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "8kWxhXpAUD2Xthqh",
          "mode": "list",
          "cachedResultName": "tvpx_series_lineage",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/8kWxhXpAUD2Xthqh"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {}
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "lineage_id",
              "displayName": "lineage_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "series_group_id",
              "displayName": "series_group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "root_asset_id",
              "displayName": "root_asset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_asset_id",
              "displayName": "parent_asset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "child_asset_id",
              "displayName": "child_asset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_concept_id",
              "displayName": "parent_concept_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "child_concept_id",
              "displayName": "child_concept_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "variation_index",
              "displayName": "variation_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "variation_instruction",
              "displayName": "variation_instruction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "continuity_rules_json",
              "displayName": "continuity_rules_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1248,
        160
      ],
      "id": "ddc07f29-e54f-4554-8e37-455833fb67d8",
      "name": "Upsert row(s)"
    }
  ],
  "connections": {
    "When Executed By Another Workflow": {
      "main": [
        [
          {
            "node": "Initialize Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Envelope": {
      "main": [
        [
          {
            "node": "Parse Series Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Series Command": {
      "main": [
        [
          {
            "node": "Lookup Reply Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Reply Index": {
      "main": [
        [
          {
            "node": "Reattach After Reply Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reattach After Reply Lookup": {
      "main": [
        [
          {
            "node": "Get Parent Asset",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Parent Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Parent Asset": {
      "main": [
        [
          {
            "node": "Merge Parent Asset And Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Parent Concept": {
      "main": [
        [
          {
            "node": "Merge Parent Asset And Concept",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Parent Asset And Concept": {
      "main": [
        [
          {
            "node": "Assemble Parent Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Parent Packet": {
      "main": [
        [
          {
            "node": "LLM Series Variation Designer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Series Variation Designer": {
      "main": [
        [
          {
            "node": "Parse Series Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Series Plan": {
      "main": [
        [
          {
            "node": "Build Child Concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Child Concepts": {
      "main": [
        [
          {
            "node": "Upsert Child Concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Child Concepts": {
      "main": [
        [
          {
            "node": "Loop Variations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Variations": {
      "main": [
        [
          {
            "node": "Call Image Generation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Series Queued Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Image Generation": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Series Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Series Variation Designer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Next Variation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Variation": {
      "main": [
        [
          {
            "node": "Loop Variations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0aa20183-b672-461d-9e23-6c7b5ca9fb2e",
  "activeVersionId": null,
  "versionCounter": 19,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-05T16:20:57.513Z",
      "createdAt": "2026-03-05T16:20:57.513Z",
      "role": "workflow:owner",
      "workflowId": "EKpVMmrlNf2ESBSO",
      "projectId": "NK3VX1YKPgfTJeSY",
      "project": {
        "updatedAt": "2025-12-08T15:00:57.909Z",
        "createdAt": "2025-12-08T14:54:00.172Z",
        "id": "NK3VX1YKPgfTJeSY",
        "name": "Benny Ebere <ebere.benny97@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4cb24128-c146-45db-a1a6-9dd54603f17a"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}