tvpx__20__concept-forge-and-brief-pool--of3xeq4C34JVxykf.json
{
  "updatedAt": "2026-03-05T19:55:43.848Z",
  "createdAt": "2026-03-05T14:11:39.752Z",
  "id": "of3xeq4C34JVxykf",
  "name": "TVPX__20__Concept Forge And Brief Pool",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "6c942f2b-6482-4555-9c00-248ade2f163e",
      "name": "When Executed By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Initialize Envelope (TVPX__20)\n * Bulletproof normalization for downstream multi-LLM pipeline.\n */\nfunction fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nconst incoming = $json || {};\nconst now = new Date().toISOString();\n\nconst baseCtx = (incoming.ctx && typeof incoming.ctx === 'object') ? incoming.ctx : {};\nconst traceSeed = JSON.stringify(incoming).slice(0, 5000) + '::' + now;\n\nconst ctx = {\n  project_ns: 'TVPX',\n  brand_name: 'The Velvet Paradox',\n  trace_id: baseCtx.trace_id || `tvpx_${fnv1a(traceSeed)}`,\n  trigger_mode: baseCtx.trigger_mode || incoming.trigger_mode || 'internal',\n  route_mode: baseCtx.route_mode || incoming.route_mode || 'concept_forge',\n  received_at: now,\n  crawl_run_id: String(incoming.crawl_run_id || baseCtx.crawl_run_id || '').trim(),\n  source_id: String(incoming.source_id || baseCtx.source_id || '').trim(),\n  max_fragments_for_llm: Number(baseCtx.max_fragments_for_llm || incoming.max_fragments_for_llm || 10),\n  max_chars_per_fragment_for_llm: Number(baseCtx.max_chars_per_fragment_for_llm || incoming.max_chars_per_fragment_for_llm || 1400),\n  target_abstraction_min: Number(baseCtx.target_abstraction_min || incoming.target_abstraction_min || 5.8),\n  target_abstraction_max: Number(baseCtx.target_abstraction_max || incoming.target_abstraction_max || 6.8)\n};\n\nconst source = (incoming.source && typeof incoming.source === 'object') ? incoming.source : {};\n\nreturn [{ json: { ctx, source, input: incoming.input || incoming, carry: incoming.carry || {}, provided_fragments: Array.isArray(incoming.fragments) ? incoming.fragments : [] } }];"
      },
      "id": "36e319c0-5fa5-41b0-88c7-749075fcd95a",
      "name": "Initialize Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        160
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "DOpMQGynGFn8U3vb",
          "mode": "list",
          "cachedResultName": "tvpx_text_fragment_bank",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/DOpMQGynGFn8U3vb"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "crawl_run_id",
              "keyValue": "={{$json.ctx.crawl_run_id}}"
            }
          ]
        }
      },
      "id": "f5dd9180-df60-4199-8e19-3807c6e27343",
      "name": "Get Fragments For Run",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1056,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Reattach Context After Fragments\n */\nconst base = $items('Initialize Envelope')[0].json;\nconst ctx = base.ctx;\nconst source = base.source;\n\nconst dtRows = $input.all().map(i => i.json);\nconst provided = Array.isArray(base.provided_fragments) ? base.provided_fragments : [];\nconst fragments = dtRows.length ? dtRows : provided;\n\nreturn [{ json: { ctx, source, fragments } }];"
      },
      "id": "ee925050-b69c-497b-95e0-0d7a08784efd",
      "name": "Reattach Context After Fragments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has_frags",
              "leftValue": "={{Array.isArray($json.fragments) ? $json.fragments.length : 0}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a636e536-7400-49fd-9e75-c8f40afe508c",
      "name": "Has Fragments",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "/** Build No Fragments Reject */\nconst base = $items('Reattach Context After Fragments')[0].json;\nconst ctx = base.ctx;\nconst now = new Date().toISOString();\nreturn [{\n  json: {\n    ctx,\n    reject: {\n      reject_id: `tvpx_rej_${ctx.trace_id}_no_fragments`,\n      trace_id: ctx.trace_id,\n      stage_name: 'concept_forge_ingress',\n      rejection_reason: 'No fragments found for crawl_run_id. Upstream crawl may have yielded empty dataset or mapping mismatch.',\n      raw_output_json: JSON.stringify({ crawl_run_id: ctx.crawl_run_id, source_id: ctx.source_id }),\n      created_at: now\n    }\n  }\n}];"
      },
      "id": "83fd6a90-9672-4e9f-aa77-5e4d9196910b",
      "name": "Build No Fragments Reject",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "DimXJ3nOKPWyV1bE",
          "mode": "list",
          "cachedResultName": "tvpx_concept_reject_log",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/DimXJ3nOKPWyV1bE"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "reject_id",
              "keyValue": "={{$json.reject.reject_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reject_id": "={{$json.reject.reject_id}}",
            "trace_id": "={{$json.reject.trace_id}}",
            "stage_name": "={{$json.reject.stage_name}}",
            "rejection_reason": "={{$json.reject.rejection_reason}}",
            "raw_output_json": "={{$json.reject.raw_output_json}}",
            "created_at": "={{$json.reject.created_at}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "reject_id",
              "displayName": "reject_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "concept_id",
              "displayName": "concept_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "stage_name",
              "displayName": "stage_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rejection_reason",
              "displayName": "rejection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "raw_output_json",
              "displayName": "raw_output_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f753a1d8-3a75-432d-8c93-a6ba9689dbb3",
      "name": "Upsert Reject Log",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Assemble Fragment Bundle\n * Selects high-signal fragments aligned with The Velvet Paradox creative DNA.\n */\nfunction clean(s) {\n  return String(s || '').replace(/\\r/g, '').replace(/[\\t ]+/g, ' ').trim();\n}\nfunction clip(s, n) {\n  const t = clean(s);\n  return t.length > n ? t.slice(0, n) + '…' : t;\n}\nconst base = $json;\nconst ctx = base.ctx;\nconst source = base.source || {};\nconst frags = Array.isArray(base.fragments) ? base.fragments : [];\n\nconst SIGNAL = ['pressure','fracture','collapse','repair','restraint','rupture','erosion','threshold','damage','bruise','stain','residue','seep','crack','buckle','warp','misalign','aftermath','tension','constraint','weight','drift','fragile','ritual','memory','identity','veil','shadow','fog','silence','ruin','relic','static','paradox'];\nfunction scoreFrag(t) {\n  const s = t.toLowerCase();\n  let score = 0;\n  for (const w of SIGNAL) if (s.includes(w)) score += 1;\n  if (/(stone|plaster|velvet|metal|dust|smoke|haze|wet|rust|cloth|feather|fur|wax|candle|mirror|arch|stair)/i.test(t)) score += 3;\n  if (t.length > 500) score += 1;\n  return score;\n}\n\nconst normalized = frags.map(f => {\n  const cleaned = clean(f.cleaned_text || f.text || f.raw_text || '');\n  return {\n    fragment_id: String(f.fragment_id || f.id || f.dt_row_id || '').trim(),\n    page_url: String(f.page_url || f.url || '').trim(),\n    page_title: String(f.page_title || f.title || '').trim(),\n    cleaned_text: cleaned\n  };\n}).filter(x => x.cleaned_text);\n\nnormalized.sort((a,b) => scoreFrag(b.cleaned_text) - scoreFrag(a.cleaned_text));\n\nconst takeN = Math.max(3, Math.min(Number(ctx.max_fragments_for_llm || 10), 16));\nconst maxChars = Math.max(600, Math.min(Number(ctx.max_chars_per_fragment_for_llm || 1400), 2200));\n\nconst picked = normalized.slice(0, takeN).map(x => ({\n  fragment_id: x.fragment_id,\n  page_url: x.page_url,\n  page_title: x.page_title,\n  excerpt: clip(x.cleaned_text, maxChars)\n}));\n\nconst excerptBlock = picked.map((p, i) => {\n  const head = `[#${i+1}] ${p.page_title || 'Untitled'} | ${p.page_url || ''}`.trim();\n  return `${head}\\n${p.excerpt}`;\n}).join('\\n\\n---\\n\\n');\n\nreturn [{\n  json: {\n    ctx,\n    source,\n    bundle: {\n      source_id: ctx.source_id,\n      crawl_run_id: ctx.crawl_run_id,\n      fragment_ids: picked.map(p => p.fragment_id).filter(Boolean),\n      excerpt_block: excerptBlock\n    }\n  }\n}];"
      },
      "id": "211f88cc-c34e-4468-94db-34eabc8090cb",
      "name": "Assemble Fragment Bundle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "options": {}
      },
      "id": "a07bb513-dc85-4880-8c86-c07d3ddc9bda",
      "name": "OpenAI Director Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -96,
        528
      ]
    },
    {
      "parameters": {
        "model": "grok-4-1-fast-reasoning",
        "options": {}
      },
      "id": "59343d9a-61c1-4ed9-8663-790bdaf99939",
      "name": "xAI Critic Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        2800,
        528
      ]
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=SYSTEM\nYou are TVPX__LLM__Theme_Seizer for The Velvet Paradox.\n\nYour job is to extract latent visual themes, symbolic matter, and emotional pressure from source text.\n\nCreative baseline:\n- Keep the world readable and representational.\n- Make it strange through semantic destabilization, not random surrealism.\n- Favor theatrical centrality, charged negative space, tactile surfaces, fog/haze/chiaroscuro, muted cinematic tonality, and rare purposeful saturation punctures.\n- Prefer tension, ritual, memory, fracture, residue, identity shift, sacred-uncanny contrast, and material specificity.\n\nRules:\n- Return valid JSON only.\n- No markdown.\n- No image prompts yet.\n- Prefer concrete nouns, verbs, and conditions over abstract filler.\n\nReturn exactly:\n{\n  \"themes\": [\"...\"],\n  \"symbols\": [\"...\"],\n  \"emotional_axis\": {\n    \"polarity\": \"...\",\n    \"temperature\": \"...\",\n    \"mood\": \"...\"\n  },\n  \"material_candidates\": [\"...\"],\n  \"spatial_candidates\": [\"...\"],\n  \"notes\": \"...\"\n}\n\nUSER\nSource packet:\n- Trace: {{ $json.ctx.trace_id }}\n- Source ID: {{ $json.bundle.source_id }}\n- Crawl Run: {{ $json.bundle.crawl_run_id }}\n- Source URL: {{ $json.source.source_url || $json.source.url || '' }}\n- Target abstraction band: {{ $json.ctx.target_abstraction_min }} to {{ $json.ctx.target_abstraction_max }}\n\nExcerpt block:\n{{ $json.bundle.excerpt_block }}\n\nExtract the highest-signal latent themes for image generation."
            }
          ]
        }
      },
      "id": "3d1ed93b-ab1d-449a-b598-a629f282eb23",
      "name": "LLM Theme Seizer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        -160,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('Parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim()\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    try {\n      return JSON.parse(slice);\n    } catch (err) {\n      throw new Error(`Parser: invalid salvaged JSON. ${err.message}`);\n    }\n  }\n\n  throw new Error('Parser: could not find a valid JSON object.');\n}\n\nconst BASE_NODE = 'Assemble Fragment Bundle';\nconst OUT_KEY = 'theme_seizer';\n\nconst base = $items(BASE_NODE)[0]?.json;\nif (!base) {\n  throw new Error(`Parser: base node \"${BASE_NODE}\" returned no data.`);\n}\n\nconst parsed = parseStrictJson($json);\n\n// Per-output hardening\nif (OUT_KEY === 'critic') {\n  parsed.approve = Boolean(parsed.approve);\n  for (const key of ['score', 'brand_fit', 'novelty', 'visual_viability']) {\n    parsed[key] = Number(parsed[key] || 0);\n  }\n}\n\nif (OUT_KEY === 'abstraction') {\n  let a = Number(parsed.abstraction_target || 6.2);\n  const min = Number(base.ctx?.target_abstraction_min || 5.8);\n  const max = Number(base.ctx?.target_abstraction_max || 6.8);\n  if (!Number.isFinite(a)) a = 6.2;\n  a = Math.max(min, Math.min(max, a));\n  parsed.abstraction_target = Math.round(a * 10) / 10;\n}\n\nif (OUT_KEY === 'render_spec') {\n  parsed.image_size = String(parsed.image_size || base.ctx?.image_size || '1024x1280');\n  parsed.provider_controls = (parsed.provider_controls && typeof parsed.provider_controls === 'object')\n    ? parsed.provider_controls\n    : {};\n  parsed.provider_controls.quality = String(parsed.provider_controls.quality || base.ctx?.quality || 'high');\n  parsed.provider_controls.background = String(parsed.provider_controls.background || base.ctx?.background || 'opaque');\n  parsed.provider_controls.output_format = String(parsed.provider_controls.output_format || base.ctx?.output_format || 'png');\n}\n\nif (OUT_KEY === 'caption_pack') {\n  parsed.hashtags = Array.isArray(parsed.hashtags) ? parsed.hashtags : [];\n  parsed.keywords = Array.isArray(parsed.keywords) ? parsed.keywords : [];\n}\n\nif (OUT_KEY === 'series_plan') {\n  parsed.variations = Array.isArray(parsed.variations) ? parsed.variations : [];\n}\n\nreturn [{\n  json: {\n    ...base,\n    [OUT_KEY]: parsed\n  }\n}];"
      },
      "id": "b67381a8-a03f-4372-8e29-93762c721be7",
      "name": "Parse Theme Seizer JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        304
      ]
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=SYSTEM\nYou are TVPX__LLM__Symbolic_Tension_Constructor for The Velvet Paradox.\n\nYour job is to compress extracted themes into one paradox-rich, visually shootable concept.\n\nRules:\n- Stay representational.\n- Build contradiction with meaning, not nonsense.\n- Prefer ritual stillness, tactile material metaphors, frontal or iconic staging pressure.\n- Do not write an image prompt.\n- Return valid JSON only.\n\nReturn exactly:\n{\n  \"concept_thesis\": \"...\",\n  \"symbolic_tension\": \"...\",\n  \"visible_metaphor\": \"...\",\n  \"invisible_meaning\": \"...\",\n  \"material_anchor\": \"...\",\n  \"spatial_hint\": \"...\",\n  \"avoid_literalism_notes\": \"...\"\n}\n\nUSER\nTheme packet:\n{{ JSON.stringify($json.theme_seizer, null, 2) }}\n\nSource excerpt block:\n{{ $json.bundle.excerpt_block }}\n\nSynthesize one strong concept, not multiple weak options."
            }
          ]
        }
      },
      "id": "8c12c68a-2141-4f70-aef1-fc89512c67ee",
      "name": "LLM Symbolic Tension",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        416,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('Parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim()\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    try {\n      return JSON.parse(slice);\n    } catch (err) {\n      throw new Error(`Parser: invalid salvaged JSON. ${err.message}`);\n    }\n  }\n\n  throw new Error('Parser: could not find a valid JSON object.');\n}\n\nconst BASE_NODE = 'Parse Theme Seizer JSON';\nconst OUT_KEY = 'symbolic_tension';\n\nconst base = $items(BASE_NODE)[0]?.json;\nif (!base) {\n  throw new Error(`Parser: base node \"${BASE_NODE}\" returned no data.`);\n}\n\nconst parsed = parseStrictJson($json);\n\n// Per-output hardening\nif (OUT_KEY === 'critic') {\n  parsed.approve = Boolean(parsed.approve);\n  for (const key of ['score', 'brand_fit', 'novelty', 'visual_viability']) {\n    parsed[key] = Number(parsed[key] || 0);\n  }\n}\n\nif (OUT_KEY === 'abstraction') {\n  let a = Number(parsed.abstraction_target || 6.2);\n  const min = Number(base.ctx?.target_abstraction_min || 5.8);\n  const max = Number(base.ctx?.target_abstraction_max || 6.8);\n  if (!Number.isFinite(a)) a = 6.2;\n  a = Math.max(min, Math.min(max, a));\n  parsed.abstraction_target = Math.round(a * 10) / 10;\n}\n\nif (OUT_KEY === 'render_spec') {\n  parsed.image_size = String(parsed.image_size || base.ctx?.image_size || '1024x1280');\n  parsed.provider_controls = (parsed.provider_controls && typeof parsed.provider_controls === 'object')\n    ? parsed.provider_controls\n    : {};\n  parsed.provider_controls.quality = String(parsed.provider_controls.quality || base.ctx?.quality || 'high');\n  parsed.provider_controls.background = String(parsed.provider_controls.background || base.ctx?.background || 'opaque');\n  parsed.provider_controls.output_format = String(parsed.provider_controls.output_format || base.ctx?.output_format || 'png');\n}\n\nif (OUT_KEY === 'caption_pack') {\n  parsed.hashtags = Array.isArray(parsed.hashtags) ? parsed.hashtags : [];\n  parsed.keywords = Array.isArray(parsed.keywords) ? parsed.keywords : [];\n}\n\nif (OUT_KEY === 'series_plan') {\n  parsed.variations = Array.isArray(parsed.variations) ? parsed.variations : [];\n}\n\nreturn [{\n  json: {\n    ...base,\n    [OUT_KEY]: parsed\n  }\n}];"
      },
      "id": "be73a284-c361-489a-ac77-fbb413e1b541",
      "name": "Parse Symbolic Tension JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        304
      ]
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=SYSTEM\nYou are TVPX__LLM__Abstraction_Balancer.\n\nYour job is to choose how strange the image becomes while preserving legibility.\n\nRules:\n- Default target range is 5.8 to 6.8.\n- Use only meaningful abstraction mechanisms.\n- Preserve photographic plausibility.\n- Return valid JSON only.\n\nAllowed mechanisms:\n- symbolic substitution\n- fragmentation / doubling\n- surreal juxtaposition\n- atmospheric erasure\n- frontal tableau staging\n- selective chromatic unreality\n\nReturn exactly:\n{\n  \"abstraction_target\": 6.2,\n  \"abstraction_mechanisms\": [\"...\"],\n  \"realism_floor\": \"...\",\n  \"surreal_pressure\": \"...\",\n  \"do_not_exceed_notes\": \"...\"\n}\n\nUSER\nConcept packet:\n{{ JSON.stringify($json.symbolic_tension, null, 2) }}\n\nBrand target band:\n- Min: {{ $json.ctx.target_abstraction_min }}\n- Max: {{ $json.ctx.target_abstraction_max }}\n\nPick the narrowest effective abstraction lift."
            }
          ]
        }
      },
      "id": "243231f7-e01e-4da0-bd7b-479ff09f94e7",
      "name": "LLM Abstraction Balancer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        992,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('Parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim()\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    try {\n      return JSON.parse(slice);\n    } catch (err) {\n      throw new Error(`Parser: invalid salvaged JSON. ${err.message}`);\n    }\n  }\n\n  throw new Error('Parser: could not find a valid JSON object.');\n}\n\nconst BASE_NODE = 'Parse Symbolic Tension JSON';\nconst OUT_KEY = 'abstraction';\n\nconst base = $items(BASE_NODE)[0]?.json;\nif (!base) {\n  throw new Error(`Parser: base node \"${BASE_NODE}\" returned no data.`);\n}\n\nconst parsed = parseStrictJson($json);\n\n// Per-output hardening\nif (OUT_KEY === 'critic') {\n  parsed.approve = Boolean(parsed.approve);\n  for (const key of ['score', 'brand_fit', 'novelty', 'visual_viability']) {\n    parsed[key] = Number(parsed[key] || 0);\n  }\n}\n\nif (OUT_KEY === 'abstraction') {\n  let a = Number(parsed.abstraction_target || 6.2);\n  const min = Number(base.ctx?.target_abstraction_min || 5.8);\n  const max = Number(base.ctx?.target_abstraction_max || 6.8);\n  if (!Number.isFinite(a)) a = 6.2;\n  a = Math.max(min, Math.min(max, a));\n  parsed.abstraction_target = Math.round(a * 10) / 10;\n}\n\nif (OUT_KEY === 'render_spec') {\n  parsed.image_size = String(parsed.image_size || base.ctx?.image_size || '1024x1280');\n  parsed.provider_controls = (parsed.provider_controls && typeof parsed.provider_controls === 'object')\n    ? parsed.provider_controls\n    : {};\n  parsed.provider_controls.quality = String(parsed.provider_controls.quality || base.ctx?.quality || 'high');\n  parsed.provider_controls.background = String(parsed.provider_controls.background || base.ctx?.background || 'opaque');\n  parsed.provider_controls.output_format = String(parsed.provider_controls.output_format || base.ctx?.output_format || 'png');\n}\n\nif (OUT_KEY === 'caption_pack') {\n  parsed.hashtags = Array.isArray(parsed.hashtags) ? parsed.hashtags : [];\n  parsed.keywords = Array.isArray(parsed.keywords) ? parsed.keywords : [];\n}\n\nif (OUT_KEY === 'series_plan') {\n  parsed.variations = Array.isArray(parsed.variations) ? parsed.variations : [];\n}\n\nreturn [{\n  json: {\n    ...base,\n    [OUT_KEY]: parsed\n  }\n}];"
      },
      "id": "7e6bf82f-87ce-4e2a-9678-dfcddec574b2",
      "name": "Parse Abstraction JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        304
      ]
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=SYSTEM\nYou are TVPX__LLM__Composition_Architect.\n\nYour job is to design the spatial logic of the image.\n\nRules:\n- Use composition like a director.\n- Bias toward iconic centrality only when it increases force.\n- Use negative space as psychological pressure.\n- Balance rigid scaffolding with organic softness.\n- Return valid JSON only.\n\nReturn exactly:\n{\n  \"subject_count\": 1,\n  \"focal_strategy\": \"...\",\n  \"framing_bias\": \"...\",\n  \"negative_space_strategy\": \"...\",\n  \"foreground_midground_background\": \"...\",\n  \"texture_stack\": [\"...\"],\n  \"composition_notes\": \"...\"\n}\n\nUSER\nConcept packet:\n{{ JSON.stringify($json.symbolic_tension, null, 2) }}\n\nAbstraction packet:\n{{ JSON.stringify($json.abstraction, null, 2) }}\n\nDesign a composition that intensifies symbolic tension without overcrowding the frame."
            }
          ]
        }
      },
      "id": "9dc28733-c813-4eee-b97b-6f8e7311cace",
      "name": "LLM Composition Architect",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        1568,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('Parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim()\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    try {\n      return JSON.parse(slice);\n    } catch (err) {\n      throw new Error(`Parser: invalid salvaged JSON. ${err.message}`);\n    }\n  }\n\n  throw new Error('Parser: could not find a valid JSON object.');\n}\n\nconst BASE_NODE = 'Parse Abstraction JSON';\nconst OUT_KEY = 'composition';\n\nconst base = $items(BASE_NODE)[0]?.json;\nif (!base) {\n  throw new Error(`Parser: base node \"${BASE_NODE}\" returned no data.`);\n}\n\nconst parsed = parseStrictJson($json);\n\n// Per-output hardening\nif (OUT_KEY === 'critic') {\n  parsed.approve = Boolean(parsed.approve);\n  for (const key of ['score', 'brand_fit', 'novelty', 'visual_viability']) {\n    parsed[key] = Number(parsed[key] || 0);\n  }\n}\n\nif (OUT_KEY === 'abstraction') {\n  let a = Number(parsed.abstraction_target || 6.2);\n  const min = Number(base.ctx?.target_abstraction_min || 5.8);\n  const max = Number(base.ctx?.target_abstraction_max || 6.8);\n  if (!Number.isFinite(a)) a = 6.2;\n  a = Math.max(min, Math.min(max, a));\n  parsed.abstraction_target = Math.round(a * 10) / 10;\n}\n\nif (OUT_KEY === 'render_spec') {\n  parsed.image_size = String(parsed.image_size || base.ctx?.image_size || '1024x1280');\n  parsed.provider_controls = (parsed.provider_controls && typeof parsed.provider_controls === 'object')\n    ? parsed.provider_controls\n    : {};\n  parsed.provider_controls.quality = String(parsed.provider_controls.quality || base.ctx?.quality || 'high');\n  parsed.provider_controls.background = String(parsed.provider_controls.background || base.ctx?.background || 'opaque');\n  parsed.provider_controls.output_format = String(parsed.provider_controls.output_format || base.ctx?.output_format || 'png');\n}\n\nif (OUT_KEY === 'caption_pack') {\n  parsed.hashtags = Array.isArray(parsed.hashtags) ? parsed.hashtags : [];\n  parsed.keywords = Array.isArray(parsed.keywords) ? parsed.keywords : [];\n}\n\nif (OUT_KEY === 'series_plan') {\n  parsed.variations = Array.isArray(parsed.variations) ? parsed.variations : [];\n}\n\nreturn [{\n  json: {\n    ...base,\n    [OUT_KEY]: parsed\n  }\n}];"
      },
      "id": "2a6276cc-fec9-4d6a-8cfd-f2ecfca22284",
      "name": "Parse Composition JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        304
      ]
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=SYSTEM\nYou are TVPX__LLM__Chromatic_Atmosphere_Director for The Velvet Paradox.\n\nYour job is to define palette behavior and tonal mood.\n\nRules:\n- Default to a muted cinematic base.\n- Allow rare, meaningful accent saturation.\n- Ensure the B&W translation preserves emotional architecture.\n- Return valid JSON only.\n\nReturn exactly:\n{\n  \"color_mode\": \"muted-cinematic\",\n  \"base_palette\": [\"...\"],\n  \"accent_palette\": [\"...\"],\n  \"luminance_behavior\": \"...\",\n  \"bw_translation_notes\": \"...\",\n  \"atmosphere_notes\": \"...\"\n}\n\nUSER\nTheme packet:\n{{ JSON.stringify($json.theme_seizer, null, 2) }}\n\nConcept packet:\n{{ JSON.stringify($json.symbolic_tension, null, 2) }}\n\nComposition packet:\n{{ JSON.stringify($json.composition, null, 2) }}\n\nBuild palette logic, not just color names."
            }
          ]
        }
      },
      "id": "6b08c6f4-9c90-43be-bafa-a9d6ecd43c25",
      "name": "LLM Chromatic Director",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        2144,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('Parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim()\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    try {\n      return JSON.parse(slice);\n    } catch (err) {\n      throw new Error(`Parser: invalid salvaged JSON. ${err.message}`);\n    }\n  }\n\n  throw new Error('Parser: could not find a valid JSON object.');\n}\n\nconst BASE_NODE = 'Parse Composition JSON';\nconst OUT_KEY = 'chromatic';\n\nconst base = $items(BASE_NODE)[0]?.json;\nif (!base) {\n  throw new Error(`Parser: base node \"${BASE_NODE}\" returned no data.`);\n}\n\nconst parsed = parseStrictJson($json);\n\n// Per-output hardening\nif (OUT_KEY === 'critic') {\n  parsed.approve = Boolean(parsed.approve);\n  for (const key of ['score', 'brand_fit', 'novelty', 'visual_viability']) {\n    parsed[key] = Number(parsed[key] || 0);\n  }\n}\n\nif (OUT_KEY === 'abstraction') {\n  let a = Number(parsed.abstraction_target || 6.2);\n  const min = Number(base.ctx?.target_abstraction_min || 5.8);\n  const max = Number(base.ctx?.target_abstraction_max || 6.8);\n  if (!Number.isFinite(a)) a = 6.2;\n  a = Math.max(min, Math.min(max, a));\n  parsed.abstraction_target = Math.round(a * 10) / 10;\n}\n\nif (OUT_KEY === 'render_spec') {\n  parsed.image_size = String(parsed.image_size || base.ctx?.image_size || '1024x1280');\n  parsed.provider_controls = (parsed.provider_controls && typeof parsed.provider_controls === 'object')\n    ? parsed.provider_controls\n    : {};\n  parsed.provider_controls.quality = String(parsed.provider_controls.quality || base.ctx?.quality || 'high');\n  parsed.provider_controls.background = String(parsed.provider_controls.background || base.ctx?.background || 'opaque');\n  parsed.provider_controls.output_format = String(parsed.provider_controls.output_format || base.ctx?.output_format || 'png');\n}\n\nif (OUT_KEY === 'caption_pack') {\n  parsed.hashtags = Array.isArray(parsed.hashtags) ? parsed.hashtags : [];\n  parsed.keywords = Array.isArray(parsed.keywords) ? parsed.keywords : [];\n}\n\nif (OUT_KEY === 'series_plan') {\n  parsed.variations = Array.isArray(parsed.variations) ? parsed.variations : [];\n}\n\nreturn [{\n  json: {\n    ...base,\n    [OUT_KEY]: parsed\n  }\n}];"
      },
      "id": "86af717f-6d31-4bf3-9255-ce71d03edb23",
      "name": "Parse Chromatic JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        304
      ]
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=SYSTEM\nYou are TVPX__LLM__Quality_Critic.\n\nYour job is to protect budget and creative ceiling.\n\nReject:\n- stock-like\n- generic\n- visually muddy\n- over-literal\n- symbolically shallow\n- incoherent\n\nReward:\n- tactile realism\n- symbolic density\n- cinematic restraint\n- memorable composition\n- controlled abstraction\n\nRules:\n- Be strict.\n- Return valid JSON only.\n\nReturn exactly:\n{\n  \"approve\": true,\n  \"score\": 0.0,\n  \"brand_fit\": 0.0,\n  \"novelty\": 0.0,\n  \"visual_viability\": 0.0,\n  \"rejection_reason\": \"\",\n  \"improvement_notes\": \"\"\n}\n\nUSER\nEvaluate this full concept packet:\n\nTheme:\n{{ JSON.stringify($json.theme_seizer, null, 2) }}\n\nSymbolic tension:\n{{ JSON.stringify($json.symbolic_tension, null, 2) }}\n\nAbstraction:\n{{ JSON.stringify($json.abstraction, null, 2) }}\n\nComposition:\n{{ JSON.stringify($json.composition, null, 2) }}\n\nChromatic:\n{{ JSON.stringify($json.chromatic, null, 2) }}\n\nScore for actual image-making strength, not literary cleverness."
            }
          ]
        }
      },
      "id": "d7b725e4-cd11-493a-be0f-33d6de07bfbb",
      "name": "LLM Quality Critic",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        2720,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('Parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim()\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    try {\n      return JSON.parse(slice);\n    } catch (err) {\n      throw new Error(`Parser: invalid salvaged JSON. ${err.message}`);\n    }\n  }\n\n  throw new Error('Parser: could not find a valid JSON object.');\n}\n\nconst BASE_NODE = 'Parse Chromatic JSON';\nconst OUT_KEY = 'critic';\n\nconst base = $items(BASE_NODE)[0]?.json;\nif (!base) {\n  throw new Error(`Parser: base node \"${BASE_NODE}\" returned no data.`);\n}\n\nconst parsed = parseStrictJson($json);\n\n// Per-output hardening\nif (OUT_KEY === 'critic') {\n  parsed.approve = Boolean(parsed.approve);\n  for (const key of ['score', 'brand_fit', 'novelty', 'visual_viability']) {\n    parsed[key] = Number(parsed[key] || 0);\n  }\n}\n\nif (OUT_KEY === 'abstraction') {\n  let a = Number(parsed.abstraction_target || 6.2);\n  const min = Number(base.ctx?.target_abstraction_min || 5.8);\n  const max = Number(base.ctx?.target_abstraction_max || 6.8);\n  if (!Number.isFinite(a)) a = 6.2;\n  a = Math.max(min, Math.min(max, a));\n  parsed.abstraction_target = Math.round(a * 10) / 10;\n}\n\nif (OUT_KEY === 'render_spec') {\n  parsed.image_size = String(parsed.image_size || base.ctx?.image_size || '1024x1280');\n  parsed.provider_controls = (parsed.provider_controls && typeof parsed.provider_controls === 'object')\n    ? parsed.provider_controls\n    : {};\n  parsed.provider_controls.quality = String(parsed.provider_controls.quality || base.ctx?.quality || 'high');\n  parsed.provider_controls.background = String(parsed.provider_controls.background || base.ctx?.background || 'opaque');\n  parsed.provider_controls.output_format = String(parsed.provider_controls.output_format || base.ctx?.output_format || 'png');\n}\n\nif (OUT_KEY === 'caption_pack') {\n  parsed.hashtags = Array.isArray(parsed.hashtags) ? parsed.hashtags : [];\n  parsed.keywords = Array.isArray(parsed.keywords) ? parsed.keywords : [];\n}\n\nif (OUT_KEY === 'series_plan') {\n  parsed.variations = Array.isArray(parsed.variations) ? parsed.variations : [];\n}\n\nreturn [{\n  json: {\n    ...base,\n    [OUT_KEY]: parsed\n  }\n}];"
      },
      "id": "e6571a25-411e-4dc4-ad4a-0a5055709b1b",
      "name": "Parse Critic JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "approve_bool",
              "leftValue": "={{$json.critic.approve}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "score_floor",
              "leftValue": "={{$json.critic.score}}",
              "rightValue": 7.2,
              "operator": {
                "type": "number",
                "operation": "largerEqual"
              }
            },
            {
              "id": "brand_floor",
              "leftValue": "={{$json.critic.brand_fit}}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "largerEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8bb3c891-424a-491f-98c9-0a3976e0e139",
      "name": "Approve Concept",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3296,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "/** Build Concept Row for tvpx_concept_pool */\nfunction fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nconst j = $json;\nconst ctx = j.ctx;\nconst now = new Date().toISOString();\n\nconst seed = `${ctx.trace_id}::${ctx.crawl_run_id}::${(j.bundle.fragment_ids||[]).join(',')}::${j.symbolic_tension.concept_thesis}`;\nconst conceptId = `tvpx_cp_${fnv1a(seed)}`;\n\nconst seriesDNA = {\n  brand: 'The Velvet Paradox',\n  abstraction_target: j.abstraction.abstraction_target,\n  mechanisms: j.abstraction.abstraction_mechanisms || [],\n  composition_bias: j.composition.framing_bias || '',\n  focal_strategy: j.composition.focal_strategy || '',\n  palette: {\n    base: j.chromatic.base_palette || [],\n    accent: j.chromatic.accent_palette || [],\n    luminance: j.chromatic.luminance_behavior || ''\n  },\n  texture_stack: j.composition.texture_stack || [],\n  atmosphere: j.chromatic.atmosphere_notes || ''\n};\n\nconst guardrails = {\n  anti_stock: true,\n  avoid_cliches: ['teamwork','lightbulb','gears','handshake','generic office'],\n  keep_representational: true,\n  abstraction_band: [Number(ctx.target_abstraction_min||5.8), Number(ctx.target_abstraction_max||6.8)]\n};\n\nreturn [{\n  json: {\n    ctx: { ...ctx, concept_id: conceptId, root_concept_id: conceptId },\n    concept: {\n      concept_id: conceptId,\n      trace_id: ctx.trace_id,\n      origin_type: 'crawler',\n      source_id: ctx.source_id,\n      parent_concept_id: null,\n      root_concept_id: conceptId,\n      seed_fragment_ids_json: JSON.stringify(j.bundle.fragment_ids || []),\n      concept_thesis: String(j.symbolic_tension.concept_thesis || '').trim(),\n      symbolic_tension: String(j.symbolic_tension.symbolic_tension || '').trim(),\n      material_anchor: String(j.symbolic_tension.material_anchor || '').trim(),\n      spatial_directive: String(j.composition.foreground_midground_background || j.symbolic_tension.spatial_hint || '').trim(),\n      palette_directive: JSON.stringify(j.chromatic || {}),\n      texture_directive: JSON.stringify({ texture_stack: j.composition.texture_stack || [] }),\n      abstraction_target: Number(j.abstraction.abstraction_target || 6.2),\n      series_dna_json: JSON.stringify(seriesDNA),\n      prompt_guardrails_json: JSON.stringify(guardrails),\n      quality_score: Number(j.critic.score || 0),\n      state: 'ready',\n      lock_owner: '',\n      lock_expires_at: '',\n      used_count: 0,\n      last_used_at: '',\n      created_at: now,\n      updated_at: now\n    }\n  }\n}];"
      },
      "id": "2608dc5a-5c8c-41d7-9d17-1883a083d2fb",
      "name": "Build Concept Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        208
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "gVpNusMuiqbDU3pK",
          "mode": "list",
          "cachedResultName": "tvpx_concept_pool",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/gVpNusMuiqbDU3pK"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "concept_id",
              "keyValue": "={{$json.concept.concept_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "concept_id": "={{$json.concept.concept_id}}",
            "origin_type": "={{$json.concept.origin_type}}",
            "source_id": "={{$json.concept.source_id}}",
            "parent_concept_id": "={{$json.concept.parent_concept_id}}",
            "root_concept_id": "={{$json.concept.root_concept_id}}",
            "seed_fragment_ids_json": "={{$json.concept.seed_fragment_ids_json}}",
            "concept_thesis": "={{$json.concept.concept_thesis}}",
            "symbolic_tension": "={{$json.concept.symbolic_tension}}",
            "material_anchor": "={{$json.concept.material_anchor}}",
            "spatial_directive": "={{$json.concept.spatial_directive}}",
            "palette_directive": "={{$json.concept.palette_directive}}",
            "texture_directive": "={{$json.concept.texture_directive}}",
            "abstraction_target": "={{$json.concept.abstraction_target}}",
            "series_dna_json": "={{$json.concept.series_dna_json}}",
            "prompt_guardrails_json": "={{$json.concept.prompt_guardrails_json}}",
            "quality_score": "={{$json.concept.quality_score}}",
            "state": "={{$json.concept.state}}",
            "lock_owner": "={{$json.concept.lock_owner}}",
            "lock_expires_at": "={{$json.concept.lock_expires_at}}",
            "used_count": "={{$json.concept.used_count}}",
            "last_used_at": "={{$json.concept.last_used_at}}",
            "created_at": "={{$json.concept.created_at}}",
            "updated_at": "={{$json.concept.updated_at}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "concept_id",
              "displayName": "concept_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "origin_type",
              "displayName": "origin_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_concept_id",
              "displayName": "parent_concept_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "root_concept_id",
              "displayName": "root_concept_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "seed_fragment_ids_json",
              "displayName": "seed_fragment_ids_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "concept_thesis",
              "displayName": "concept_thesis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "symbolic_tension",
              "displayName": "symbolic_tension",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "material_anchor",
              "displayName": "material_anchor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "spatial_directive",
              "displayName": "spatial_directive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "palette_directive",
              "displayName": "palette_directive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "texture_directive",
              "displayName": "texture_directive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "abstraction_target",
              "displayName": "abstraction_target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "series_dna_json",
              "displayName": "series_dna_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_guardrails_json",
              "displayName": "prompt_guardrails_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quality_score",
              "displayName": "quality_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lock_owner",
              "displayName": "lock_owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lock_expires_at",
              "displayName": "lock_expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "used_count",
              "displayName": "used_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_used_at",
              "displayName": "last_used_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rejection_reason",
              "displayName": "rejection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "500ee708-f157-4d9a-89d5-d45b2a615f2e",
      "name": "Upsert Concept Pool",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3744,
        208
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_WORKFLOW_ID__TVPX__30__Image Generation Dual Mode",
          "mode": "list",
          "cachedResultName": "TVPX__30__Image Generation Dual Mode",
          "cachedResultUrl": "/workflow/REPLACE_WITH_WORKFLOW_ID__TVPX__30__Image Generation Dual Mode"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "502c38d6-703e-4cfb-8332-1418712491f4",
      "name": "Call Image Generation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3968,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "/** Build Reject Row From Critic */\nconst j = $json;\nconst ctx = j.ctx;\nconst now = new Date().toISOString();\nreturn [{\n  json: {\n    ctx,\n    reject: {\n      reject_id: `tvpx_rej_${ctx.trace_id}_${now.replace(/[:.]/g,'')}`,\n      trace_id: ctx.trace_id,\n      stage_name: 'quality_critic',\n      rejection_reason: String(j.critic.rejection_reason || 'Rejected by critic gate.').trim(),\n      raw_output_json: JSON.stringify({ critic: j.critic, concept_thesis: j.symbolic_tension?.concept_thesis, mechanisms: j.abstraction?.abstraction_mechanisms, abstraction_target: j.abstraction?.abstraction_target }),\n      created_at: now\n    }\n  }\n}];"
      },
      "id": "2f2165df-2ad1-4c81-a824-6eb0523cdbb4",
      "name": "Build Reject Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        400
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "DimXJ3nOKPWyV1bE",
          "mode": "list",
          "cachedResultName": "tvpx_concept_reject_log",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/DimXJ3nOKPWyV1bE"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "reject_id",
              "keyValue": "={{$json.reject.reject_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reject_id": "={{$json.reject.reject_id}}",
            "trace_id": "={{$json.reject.trace_id}}",
            "stage_name": "={{$json.reject.stage_name}}",
            "rejection_reason": "={{$json.reject.rejection_reason}}",
            "raw_output_json": "={{$json.reject.raw_output_json}}",
            "created_at": "={{$json.reject.created_at}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "reject_id",
              "displayName": "reject_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "concept_id",
              "displayName": "concept_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "stage_name",
              "displayName": "stage_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rejection_reason",
              "displayName": "rejection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "raw_output_json",
              "displayName": "raw_output_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9c9dc217-f5cd-4d4d-a3ef-a71edb5743df",
      "name": "Upsert Reject Log From Critic",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3744,
        400
      ]
    }
  ],
  "connections": {
    "When Executed By Another Workflow": {
      "main": [
        [
          {
            "node": "Initialize Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Envelope": {
      "main": [
        [
          {
            "node": "Get Fragments For Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Fragments For Run": {
      "main": [
        [
          {
            "node": "Reattach Context After Fragments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reattach Context After Fragments": {
      "main": [
        [
          {
            "node": "Has Fragments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Fragments": {
      "main": [
        [
          {
            "node": "Assemble Fragment Bundle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build No Fragments Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build No Fragments Reject": {
      "main": [
        [
          {
            "node": "Upsert Reject Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Fragment Bundle": {
      "main": [
        [
          {
            "node": "LLM Theme Seizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Theme Seizer": {
      "main": [
        [
          {
            "node": "Parse Theme Seizer JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Theme Seizer JSON": {
      "main": [
        [
          {
            "node": "LLM Symbolic Tension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Symbolic Tension": {
      "main": [
        [
          {
            "node": "Parse Symbolic Tension JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Symbolic Tension JSON": {
      "main": [
        [
          {
            "node": "LLM Abstraction Balancer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Abstraction Balancer": {
      "main": [
        [
          {
            "node": "Parse Abstraction JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Abstraction JSON": {
      "main": [
        [
          {
            "node": "LLM Composition Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Composition Architect": {
      "main": [
        [
          {
            "node": "Parse Composition JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Composition JSON": {
      "main": [
        [
          {
            "node": "LLM Chromatic Director",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chromatic Director": {
      "main": [
        [
          {
            "node": "Parse Chromatic JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chromatic JSON": {
      "main": [
        [
          {
            "node": "LLM Quality Critic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Quality Critic": {
      "main": [
        [
          {
            "node": "Parse Critic JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Critic JSON": {
      "main": [
        [
          {
            "node": "Approve Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Concept": {
      "main": [
        [
          {
            "node": "Build Concept Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Reject Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Concept Row": {
      "main": [
        [
          {
            "node": "Upsert Concept Pool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Concept Pool": {
      "main": [
        [
          {
            "node": "Call Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reject Row": {
      "main": [
        [
          {
            "node": "Upsert Reject Log From Critic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Director Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Theme Seizer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LLM Symbolic Tension",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LLM Abstraction Balancer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LLM Composition Architect",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LLM Chromatic Director",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "xAI Critic Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Quality Critic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8c05ee1c-cc68-4b88-8bd1-bc5b76fd5b94",
  "activeVersionId": null,
  "versionCounter": 100,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-05T14:11:39.752Z",
      "createdAt": "2026-03-05T14:11:39.752Z",
      "role": "workflow:owner",
      "workflowId": "of3xeq4C34JVxykf",
      "projectId": "NK3VX1YKPgfTJeSY",
      "project": {
        "updatedAt": "2025-12-08T15:00:57.909Z",
        "createdAt": "2025-12-08T14:54:00.172Z",
        "id": "NK3VX1YKPgfTJeSY",
        "name": "Benny Ebere <ebere.benny97@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4cb24128-c146-45db-a1a6-9dd54603f17a"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}