tvpx__30__scene-blueprint-batch-render--XtyvRQfTLySqT16o.json
{
  "updatedAt": "2026-03-07T00:59:35.967Z",
  "createdAt": "2026-03-06T19:52:04.092Z",
  "id": "XtyvRQfTLySqT16o",
  "name": "TVPX__30__Scene Blueprint Batch Render",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "gpt-5.1",
        "options": {}
      },
      "id": "3872ab30-a67d-4a4c-922a-dd946e582c1a",
      "name": "OpenAI Director Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        536,
        424
      ],
      "credentials": {
        "openAiApi": {
          "id": "lkPV4yTxQh2YAZDW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "grok-4-1-fast-reasoning",
        "options": {}
      },
      "id": "09dc3ece-12de-4c4a-b0c1-c4faca36bb7b",
      "name": "Director Model xAI Fallback Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        664,
        424
      ],
      "credentials": {
        "xAiApi": {
          "id": "Bs1Wj3VI1HQ71xYB",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nconst incoming = $json || {};\nconst now = new Date().toISOString();\nconst baseCtx = (incoming.ctx && typeof incoming.ctx === 'object') ? incoming.ctx : {};\n\nconst traceSeed = JSON.stringify(incoming).slice(0, 5000) + '::' + now;\nconst traceId = String(baseCtx.trace_id || '').trim() || `tvpx_${fnv1a(traceSeed)}`;\nconst familyId = String(baseCtx.asset_family_id || incoming.asset_family_id || '').trim() || `tvpxfam_${fnv1a(traceId + '::family')}`;\nconst sceneSeedId = String(incoming.scene_seed_id || incoming.concept_id || baseCtx.scene_seed_id || baseCtx.concept_id || '').trim();\n\nconst ctx = {\n  project_ns: 'TVPX',\n  brand_name: 'The Velvet Paradox',\n  trace_id: traceId,\n  asset_family_id: familyId,\n  trigger_mode: baseCtx.trigger_mode || incoming.trigger_mode || 'internal',\n  route_mode: 'scene_blueprint_batch_render',\n  received_at: now,\n  telegram_chat_id: String(baseCtx.telegram_chat_id || incoming.telegram_chat_id || incoming?.tg?.chat_id || incoming?.tg?.chat?.id || incoming.chat_id || '').trim() || null,\n  fal_api_key: String(baseCtx.fal_api_key || incoming.fal_api_key || '').trim(),\n  fal_endpoint_url: String(baseCtx.fal_endpoint_url || incoming.fal_endpoint_url || '').trim(),\n  image_size: String(baseCtx.image_size || incoming.image_size || '1024x1536'),\n  output_format: String(baseCtx.output_format || incoming.output_format || 'png'),\n  background: String(baseCtx.background || incoming.background || 'opaque'),\n  quality: String(baseCtx.quality || incoming.quality || 'high'),\n  poll_max: Number(baseCtx.poll_max || incoming.poll_max || 24),\n  lock_ttl_minutes: Number(baseCtx.lock_ttl_minutes || incoming.lock_ttl_minutes || 45),\n};\n\nreturn [{\n  json: {\n    ctx,\n    input: incoming.input || incoming,\n    carry: incoming.carry || {},\n    scene_seed_id: sceneSeedId || null,\n    concept_id: sceneSeedId || null,\n  },\n}];"
      },
      "id": "8d23db01-0b6a-462f-ad2b-e4cc1526822c",
      "name": "Initialize Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has_scene_seed_id_cond",
              "leftValue": "={{ String($json.scene_seed_id || '').trim() ? 1 : 0 }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3bdba0d4-ac4e-4a10-aa5c-24b94317e494",
      "name": "Has Scene Seed Id",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1712,
        200
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZquAVdSdqKEpnZQx",
          "mode": "list",
          "cachedResultName": "tvpx_scene_seed_pool",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/ZquAVdSdqKEpnZQx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "scene_seed_id",
              "keyValue": "={{$json.scene_seed_id}}"
            }
          ]
        }
      },
      "id": "32549575-3e9e-4ac6-af68-dd8b04102edf",
      "name": "Get Scene Seed By Id",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1488,
        128
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZquAVdSdqKEpnZQx",
          "mode": "list",
          "cachedResultName": "tvpx_scene_seed_pool",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/ZquAVdSdqKEpnZQx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "state",
              "keyValue": "ready"
            }
          ]
        }
      },
      "id": "a867d952-3e77-4ce4-aa11-801b5fff84d8",
      "name": "Get Ready Scene Seeds",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1488,
        320
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const base = $items('Initialize Envelope')[0]?.json || {};\nconst ctx = base.ctx || {};\n\nconst rows = $input.all().map(i => i.json || {}).filter(Boolean);\nif (!rows.length) throw new Error('TVPX__30: no ready scene seeds found.');\n\nfunction n(v, d = 0) {\n  const x = Number(v);\n  return Number.isFinite(x) ? x : d;\n}\n\nfunction clean(v) {\n  return String(v || '').toLowerCase().replace(/[^a-z0-9\\s-]/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nconst hardBans = [\n  'mri', 'brain scan', 'graph', 'chart', 'diagram', 'spreadsheet',\n  'dashboard', 'monitor', 'contract', 'lease', 'form', 'paperwork'\n];\n\nconst scored = rows.map((row) => {\n  const positiveBlob = clean([\n    row.scene_kernel,\n    row.material_anchor,\n    row.spatial_directive,\n    row.dominant_subject,\n    row.setting_family,\n    row.surreal_mechanism\n  ].join(' '));\n\n  const hardBanHits = hardBans.filter(term => (` ${positiveBlob} `).includes(` ${clean(term)} `)).length;\n\n  const selectorScore =\n    n(row.quality_score) * 0.22 +\n    n(row.brand_fit_score) * 0.16 +\n    n(row.reference_alignment_score) * 0.20 +\n    n(row.family_guardrail_score) * 0.16 +\n    n(row.negative_space_force_score) * 0.14 +\n    n(row.prop_discipline_score) * 0.12 -\n    Math.min(n(row.used_count) * 0.35, 2.0) -\n    hardBanHits * 1.2;\n\n  return { row, selectorScore };\n}).sort((a, b) => b.selectorScore - a.selectorScore);\n\nconst picked = scored[0]?.row;\nif (!picked) throw new Error('TVPX__30: failed to select scene seed.');\n\nreturn [{\n  json: {\n    ctx,\n    scene_seed_id: String(picked.scene_seed_id || '').trim(),\n    concept_id: String(picked.scene_seed_id || '').trim(),\n    scene_seed_row: picked,\n    selector_audit: scored.slice(0, 8).map(entry => ({\n      scene_seed_id: entry.row.scene_seed_id,\n      selector_score: Number(entry.selectorScore.toFixed(3)),\n      quality_score: entry.row.quality_score,\n      brand_fit_score: entry.row.brand_fit_score,\n      reference_alignment_score: entry.row.reference_alignment_score,\n      family_guardrail_score: entry.row.family_guardrail_score,\n      negative_space_force_score: entry.row.negative_space_force_score,\n      prop_discipline_score: entry.row.prop_discipline_score\n    }))\n  }\n}];"
      },
      "id": "5ad7b2e3-afb8-45b3-a7c2-afac2fa0ea20",
      "name": "Select Best Scene Seed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $items('Initialize Envelope')[0].json;\nconst ctx = base.ctx || {};\nconst row = $input.all()[0]?.json || null;\nif (!row) throw new Error('TVPX__30: scene seed not found for provided scene_seed_id.');\n\nconst sceneSeedId = String(row.scene_seed_id || row.id || row.dt_row_id || '').trim();\nif (!sceneSeedId) throw new Error('TVPX__30: fetched scene seed row missing scene_seed_id.');\n\nreturn [{\n  json: {\n    ctx,\n    scene_seed_id: sceneSeedId,\n    concept_id: sceneSeedId,\n    scene_seed_row: row,\n  },\n}];"
      },
      "id": "27b4d674-9651-4a53-a417-4d80d338fdb3",
      "name": "Reattach Context After Get Scene Seed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json || {};\nconst ctx = j.ctx || {};\nconst now = new Date();\nconst expires = new Date(now.getTime() + (Number(ctx.lock_ttl_minutes || 45) * 60_000));\n\nreturn [{\n  json: {\n    ctx,\n    scene_seed_id: String(j.scene_seed_id || '').trim(),\n    concept_id: String(j.scene_seed_id || '').trim(),\n    scene_seed_row: j.scene_seed_row || null,\n    selector_audit: j.selector_audit || null,\n    lock: {\n      lock_owner: String(ctx.trace_id || '').trim(),\n      lock_expires_at: expires.toISOString(),\n      locked_at: now.toISOString(),\n    },\n  },\n}];"
      },
      "id": "e8837124-20a6-456d-a965-daab2b60ff84",
      "name": "Build Lock Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        200
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "ZquAVdSdqKEpnZQx",
          "mode": "list",
          "cachedResultName": "tvpx_scene_seed_pool",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/ZquAVdSdqKEpnZQx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "scene_seed_id",
              "keyValue": "={{$json.scene_seed_id}}"
            },
            {
              "keyName": "state",
              "keyValue": "ready"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "locked",
            "lock_owner": "={{$json.lock.lock_owner}}",
            "lock_expires_at": "={{$json.lock.lock_expires_at}}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5804b6d5-fbfb-4486-ada3-8d06ccfc0eab",
      "name": "Lock Scene Seed",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -816,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZquAVdSdqKEpnZQx",
          "mode": "list",
          "cachedResultName": "tvpx_scene_seed_pool",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/ZquAVdSdqKEpnZQx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "scene_seed_id",
              "keyValue": "={{$json.scene_seed_id}}"
            }
          ]
        }
      },
      "id": "f5b71d9b-1047-43d5-a0cc-7e3c3ce3d139",
      "name": "Fetch Locked Scene Seed",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -592,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const base = $items('Build Lock Payload')[0]?.json || {};\nconst ctx = base.ctx || {};\nconst lockOutput = $items('Lock Scene Seed')[0]?.json || null;\nconst fetchRow = $input.all()[0]?.json || null;\n\nconst row = fetchRow || lockOutput;\nif (!row) throw new Error('TVPX__30: failed to refetch locked scene seed row.');\n\nfunction getVal(r, ...keys) {\n  if (!r) return '';\n  for (const k of keys) {\n    const v = r[k];\n    if (v != null && String(v).trim()) return String(v).trim();\n  }\n  return '';\n}\n\nlet owner = getVal(row, 'lock_owner', 'lockOwner');\nlet state = getVal(row, 'state');\n\nif (state !== 'locked' || owner !== ctx.trace_id) {\n  const hint = !state && !owner\n    ? ' Refetched row has empty state/lock_owner. Ensure tvpx_scene_seed_pool has state, lock_owner, lock_expires_at columns and the row was state=ready when Lock Scene Seed ran.'\n    : '';\n  throw new Error(`TVPX__30: lock not acquired. state=\"${state}\" lock_owner=\"${owner}\" expected=\"${ctx.trace_id}\".${hint}`);\n}\n\nreturn [{\n  json: {\n    ctx,\n    scene_seed_id: String(base.scene_seed_id || '').trim(),\n    concept_id: String(base.scene_seed_id || '').trim(),\n    scene_seed_row: row,\n  },\n}];"
      },
      "id": "e41873d6-d9ac-49ca-a6f1-a60e754a515b",
      "name": "Verify Lock Ownership",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        200
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "6qzFRPL8pogDMctF",
          "mode": "list",
          "cachedResultName": "tvpx_ref_archetype_registry",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/6qzFRPL8pogDMctF"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "archetype_id",
              "keyValue": "={{$json.archetype_id || $items('Verify Lock Ownership')[0]?.json?.scene_seed_row?.archetype_id}}"
            }
          ]
        },
        "limit": 1
      },
      "id": "254be220-0a63-45d2-a06f-012ccb769c2d",
      "name": "Get Archetype By Id",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        80,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const seedBase = $items('Verify Lock Ownership')[0]?.json;\nif (!seedBase) throw new Error('TVPX__30: missing locked scene seed payload.');\n\nconst row = seedBase.scene_seed_row || {};\nconst archetype = $items('Get Archetype By Id')[0]?.json || {};\nconst guardrail = $items('Get Archetype Guardrail By Id')[0]?.json || {};\n\nif (!String(archetype.archetype_id || '').trim()) {\n  throw new Error('TVPX__30: archetype lookup failed.');\n}\nif (!String(guardrail.archetype_id || '').trim()) {\n  throw new Error('TVPX__30: guardrail lookup failed.');\n}\n\nreturn [{\n  json: {\n    ctx: seedBase.ctx,\n    scene_seed_id: seedBase.scene_seed_id,\n    concept_id: seedBase.scene_seed_id,\n    scene_seed_row: row,\n    archetype_row: archetype,\n    archetype_guardrail_row: guardrail\n  }\n}];"
      },
      "id": "ee84f74f-09c9-4011-a36d-bd663f104ed0",
      "name": "Assemble Scene Seed Packet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        200
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Archetype row:\n{{ JSON.stringify($json.archetype_row, null, 2) }}\n\nGuardrail row:\n{{ JSON.stringify($json.archetype_guardrail_row, null, 2) }}\n\nScene seed row:\n{{ JSON.stringify($json.scene_seed_row, null, 2) }}\n\nBuild three blueprints only.",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are TVPX__LLM__Scene_Blueprint_Director_V2 for The Velvet Paradox.\n\nYour job is to turn one scene seed into three candidate shot blueprints.\n\nThe three labels must be:\n- grounded\n- hero\n- wildcard\n\nRules:\n- all three must remain inside the same archetype family\n- obey the selected guardrail row\n- do not change the concept\n- do not add props\n- do not swap the primary gesture\n- do not change subject count\n- grounded = most faithful and safest\n- hero = strongest authored still while remaining fully in-family\n- wildcard = only one controlled shift, still inside family\n- one surreal mechanism only\n- candidate_prompt_core must be short and image-native, not essay-like\n- no drone logic unless the family already supports it\n- no fashion-editorial upgrade\n- no studio logic\n- no explanatory composition\n\nReturn JSON only.\n\nReturn exactly:\n{\n  \"blueprints\": [\n    {\n      \"blueprint_label\": \"grounded\",\n      \"shot_type\": \"...\",\n      \"camera_height\": \"...\",\n      \"camera_distance\": \"...\",\n      \"subject_arrangement\": \"...\",\n      \"environment\": \"...\",\n      \"light_weather\": \"...\",\n      \"wardrobe_surface_logic\": \"...\",\n      \"palette_weather\": \"...\",\n      \"one_surreal_lift\": \"...\",\n      \"what_is_not_shown\": \"...\",\n      \"candidate_prompt_core\": \"...\"\n    },\n    {\n      \"blueprint_label\": \"hero\",\n      \"shot_type\": \"...\",\n      \"camera_height\": \"...\",\n      \"camera_distance\": \"...\",\n      \"subject_arrangement\": \"...\",\n      \"environment\": \"...\",\n      \"light_weather\": \"...\",\n      \"wardrobe_surface_logic\": \"...\",\n      \"palette_weather\": \"...\",\n      \"one_surreal_lift\": \"...\",\n      \"what_is_not_shown\": \"...\",\n      \"candidate_prompt_core\": \"...\"\n    },\n    {\n      \"blueprint_label\": \"wildcard\",\n      \"shot_type\": \"...\",\n      \"camera_height\": \"...\",\n      \"camera_distance\": \"...\",\n      \"subject_arrangement\": \"...\",\n      \"environment\": \"...\",\n      \"light_weather\": \"...\",\n      \"wardrobe_surface_logic\": \"...\",\n      \"palette_weather\": \"...\",\n      \"one_surreal_lift\": \"...\",\n      \"what_is_not_shown\": \"...\",\n      \"candidate_prompt_core\": \"...\"\n    }\n  ]\n}"
            }
          ]
        },
        "batching": {}
      },
      "id": "0312f809-6197-4f34-affc-5e5f8de94081",
      "name": "LLM Scene Blueprint Director",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        528,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? raw?.body?.output_text ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('TVPX parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim(),\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    return JSON.parse(slice);\n  }\n\n  throw new Error('TVPX parser: could not locate valid JSON.');\n}\n\nconst base = $items('Assemble Scene Seed Packet')[0]?.json;\nif (!base) throw new Error('TVPX parser: base node \"Assemble Scene Seed Packet\" missing.');\n\nconst parsed = parseStrictJson($json);\n\nreturn [{\n  json: {\n    ...base,\n    scene_blueprint_pack: parsed,\n  },\n}];"
      },
      "id": "0b742b35-1c38-4428-a922-cd5aca484b64",
      "name": "Parse Scene Blueprint Pack JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "function fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nconst base = $json || {};\nconst ctx = base.ctx || {};\nconst pack = base.scene_blueprint_pack || {};\nconst blueprints = Array.isArray(pack.blueprints) ? pack.blueprints : [];\nif (!blueprints.length) throw new Error('TVPX__30: no blueprints returned.');\n\nconst now = new Date().toISOString();\n\nreturn blueprints.map((bp, idx) => {\n  const label = String(bp.blueprint_label || `bp_${idx + 1}`).trim();\n  const sceneBlueprintId = `tvpx_sb_${fnv1a([\n    ctx.trace_id,\n    base.scene_seed_id,\n    label,\n    bp.candidate_prompt_core,\n  ].join('::'))}`;\n\n  return {\n    json: {\n      ctx,\n      scene_seed_id: base.scene_seed_id,\n      concept_id: base.scene_seed_id,\n      scene_seed_row: base.scene_seed_row,\n      archetype_row: base.archetype_row,\n      archetype_guardrail_row: base.archetype_guardrail_row || {},\n      scene_blueprint_id: sceneBlueprintId,\n      blueprint: {\n        blueprint_label: label,\n        shot_type: String(bp.shot_type || '').trim(),\n        camera_height: String(bp.camera_height || '').trim(),\n        camera_distance: String(bp.camera_distance || '').trim(),\n        subject_arrangement: String(bp.subject_arrangement || '').trim(),\n        environment: String(bp.environment || '').trim(),\n        light_weather: String(bp.light_weather || '').trim(),\n        wardrobe_surface_logic: String(bp.wardrobe_surface_logic || '').trim(),\n        palette_weather: String(bp.palette_weather || '').trim(),\n        one_surreal_lift: String(bp.one_surreal_lift || '').trim(),\n        what_is_not_shown: String(bp.what_is_not_shown || '').trim(),\n        candidate_prompt_core: String(bp.candidate_prompt_core || '').trim(),\n        created_at: now,\n        updated_at: now,\n      },\n    },\n  };\n});"
      },
      "id": "1e5b232f-89d1-4b5a-ad84-7ef480ef9d44",
      "name": "Explode Blueprint Pack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        200
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "tb5enwr7N1RFgRsg",
          "mode": "list",
          "cachedResultName": "tvpx_scene_blueprint_bank",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/tb5enwr7N1RFgRsg"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "scene_blueprint_id",
              "keyValue": "={{$json.scene_blueprint_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scene_blueprint_id": "={{$json.scene_blueprint_id}}",
            "trace_id": "={{$json.ctx.trace_id}}",
            "scene_seed_id": "={{$json.scene_seed_id}}",
            "archetype_id": "={{$json.archetype_row?.archetype_id || \"\"}}",
            "blueprint_label": "={{$json.blueprint?.blueprint_label || \"\"}}",
            "blueprint_rank": "={{(() => { const label = String($json.blueprint?.blueprint_label || \"\").toLowerCase(); if (label.includes(\"grounded\")) return \"1\"; if (label.includes(\"hero\")) return \"2\"; if (label.includes(\"wildcard\")) return \"3\"; return \"\"; })()}}",
            "blueprint_mode": "={{$json.blueprint?.blueprint_label || \"\"}}",
            "reference_family": "={{$json.archetype_row?.archetype_name || $json.archetype_row?.archetype_id || \"\"}}",
            "person_count": "={{(() => { const mode = String($json.scene_seed_row?.subject_mode || \"\").trim(); if (mode === \"single_figure\") return \"1\"; if (mode === \"pair\") return \"2\"; if (mode === \"small_group\") return \"3+\"; if (mode === \"implied_absence\") return \"0\"; return \"\"; })()}}",
            "subject_grouping": "={{$json.blueprint?.subject_arrangement || $json.scene_seed_row?.subject_mode || \"\"}}",
            "environment_type": "={{$json.blueprint?.environment || \"\"}}",
            "composition_formula": "={{[$json.blueprint?.shot_type, $json.blueprint?.subject_arrangement].filter(Boolean).join(\" | \")}}",
            "camera_formula": "={{[$json.blueprint?.camera_height, $json.blueprint?.camera_distance].filter(Boolean).join(\" | \")}}",
            "lens_formula": "={{$json.blueprint?.shot_type || \"\"}}",
            "lighting_formula": "={{$json.blueprint?.light_weather || \"\"}}",
            "palette_formula": "={{$json.blueprint?.palette_weather || \"\"}}",
            "texture_formula": "={{$json.blueprint?.wardrobe_surface_logic || \"\"}}",
            "negative_space_formula": "={{$json.blueprint?.what_is_not_shown || \"\"}}",
            "symbolic_pressure_formula": "={{$json.blueprint?.one_surreal_lift || \"\"}}",
            "realism_guardrails_json": "={{JSON.stringify({ render_variant: \"color\", image_size: \"1024x1536\", background: \"opaque\", quality: \"high\", output_format: \"png\" })}}",
            "prop_budget": "={{(() => { try { const budget = JSON.parse($json.scene_seed_row?.render_budget_json || \"{}\"); return String(budget.max_named_props ?? \"\"); } catch { return \"\"; } })()}}",
            "background_motif_budget": "={{(() => { try { const budget = JSON.parse($json.scene_seed_row?.render_budget_json || \"{}\"); return String(budget.max_background_motifs ?? \"\"); } catch { return \"\"; } })()}}",
            "blueprint_prompt_core": "={{$json.blueprint?.candidate_prompt_core || \"\"}}",
            "blueprint_notes": "={{$json.blueprint?.what_is_not_shown || \"\"}}",
            "state": "pending",
            "created_at": "={{$json.blueprint?.created_at || $now}}",
            "updated_at": "={{$json.blueprint?.updated_at || $now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "scene_blueprint_id",
              "displayName": "scene_blueprint_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene_seed_id",
              "displayName": "scene_seed_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "archetype_id",
              "displayName": "archetype_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_label",
              "displayName": "blueprint_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_rank",
              "displayName": "blueprint_rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_mode",
              "displayName": "blueprint_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reference_family",
              "displayName": "reference_family",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "person_count",
              "displayName": "person_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject_grouping",
              "displayName": "subject_grouping",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "environment_type",
              "displayName": "environment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "composition_formula",
              "displayName": "composition_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "camera_formula",
              "displayName": "camera_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lens_formula",
              "displayName": "lens_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lighting_formula",
              "displayName": "lighting_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "palette_formula",
              "displayName": "palette_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "texture_formula",
              "displayName": "texture_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "negative_space_formula",
              "displayName": "negative_space_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "symbolic_pressure_formula",
              "displayName": "symbolic_pressure_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "realism_guardrails_json",
              "displayName": "realism_guardrails_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prop_budget",
              "displayName": "prop_budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "background_motif_budget",
              "displayName": "background_motif_budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_prompt_core",
              "displayName": "blueprint_prompt_core",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_notes",
              "displayName": "blueprint_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1453955f-0030-4afb-aff1-42e07f4d0aa0",
      "name": "Upsert Scene Blueprint Bank",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1552,
        128
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Prompt-smith packet:\n{{ JSON.stringify($json.prompt_smith_packet, null, 2) }}\n\nCRITICAL: master_prompt MUST be ≤ {{ $json.prompt_smith_packet?.family_guardrail?.render_prompt_word_ceiling || $json.prompt_smith_packet?.render_limits?.max_prompt_words || 115 }} words. Count your words before returning. Over-limit outputs are rejected.\n\nWrite one production-grade GPT Image prompt that stays fully faithful to this locked packet.",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are TVPX__LLM__Final_Prompt_Smith_V4 for The Velvet Paradox.\n\nCRITICAL: master_prompt word limit — Obey the exact ceiling stated in the user prompt. Count your words before returning. Outputs over that limit are rejected; do not trim, regenerate shorter.\n\nYour job is to convert one locked prompt-smith packet into one render-ready still-image brief.\n\nYou are not inventing a new scene.\nYou are preserving the locked blueprint and expressing it in image-native language.\n\nNon-negotiable fidelity rules:\n- preserve the same shot family\n- preserve the same subject count\n- preserve the same primary gesture\n- preserve the same main props\n- preserve the same surreal mechanism\n- preserve the same negative-space logic\n- obey the family_guardrail section\n- do not upgrade the scene into a prettier or more dramatic version\n- do not swap the camera angle for a more cinematic one\n- do not add props\n- do not add weather events\n- do not let archetype DNA override the visible scene\n\nWriting rules:\n- 95 to 115 words target (never exceed the ceiling in the user prompt)\n- one coherent paragraph only\n- begin with frame + subject + gesture\n- use the locked blueprint candidate_prompt_core as the backbone\n- include 1 hero prop clearly, supporting props only if truly needed\n- end with light / atmosphere / negative space, not meaning\n- write like a camera instruction, not a concept paragraph\n- no checklist rhythm\n- no symbolism language\n- no editorial language\n- no thesis language\n- no “representing”, “evoking”, “suggesting”, “symbolizing”\n\nFINAL CHECK before returning: Count words in master_prompt. If over the ceiling, shorten and try again—do not trim.\n\nNegative prompt rules:\n- compact, comma-separated\n- keep it family-specific\n- include forbidden style tells from the guardrail\n\nFINAL CHECK before returning: Count the words in master_prompt. If over the ceiling, rewrite it shorter—do not trim. Over-limit outputs are rejected.\n\nReturn JSON only.\n\nReturn exactly:\n{\n  \"master_prompt\": \"...\",\n  \"negative_prompt\": \"...\",\n  \"image_size\": \"1024x1536\",\n  \"provider_controls\": {\n    \"quality\": \"high\",\n    \"background\": \"opaque\",\n    \"output_format\": \"png\",\n    \"num_images\": 4\n  }\n}"
            }
          ]
        },
        "batching": {}
      },
      "id": "f8b1de6e-ecaf-4f06-afc2-f5de3800047f",
      "name": "LLM Final Prompt Smith V2",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1776,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "function extractJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('TVPX__30: empty prompt-spec output.');\n\n  const candidates = [\n    text,\n    text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim(),\n  ];\n\n  for (const candidate of candidates) {\n    try { return JSON.parse(candidate); } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n    return JSON.parse(slice);\n  }\n\n  throw new Error('TVPX__30: could not parse prompt-spec JSON.');\n}\n\nfunction cleanText(v) {\n  return String(v || '')\n    .replace(/\\s+/g, ' ')\n    .replace(/\\s+([,.;:!?])/g, '$1')\n    .trim();\n}\n\nfunction wordCount(v) {\n  const t = cleanText(v);\n  return t ? t.split(/\\s+/).length : 0;\n}\n\nfunction parseJsonMaybe(value, fallback) {\n  if (Array.isArray(value) || (value && typeof value === 'object')) return value;\n  const text = String(value || '').trim();\n  if (!text) return fallback;\n  try { return JSON.parse(text); } catch { return fallback; }\n}\n\nconst base = $json || {};\nconst packet = base.prompt_smith_packet || {};\nconst parsed = extractJson(base.text || base.output || base.result || base);\n\nconst masterPrompt = cleanText(parsed.master_prompt || '');\nif (!masterPrompt) throw new Error('TVPX__30: master_prompt missing.');\n\nconst wc = wordCount(masterPrompt);\nconst hardCeiling = Number(packet.family_guardrail?.render_prompt_word_ceiling || packet.render_limits?.max_prompt_words || 115);\n\nif (wc < 80) throw new Error(`TVPX__30: master_prompt too short (${wc} words).`);\nif (wc > hardCeiling) throw new Error(`TVPX__30: master_prompt too long (${wc} words). Do not trim; regenerate.`);\n\nconst shotType = cleanText(packet.locked_blueprint?.shot_type || '').toLowerCase();\nconst firstWords = masterPrompt.toLowerCase().split(/\\s+/).slice(0, 20).join(' ');\nif (shotType.includes('overhead') && !firstWords.includes('overhead')) {\n  throw new Error('TVPX__30: prompt lost the locked shot family near the opening.');\n}\nif (shotType.includes('medium-wide') && !(firstWords.includes('medium-wide') || firstWords.includes('medium wide'))) {\n  throw new Error('TVPX__30: prompt lost the locked medium-wide framing near the opening.');\n}\n\nconst heroProps = parseJsonMaybe(packet.visible_scene?.prop_manifest, { hero_props: [], supporting_props: [] }).hero_props || [];\nfor (const prop of heroProps) {\n  const needle = cleanText(prop).toLowerCase();\n  if (needle && !masterPrompt.toLowerCase().includes(needle.split(' ')[0])) {\n    throw new Error(`TVPX__30: hero prop missing from prompt: ${prop}`);\n  }\n}\n\nconst bannedPhrases = [\n  'symbolic', 'allegorical', 'evoking', 'suggesting', 'representing',\n  'ghostly', 'ominous', 'beautiful portrait', 'fashion editorial',\n  'studio portrait', 'product shot', 'cgi sheen'\n];\n\nfor (const phrase of bannedPhrases) {\n  if (masterPrompt.toLowerCase().includes(phrase)) {\n    throw new Error(`TVPX__30: banned phrase leaked into prompt: ${phrase}`);\n  }\n}\n\nconst forbiddenStyleTerms = Array.isArray(packet.family_guardrail?.forbidden_style_terms)\n  ? packet.family_guardrail.forbidden_style_terms\n  : [];\n\nconst negParts = []\n  .concat(String(parsed.negative_prompt || '').split(',').map(s => cleanText(s)).filter(Boolean))\n  .concat(forbiddenStyleTerms.map(cleanText).filter(Boolean));\n\nconst negativePrompt = [...new Set(negParts)].join(', ');\n\nreturn [{\n  json: {\n    ...base,\n    prompt_spec: {\n      master_prompt: masterPrompt,\n      negative_prompt: negativePrompt,\n      image_size: String(parsed.image_size || base.ctx?.image_size || '1024x1536'),\n      provider_controls: {\n        quality: String(parsed.provider_controls?.quality || base.ctx?.quality || 'high'),\n        background: String(parsed.provider_controls?.background || base.ctx?.background || 'opaque'),\n        output_format: String(parsed.provider_controls?.output_format || base.ctx?.output_format || 'png'),\n        num_images: Number(parsed.provider_controls?.num_images || 4)\n      }\n    }\n  }\n}];"
      },
      "id": "33b1f7b3-73ca-4a00-ab27-1de19b98ebee",
      "name": "Parse Prompt Spec V2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "function fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nconst items = $input.all().map((i) => i.json || {}).filter(Boolean);\nif (!items.length) throw new Error('TVPX__30: no prompt-spec items to render.');\n\nreturn items.map((entry, idx) => {\n  const promptSpec = (entry.prompt_spec && typeof entry.prompt_spec === 'object') ? entry.prompt_spec : {};\n  const controls = (promptSpec.provider_controls && typeof promptSpec.provider_controls === 'object')\n    ? promptSpec.provider_controls\n    : {};\n\n  const imageSize = String(promptSpec.image_size || controls.image_size || entry.ctx?.image_size || '1024x1536').trim();\n  const outputFormat = String(controls.output_format || entry.ctx?.output_format || 'png').trim();\n  const background = String(controls.background || entry.ctx?.background || 'opaque').trim();\n  const quality = String(controls.quality || entry.ctx?.quality || 'high').trim();\n  const numImages = Number(controls.num_images || 2);\n\n  const masterPrompt = String(promptSpec.master_prompt || '').trim();\n  if (!masterPrompt) throw new Error('TVPX__30: missing master_prompt in Build Color Render Packets.');\n\n  const packetId = `tvpx_rp_${fnv1a([\n    entry.ctx?.trace_id,\n    entry.scene_seed_id,\n    entry.scene_blueprint_id,\n    entry.blueprint?.blueprint_label,\n    masterPrompt,\n  ].join('::'))}`;\n\n  return {\n    json: {\n      ctx: {\n        ...entry.ctx,\n        image_size: imageSize,\n        output_format: outputFormat,\n        background,\n        quality,\n      },\n      packet_id: packetId,\n      scene_seed_id: entry.scene_seed_id,\n      concept_id: entry.scene_seed_id,\n      scene_seed_row: entry.scene_seed_row,\n      scene_blueprint_id: entry.scene_blueprint_id,\n      archetype_id: String(entry.archetype_row?.archetype_id || '').trim(),\n      archetype_row: entry.archetype_row,\n      blueprint_label: String(entry.blueprint?.blueprint_label || `bp_${idx + 1}`).trim(),\n      blueprint: entry.blueprint,\n      prompt_smith_packet: entry.prompt_smith_packet || null,\n      prompt: masterPrompt,\n      negative_prompt: String(promptSpec.negative_prompt || '').trim(),\n      render_variant: 'color',\n      provider_controls: {\n        image_size: imageSize,\n        background,\n        quality,\n        output_format: outputFormat,\n        num_images: numImages,\n      },\n    },\n  };\n});"
      },
      "id": "90e5bab3-8e0c-4f13-a158-82f6db46e115",
      "name": "Build Color Render Packets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        320
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2uSefQgL3Y5q90Vc",
          "mode": "list",
          "cachedResultName": "TVPX__30A__Fal Batch Render Submit And Poll",
          "cachedResultUrl": "/workflow/2uSefQgL3Y5q90Vc"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ctx": "={{$json.ctx}}",
            "packet_id": "={{$json.packet_id}}",
            "concept_id": "={{$json.concept_id}}",
            "scene_seed_id": "={{$json.scene_seed_id}}",
            "scene_seed_row": "={{$json.scene_seed_row}}",
            "scene_blueprint_id": "={{$json.scene_blueprint_id}}",
            "archetype_id": "={{$json.archetype_id}}",
            "archetype_row": "={{$json.archetype_row}}",
            "blueprint_label": "={{$json.blueprint_label}}",
            "blueprint": "={{$json.blueprint}}",
            "prompt": "={{$json.prompt}}",
            "negative_prompt": "={{$json.negative_prompt}}",
            "render_variant": "={{$json.render_variant}}",
            "provider_controls": "={{$json.provider_controls}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "e40bcafc-c290-4999-abb7-80f4a3ccd8a0",
      "name": "Call TVPX__30A__Fal Batch Render Submit And Poll",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        320
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "bl0wuJZHWZ7NA5WL",
          "mode": "list",
          "cachedResultName": "tvpx_render_candidate_bank",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/bl0wuJZHWZ7NA5WL"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "render_candidate_id",
              "keyValue": "={{$json.render_candidate_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "render_candidate_id": "={{$json.render_candidate_id}}",
            "trace_id": "={{$json.ctx.trace_id}}",
            "asset_family_id": "={{$json.ctx.asset_family_id}}",
            "scene_seed_id": "={{$json.scene_seed_id}}",
            "scene_blueprint_id": "={{$json.scene_blueprint_id}}",
            "archetype_id": "={{$json.archetype_id}}",
            "blueprint_label": "={{$json.blueprint_label}}",
            "candidate_index": "={{$json.candidate_index}}",
            "render_variant": "={{$json.render_variant}}",
            "provider_name": "={{$json.provider_name}}",
            "provider_job_id": "={{$json.provider_job_id}}",
            "prompt_text": "={{$json.prompt_final}}",
            "negative_prompt_text": "={{$json.negative_prompt_raw}}",
            "image_url": "={{$json.image_url}}",
            "critic_score": 0,
            "state": "rendered",
            "created_at": "={{$json.completed_at}}",
            "updated_at": "={{$json.completed_at}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "render_candidate_id",
              "displayName": "render_candidate_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "asset_family_id",
              "displayName": "asset_family_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene_seed_id",
              "displayName": "scene_seed_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene_blueprint_id",
              "displayName": "scene_blueprint_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "archetype_id",
              "displayName": "archetype_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_label",
              "displayName": "blueprint_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "candidate_index",
              "displayName": "candidate_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "render_variant",
              "displayName": "render_variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "provider_name",
              "displayName": "provider_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "provider_job_id",
              "displayName": "provider_job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_text",
              "displayName": "prompt_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "negative_prompt_text",
              "displayName": "negative_prompt_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "critic_score",
              "displayName": "critic_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "critic_notes",
              "displayName": "critic_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ba3f2c03-cfd1-4bdb-ab9d-3835a247bb37",
      "name": "Upsert Render Candidate Bank",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3088,
        128
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "tb5enwr7N1RFgRsg",
          "mode": "list",
          "cachedResultName": "tvpx_scene_blueprint_bank",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/tb5enwr7N1RFgRsg"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "scene_blueprint_id",
              "keyValue": "={{$json.scene_blueprint_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scene_blueprint_id": "={{$json.scene_blueprint_id}}",
            "trace_id": "={{$json.ctx.trace_id}}",
            "scene_seed_id": "={{$json.scene_seed_id}}",
            "archetype_id": "={{$json.archetype_id}}",
            "blueprint_label": "={{$json.blueprint_label}}",
            "blueprint_rank": "={{(() => { const label = String($json.blueprint_label || \"\").toLowerCase(); if (label.includes(\"grounded\")) return \"1\"; if (label.includes(\"hero\")) return \"2\"; if (label.includes(\"wildcard\")) return \"3\"; return \"\"; })()}}",
            "blueprint_mode": "={{$json.blueprint_label || \"\"}}",
            "reference_family": "={{$json.archetype_row?.archetype_name || $json.archetype_id || \"\"}}",
            "person_count": "={{(() => { const mode = String($json.scene_seed_row?.subject_mode || \"\").trim(); if (mode === \"single_figure\") return \"1\"; if (mode === \"pair\") return \"2\"; if (mode === \"small_group\") return \"3+\"; if (mode === \"implied_absence\") return \"0\"; return \"\"; })()}}",
            "subject_grouping": "={{$json.blueprint?.subject_arrangement || $json.scene_seed_row?.subject_mode || \"\"}}",
            "environment_type": "={{$json.blueprint?.environment || \"\"}}",
            "composition_formula": "={{[$json.blueprint?.shot_type, $json.blueprint?.subject_arrangement].filter(Boolean).join(\" | \")}}",
            "camera_formula": "={{[$json.blueprint?.camera_height, $json.blueprint?.camera_distance].filter(Boolean).join(\" | \")}}",
            "lens_formula": "={{$json.blueprint?.shot_type || \"\"}}",
            "lighting_formula": "={{$json.blueprint?.light_weather || \"\"}}",
            "palette_formula": "={{$json.blueprint?.palette_weather || \"\"}}",
            "texture_formula": "={{$json.blueprint?.wardrobe_surface_logic || \"\"}}",
            "negative_space_formula": "={{$json.blueprint?.what_is_not_shown || \"\"}}",
            "symbolic_pressure_formula": "={{$json.blueprint?.one_surreal_lift || \"\"}}",
            "realism_guardrails_json": "={{JSON.stringify({ render_variant: $json.render_variant, image_size: $json.image_size, background: $json.background, quality: $json.quality, output_format: $json.output_format })}}",
            "prop_budget": "={{(() => { try { const budget = JSON.parse($json.scene_seed_row?.render_budget_json || \"{}\"); return budget.max_named_props ?? \"\"; } catch { return \"\"; } })()}}",
            "background_motif_budget": "={{(() => { try { const budget = JSON.parse($json.scene_seed_row?.render_budget_json || \"{}\"); return budget.max_background_motifs ?? \"\"; } catch { return \"\"; } })()}}",
            "blueprint_prompt_core": "={{$json.blueprint?.candidate_prompt_core || \"\"}}",
            "blueprint_notes": "={{$json.prompt_final || $json.blueprint?.what_is_not_shown || \"\"}}",
            "state": "rendered",
            "created_at": "={{$json.blueprint?.created_at || $now}}",
            "updated_at": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "scene_blueprint_id",
              "displayName": "scene_blueprint_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene_seed_id",
              "displayName": "scene_seed_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "archetype_id",
              "displayName": "archetype_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_label",
              "displayName": "blueprint_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_rank",
              "displayName": "blueprint_rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_mode",
              "displayName": "blueprint_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reference_family",
              "displayName": "reference_family",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "person_count",
              "displayName": "person_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject_grouping",
              "displayName": "subject_grouping",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "environment_type",
              "displayName": "environment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "composition_formula",
              "displayName": "composition_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "camera_formula",
              "displayName": "camera_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lens_formula",
              "displayName": "lens_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lighting_formula",
              "displayName": "lighting_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "palette_formula",
              "displayName": "palette_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "texture_formula",
              "displayName": "texture_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "negative_space_formula",
              "displayName": "negative_space_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "symbolic_pressure_formula",
              "displayName": "symbolic_pressure_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "realism_guardrails_json",
              "displayName": "realism_guardrails_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prop_budget",
              "displayName": "prop_budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "background_motif_budget",
              "displayName": "background_motif_budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_prompt_core",
              "displayName": "blueprint_prompt_core",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_notes",
              "displayName": "blueprint_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c25b2a00-db07-49e4-af77-0ed4b7990636",
      "name": "Update Scene Blueprint Rendered",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3088,
        320
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "7a2f05a1-3c8c-40e7-a155-95851ac08d2e",
      "name": "Merge Candidate And Critic Raw",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3376,
        536
      ]
    },
    {
      "parameters": {
        "jsCode": "function fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nfunction extractJsonText(raw) {\n  const body = raw?.body ?? raw?.data ?? raw ?? {};\n  if (typeof body.output_text === 'string' && body.output_text.trim()) return body.output_text;\n\n  const chunks = [];\n  const output = Array.isArray(body.output) ? body.output : [];\n  for (const item of output) {\n    const content = Array.isArray(item?.content) ? item.content : [];\n    for (const block of content) {\n      if (typeof block?.text === 'string' && block.text.trim()) chunks.push(block.text);\n      if (typeof block?.output_text === 'string' && block.output_text.trim()) chunks.push(block.output_text);\n    }\n  }\n\n  return chunks.join('\\n') || JSON.stringify(body);\n}\n\nfunction parseStrictJson(raw) {\n  const text = String(raw || '').trim();\n  if (!text) throw new Error('TVPX__30: empty vision critic output.');\n\n  const candidates = [\n    text,\n    text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim(),\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n    return JSON.parse(slice);\n  }\n\n  throw new Error('TVPX__30: could not parse vision critic JSON.');\n}\n\nconst merged = $json || {};\nconst parsed = parseStrictJson(extractJsonText(merged));\nconst criticRunId = `tvpx_crc_${fnv1a(String(merged.render_candidate_id || 'candidate'))}`;\n\nreturn [{\n  json: {\n    ...merged,\n    critic_run_id: criticRunId,\n    render_critic: parsed,\n  },\n}];"
      },
      "id": "cdc06ab3-1c6d-498c-aef2-1551271854f3",
      "name": "Parse Render Vision Critic JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        536
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "PvVdyIswRZgIt9tp",
          "mode": "list",
          "cachedResultName": "tvpx_render_critic_bank",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/PvVdyIswRZgIt9tp"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "critic_id",
              "keyValue": "={{$json.critic_run_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "render_candidate_id": "={{$json.render_candidate_id}}",
            "scene_seed_id": "={{$json.scene_seed_id}}",
            "scene_blueprint_id": "={{$json.scene_blueprint_id}}",
            "archetype_id": "={{$json.archetype_id}}",
            "created_at": "={{$now}}",
            "critic_id": "={{$json.critic_run_id}}",
            "trace_id": "={{$json.ctx.trace_id}}",
            "asset_family_id": "={{$json.ctx.asset_family_id}}",
            "critic_model": "gpt-4.1",
            "critic_stage": "render_vision",
            "score_overall": "={{$json.render_critic.overall_score}}",
            "score_reference_match": "={{$json.render_critic.family_fidelity_score}}",
            "score_composition": "={{$json.render_critic.composition_score}}",
            "score_blueprint_fidelity": "={{$json.render_critic.blueprint_fidelity_score}}",
            "score_negative_space": "={{$json.render_critic.negative_space_score}}",
            "score_material_honesty": "={{$json.render_critic.material_honesty_score}}",
            "score_prop_discipline": "={{$json.render_critic.prop_discipline_score}}",
            "score_surreal_restraint": "={{$json.render_critic.surreal_restraint_score}}",
            "approve": "={{$json.render_critic.verdict === \"pass\" ? \"true\" : \"false\"}}",
            "reject_reason": "={{$json.render_critic.drift_flags?.join(\", \") || \"\"}}",
            "critic_notes": "={{$json.render_critic.notes}}",
            "drift_flags_json": "={{JSON.stringify($json.render_critic.drift_flags || [])}}",
            "state": "critiqued",
            "updated_at": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "critic_id",
              "displayName": "critic_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "asset_family_id",
              "displayName": "asset_family_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "render_candidate_id",
              "displayName": "render_candidate_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene_seed_id",
              "displayName": "scene_seed_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene_blueprint_id",
              "displayName": "scene_blueprint_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "archetype_id",
              "displayName": "archetype_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "critic_model",
              "displayName": "critic_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "critic_stage",
              "displayName": "critic_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_overall",
              "displayName": "score_overall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_reference_match",
              "displayName": "score_reference_match",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_composition",
              "displayName": "score_composition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_palette",
              "displayName": "score_palette",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "score_stylization_control",
              "displayName": "score_stylization_control",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "score_photographic_credibility",
              "displayName": "score_photographic_credibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "score_symbolic_pressure",
              "displayName": "score_symbolic_pressure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "approve",
              "displayName": "approve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reject_reason",
              "displayName": "reject_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "critic_notes",
              "displayName": "critic_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_blueprint_fidelity",
              "displayName": "score_blueprint_fidelity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_negative_space",
              "displayName": "score_negative_space",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_material_honesty",
              "displayName": "score_material_honesty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_prop_discipline",
              "displayName": "score_prop_discipline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_surreal_restraint",
              "displayName": "score_surreal_restraint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "drift_flags_json",
              "displayName": "drift_flags_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fc2b6a64-4d25-48a7-ab0e-da08f37f5ca6",
      "name": "Upsert Render Critic Bank",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3824,
        248
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "bl0wuJZHWZ7NA5WL",
          "mode": "list",
          "cachedResultName": "tvpx_render_candidate_bank",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/bl0wuJZHWZ7NA5WL"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "render_candidate_id",
              "keyValue": "={{$json.render_candidate_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "render_candidate_id": "={{$json.render_candidate_id}}",
            "trace_id": "={{$json.ctx.trace_id}}",
            "asset_family_id": "={{$json.ctx.asset_family_id}}",
            "scene_seed_id": "={{$json.scene_seed_id}}",
            "scene_blueprint_id": "={{$json.scene_blueprint_id}}",
            "archetype_id": "={{$json.archetype_id}}",
            "blueprint_label": "={{$json.blueprint_label}}",
            "candidate_index": "={{$json.candidate_index}}",
            "render_variant": "={{$json.render_variant}}",
            "provider_name": "={{$json.provider_name}}",
            "provider_job_id": "={{$json.provider_job_id}}",
            "prompt_text": "={{$json.prompt_final}}",
            "negative_prompt_text": "={{$json.negative_prompt_raw}}",
            "image_url": "={{$json.image_url}}",
            "critic_score": "={{$json.render_critic.overall_score}}",
            "critic_notes": "={{$json.render_critic.notes}}",
            "state": "critiqued",
            "updated_at": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "render_candidate_id",
              "displayName": "render_candidate_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "asset_family_id",
              "displayName": "asset_family_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene_seed_id",
              "displayName": "scene_seed_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene_blueprint_id",
              "displayName": "scene_blueprint_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "archetype_id",
              "displayName": "archetype_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_label",
              "displayName": "blueprint_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "candidate_index",
              "displayName": "candidate_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "render_variant",
              "displayName": "render_variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "provider_name",
              "displayName": "provider_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "provider_job_id",
              "displayName": "provider_job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_text",
              "displayName": "prompt_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "negative_prompt_text",
              "displayName": "negative_prompt_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "critic_score",
              "displayName": "critic_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "critic_notes",
              "displayName": "critic_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6f59cbc2-8316-4b7b-a426-cc120211f332",
      "name": "Update Render Candidate Bank With Critic",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3824,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json || {}).filter(Boolean);\nif (!rows.length) throw new Error('TVPX__30: no critiqued render candidates found.');\n\nfunction n(v, d = 0) {\n  const x = Number(v);\n  return Number.isFinite(x) ? x : d;\n}\n\nconst scored = rows.map((row) => {\n  const c = row.render_critic || {};\n  const label = String(row.blueprint_label || '').toLowerCase();\n  const driftFlags = Array.isArray(c.drift_flags) ? c.drift_flags : [];\n\n  let labelBias = 0;\n  if (label.includes('grounded')) labelBias = 0.12;\n  else if (label.includes('hero')) labelBias = 0.04;\n  else if (label.includes('wildcard')) labelBias = -0.10;\n\n  const selectorScore =\n    n(c.overall_score) * 0.30 +\n    n(c.family_fidelity_score) * 0.20 +\n    n(c.blueprint_fidelity_score) * 0.20 +\n    n(c.composition_score) * 0.10 +\n    n(c.negative_space_score) * 0.08 +\n    n(c.material_honesty_score) * 0.07 +\n    n(c.prop_discipline_score) * 0.05 -\n    n(c.stock_risk_score) * 0.25 -\n    driftFlags.length * 0.40 +\n    labelBias;\n\n  return { row, selectorScore };\n}).sort((a, b) => b.selectorScore - a.selectorScore);\n\nconst winner = scored[0]?.row;\nif (!winner) throw new Error('TVPX__30: winner selection failed.');\n\nconst c = winner.render_critic || {};\nif (n(c.overall_score) < 8.7) throw new Error('TVPX__30: best candidate overall_score below release floor.');\nif (n(c.family_fidelity_score) < 8.6) throw new Error('TVPX__30: best candidate family_fidelity_score below release floor.');\nif (n(c.blueprint_fidelity_score) < 8.3) throw new Error('TVPX__30: best candidate blueprint_fidelity_score below release floor.');\nif (n(c.stock_risk_score) > 3.5) throw new Error('TVPX__30: best candidate still too stock-like.');\n\nreturn [{\n  json: {\n    ...winner,\n    winner_selector_score: Number(scored[0].selectorScore.toFixed(4)),\n    winner_audit: scored.map(entry => ({\n      render_candidate_id: entry.row.render_candidate_id,\n      blueprint_label: entry.row.blueprint_label,\n      selector_score: Number(entry.selectorScore.toFixed(4)),\n      overall_score: n(entry.row.render_critic?.overall_score),\n      family_fidelity_score: n(entry.row.render_critic?.family_fidelity_score),\n      blueprint_fidelity_score: n(entry.row.render_critic?.blueprint_fidelity_score),\n      stock_risk_score: n(entry.row.render_critic?.stock_risk_score)\n    }))\n  }\n}];"
      },
      "id": "92ce0295-80ef-49ff-abe4-d2ef95139596",
      "name": "Select Winning Candidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        632
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "tb5enwr7N1RFgRsg",
          "mode": "list",
          "cachedResultName": "tvpx_scene_blueprint_bank",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/tb5enwr7N1RFgRsg"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "scene_blueprint_id",
              "keyValue": "={{$json.scene_blueprint_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "trace_id": "={{$json.ctx.trace_id}}",
            "updated_at": "={{$now}}",
            "winner_score": "={{$json.render_critic.overall_score}}",
            "scene_seed_id": "={{$json.scene_seed_id}}",
            "archetype_id": "={{$json.archetype_id}}",
            "blueprint_label": "={{$json.blueprint_label}}",
            "winner_candidate_id": "={{$json.render_candidate_id}}",
            "winner_notes": "={{$json.render_critic.notes}}",
            "state": "winner"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "scene_blueprint_id",
              "displayName": "scene_blueprint_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene_seed_id",
              "displayName": "scene_seed_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "archetype_id",
              "displayName": "archetype_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_label",
              "displayName": "blueprint_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_rank",
              "displayName": "blueprint_rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_mode",
              "displayName": "blueprint_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reference_family",
              "displayName": "reference_family",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "person_count",
              "displayName": "person_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject_grouping",
              "displayName": "subject_grouping",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "environment_type",
              "displayName": "environment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "composition_formula",
              "displayName": "composition_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "camera_formula",
              "displayName": "camera_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lens_formula",
              "displayName": "lens_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lighting_formula",
              "displayName": "lighting_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "palette_formula",
              "displayName": "palette_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "texture_formula",
              "displayName": "texture_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "negative_space_formula",
              "displayName": "negative_space_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "symbolic_pressure_formula",
              "displayName": "symbolic_pressure_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "realism_guardrails_json",
              "displayName": "realism_guardrails_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prop_budget",
              "displayName": "prop_budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "background_motif_budget",
              "displayName": "background_motif_budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_prompt_core",
              "displayName": "blueprint_prompt_core",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blueprint_notes",
              "displayName": "blueprint_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "winner_candidate_id",
              "displayName": "winner_candidate_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "winner_score",
              "displayName": "winner_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "winner_notes",
              "displayName": "winner_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a88c4e40-7f03-4ac8-a99d-96c8cd63cda3",
      "name": "Mark Winning Blueprint",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        4048,
        536
      ]
    },
    {
      "parameters": {
        "jsCode": "const winner = $json || {};\nconst critic = winner.render_critic || winner.vision_critic || {};\nconst imageUrl = String(winner.image_url || '').trim();\nif (!imageUrl) throw new Error('TVPX__30: winner image_url missing.');\n\nreturn [{\n  json: {\n    ctx: winner.ctx,\n    concept_id: String(winner.scene_seed_id || '').trim(),\n    scene_seed_id: String(winner.scene_seed_id || '').trim(),\n    scene_blueprint_id: String(winner.scene_blueprint_id || '').trim(),\n    archetype_id: String(winner.archetype_id || '').trim(),\n    render_candidate_id: String(winner.render_candidate_id || '').trim(),\n    blueprint_label: String(winner.blueprint_label || '').trim(),\n    reference_alignment_score: Number(critic.reference_alignment_score || 0),\n    critic_overall_score: Number(critic.overall_score || 0),\n    asset_family_id: String(winner.ctx?.asset_family_id || '').trim() || null,\n    asset_id: String(winner.render_candidate_id || '').trim() ? `tvpx_as_${winner.render_candidate_id}_color` : null,\n    family: {\n      color: {\n        image_url: imageUrl,\n        provider_image_url: imageUrl,\n        provider_name: String(winner.provider_name || '').trim(),\n        provider_job_id: String(winner.provider_job_id || '').trim(),\n        prompt_final: String(winner.prompt_final || '').trim(),\n        negative_prompt_raw: String(winner.negative_prompt_raw || '').trim(),\n        output_format: String(winner.output_format || 'png').trim(),\n        render_candidate_id: String(winner.render_candidate_id || '').trim(),\n        concept_snapshot: winner.scene_seed_row || null,\n      },\n    },\n  },\n}];"
      },
      "id": "3f2d676c-871e-4c6a-a563-d3a455cc6246",
      "name": "Build Winner Color Finalizer Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4048,
        728
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vaFfkhqKgBk2VCGh",
          "mode": "list",
          "cachedResultName": "TVPX__40__Asset Finalizer And Telegram Dispatch",
          "cachedResultUrl": "/workflow/vaFfkhqKgBk2VCGh"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ctx": "={{$json.ctx}}",
            "concept_id": "={{$json.concept_id}}",
            "scene_seed_id": "={{$json.scene_seed_id}}",
            "scene_blueprint_id": "={{$json.scene_blueprint_id}}",
            "archetype_id": "={{$json.archetype_id}}",
            "render_candidate_id": "={{$json.render_candidate_id}}",
            "blueprint_label": "={{$json.blueprint_label}}",
            "reference_alignment_score": "={{$json.reference_alignment_score}}",
            "critic_overall_score": "={{$json.critic_overall_score}}",
            "asset_id": "={{$json.asset_id}}",
            "asset_family_id": "={{$json.asset_family_id}}",
            "family": "={{$json.family}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "8a23368d-981d-43b1-a05f-1873321667cd",
      "name": "Call TVPX__40__Asset Finalizer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4272,
        728
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const winner = $items('Select Winning Candidate')[0]?.json || {};\nconst prompt = String(winner.prompt_final || '').trim();\nif (!prompt) throw new Error('TVPX__30: winner prompt missing.');\n\nreturn [{\n  json: {\n    ctx: winner.ctx || {},\n    concept_id: String(winner.scene_seed_id || '').trim(),\n    scene_seed_id: String(winner.scene_seed_id || '').trim(),\n    scene_blueprint_id: String(winner.scene_blueprint_id || '').trim(),\n    archetype_id: String(winner.archetype_id || '').trim(),\n    blueprint_label: String(winner.blueprint_label || '').trim(),\n    render_variant: 'bw',\n    prompt: `${prompt} Black-and-white only. Silver-gelatin tonal separation, tactile midtones, restrained contrast, no stylized monochrome gimmicks.`,\n    negative_prompt: String(winner.negative_prompt_raw || '').trim(),\n    provider_controls: {\n      image_size: String(winner.ctx?.image_size || '1024x1536'),\n      background: String(winner.ctx?.background || 'opaque'),\n      quality: String(winner.ctx?.quality || 'high'),\n      output_format: String(winner.ctx?.output_format || 'png'),\n      num_images: 1,\n    },\n  },\n}];"
      },
      "id": "8f60642b-30a6-4474-a8e1-8a9466842d03",
      "name": "Build Winner B W Render Packet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4496,
        728
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2uSefQgL3Y5q90Vc",
          "mode": "list",
          "cachedResultName": "TVPX__30A__Fal Batch Render Submit And Poll",
          "cachedResultUrl": "/workflow/2uSefQgL3Y5q90Vc"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ctx": "={{$json.ctx}}",
            "concept_id": "={{$json.concept_id}}",
            "scene_seed_id": "={{$json.scene_seed_id}}",
            "scene_blueprint_id": "={{$json.scene_blueprint_id}}",
            "archetype_id": "={{$json.archetype_id}}",
            "blueprint_label": "={{$json.blueprint_label}}",
            "prompt": "={{$json.prompt}}",
            "negative_prompt": "={{$json.negative_prompt}}",
            "render_variant": "={{$json.render_variant}}",
            "provider_controls": "={{$json.provider_controls}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "14b6f7cd-231a-419f-ab09-cf347ef72c10",
      "name": "Call TVPX__30A__Fal Batch Render Submit And Poll (BW)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4720,
        728
      ]
    },
    {
      "parameters": {
        "jsCode": "const render = $json || {};\nconst base = $items('Select Winning Candidate')[0]?.json || {};\nconst critic = base.render_critic || base.vision_critic || {};\nconst imageUrl = String(render.image_url || '').trim();\nif (!imageUrl) throw new Error('TVPX__30: B/W render returned no image_url.');\n\nreturn [{\n  json: {\n    ctx: base.ctx,\n    concept_id: String(base.scene_seed_id || '').trim(),\n    scene_seed_id: String(base.scene_seed_id || '').trim(),\n    scene_blueprint_id: String(base.scene_blueprint_id || '').trim(),\n    archetype_id: String(base.archetype_id || '').trim(),\n    render_candidate_id: String(render.render_candidate_id || '').trim(),\n    blueprint_label: String(base.blueprint_label || '').trim(),\n    reference_alignment_score: Number(critic.reference_alignment_score || 0),\n    critic_overall_score: Number(critic.overall_score || 0),\n    asset_family_id: String(base.ctx?.asset_family_id || '').trim() || null,\n    asset_id: String(render.render_candidate_id || '').trim() ? `tvpx_as_${render.render_candidate_id}_bw` : null,\n    family: {\n      bw: {\n        image_url: imageUrl,\n        provider_image_url: imageUrl,\n        provider_name: String(render.provider_name || '').trim(),\n        provider_job_id: String(render.provider_job_id || '').trim(),\n        prompt_final: String(render.prompt_final || '').trim(),\n        negative_prompt_raw: String(render.negative_prompt_raw || '').trim(),\n        output_format: String(render.output_format || 'png').trim(),\n        render_candidate_id: String(render.render_candidate_id || '').trim(),\n      },\n    },\n  },\n}];"
      },
      "id": "5bf5ef00-f030-41a5-a96b-feb80e6370cb",
      "name": "Build Winner B W Finalizer Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4944,
        728
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3nJbW4QhL9r2YpCk",
          "mode": "list",
          "cachedResultName": "TVPX__41__B W Finalizer And Telegram Dispatch",
          "cachedResultUrl": "/workflow/3nJbW4QhL9r2YpCk"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ctx": "={{$json.ctx}}",
            "concept_id": "={{$json.concept_id}}",
            "scene_seed_id": "={{$json.scene_seed_id}}",
            "scene_blueprint_id": "={{$json.scene_blueprint_id}}",
            "archetype_id": "={{$json.archetype_id}}",
            "render_candidate_id": "={{$json.render_candidate_id}}",
            "blueprint_label": "={{$json.blueprint_label}}",
            "asset_id": "={{$json.asset_id}}",
            "asset_family_id": "={{$json.asset_family_id}}",
            "family": "={{$json.family}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "2813bf17-595a-4159-a89b-1f48aa014fac",
      "name": "Call TVPX__41__BW Finalizer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5168,
        728
      ]
    },
    {
      "parameters": {
        "jsCode": "const locked = $items('Verify Lock Ownership')[0]?.json || {};\nconst winner = $items('Select Winning Candidate')[0]?.json || {};\n\nconst ctx = locked.ctx || winner.ctx || {};\nconst sceneSeedId = String(locked.scene_seed_id || winner.scene_seed_id || '').trim();\nconst usedCount = Number(locked.scene_seed_row?.used_count || winner.scene_seed_row?.used_count || 0);\n\nif (!sceneSeedId) throw new Error('TVPX__30: missing scene_seed_id for final scene-seed release.');\nif (!String(ctx.trace_id || '').trim()) throw new Error('TVPX__30: missing trace_id for final scene-seed release.');\n\nreturn [{\n  json: {\n    ctx,\n    scene_seed_id: sceneSeedId,\n    used_count_next: usedCount + 1,\n  },\n}];"
      },
      "id": "d8f0b47a-5f53-4b24-a347-0e2208d7464d",
      "name": "Build Final Scene Seed Release",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5392,
        728
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "ZquAVdSdqKEpnZQx",
          "mode": "list",
          "cachedResultName": "tvpx_scene_seed_pool",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/ZquAVdSdqKEpnZQx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "scene_seed_id",
              "keyValue": "={{$json.scene_seed_id}}"
            },
            {
              "keyName": "state",
              "keyValue": "locked"
            },
            {
              "keyName": "lock_owner",
              "keyValue": "={{$json.ctx.trace_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "rendered",
            "updated_at": "={{$now}}",
            "last_used_at": "={{$now}}",
            "used_count": "={{$json.used_count_next}}",
            "lock_owner": "={{null}}",
            "lock_expires_at": "={{null}}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6da3414a-0895-4270-aa7d-3676d0122a49",
      "name": "Mark Scene Seed Rendered",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        5616,
        728
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2160,
        200
      ],
      "id": "165a5aac-076d-4a65-9b98-0cf734c515d3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2128,
        320
      ],
      "id": "f5656b41-e034-44a6-b2a6-93d5cf650b06",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "function parseJsonMaybe(value, fallback) {\n  if (Array.isArray(value) || (value && typeof value === 'object')) return value;\n  const text = String(value || '').trim();\n  if (!text) return fallback;\n  try { return JSON.parse(text); } catch { return fallback; }\n}\n\nfunction clean(v) {\n  return String(v || '').replace(/\\s+/g, ' ').trim();\n}\n\nconst seed = $json.scene_seed_row || {};\nconst arch = $json.archetype_row || {};\nconst bp = $json.blueprint || {};\nconst guard = $json.archetype_guardrail_row || {};\n\nconst renderBudget = parseJsonMaybe(seed.render_budget_json, {});\nconst forbiddenExcess = parseJsonMaybe(seed.forbidden_excess_json, []);\nconst materialDNA = parseJsonMaybe(arch.material_dna_json, []);\nconst surrealLiftRules = parseJsonMaybe(arch.surreal_lift_rules_json, []);\nconst forbiddenTells = parseJsonMaybe(arch.forbidden_tells_json, []);\nconst propManifest = parseJsonMaybe(seed.prop_manifest_json, { hero_props: [], supporting_props: [] });\n\nreturn [{\n  json: {\n    ...$json,\n    prompt_smith_packet: {\n      reference_family: {\n        archetype_id: clean(arch.archetype_id),\n        archetype_name: clean(arch.archetype_name),\n        camera_dna: clean(arch.camera_dna),\n        palette_dna: clean(arch.palette_dna),\n        material_dna: materialDNA.map(clean).filter(Boolean),\n        negative_space_dna: clean(arch.negative_space_dna),\n        surreal_lift_rules: surrealLiftRules.map(clean).filter(Boolean),\n        forbidden_tells: forbiddenTells.map(clean).filter(Boolean),\n        notes: clean(arch.notes)\n      },\n      family_guardrail: {\n        allowed_subject_modes: parseJsonMaybe(guard.allowed_subject_modes_json || guard.allowed_subject_modes, []),\n        anchor_environment_terms: parseJsonMaybe(guard.anchor_environment_terms_json || guard.anchor_environment_terms, []),\n        anchor_material_terms: parseJsonMaybe(guard.anchor_material_terms_json || guard.anchor_material_terms, []),\n        anchor_gesture_terms: parseJsonMaybe(guard.anchor_gesture_terms_json || guard.anchor_gesture_terms, []),\n        forbidden_prop_terms: parseJsonMaybe(guard.forbidden_prop_terms_json || guard.forbidden_prop_terms, []),\n        forbidden_style_terms: parseJsonMaybe(guard.forbidden_style_terms_json || guard.forbidden_style_terms, []),\n        forbidden_palette_terms: parseJsonMaybe(guard.forbidden_palette_terms_json || guard.forbidden_palette_terms, []),\n        critic_score_floor: Number(guard.critic_score_floor || 8.6),\n        render_prompt_word_ceiling: Number(guard.render_prompt_word_ceiling || 115)\n      },\n      visible_scene: {\n        dominant_subject: clean(seed.dominant_subject),\n        material_anchor: clean(seed.material_anchor),\n        setting_family: clean(seed.setting_family),\n        spatial_directive: clean(seed.spatial_directive),\n        palette_directive: clean(seed.palette_directive),\n        texture_directive: clean(seed.texture_directive),\n        negative_space_note: clean(seed.negative_space_note),\n        omission_notes: clean(seed.omission_notes),\n        surreal_mechanism: clean(seed.surreal_mechanism),\n        prop_manifest: propManifest\n      },\n      locked_blueprint: {\n        blueprint_label: clean(bp.blueprint_label),\n        shot_type: clean(bp.shot_type),\n        camera_height: clean(bp.camera_height),\n        camera_distance: clean(bp.camera_distance),\n        subject_arrangement: clean(bp.subject_arrangement),\n        environment: clean(bp.environment),\n        light_weather: clean(bp.light_weather),\n        wardrobe_surface_logic: clean(bp.wardrobe_surface_logic),\n        palette_weather: clean(bp.palette_weather),\n        one_surreal_lift: clean(bp.one_surreal_lift),\n        what_is_not_shown: clean(bp.what_is_not_shown),\n        candidate_prompt_core: clean(bp.candidate_prompt_core)\n      },\n      render_limits: {\n        max_named_props: Number(renderBudget.max_named_props || 4),\n        max_background_motifs: Number(renderBudget.max_background_motifs || 2),\n        max_prompt_words: Number(renderBudget.max_prompt_words || 115),\n        forbidden_excess: forbiddenExcess.map(clean).filter(Boolean)\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        320
      ],
      "id": "79c8e867-1f9c-4b56-8380-3c43efabb1c4",
      "name": "Build Prompt Smith Packet"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "5KpLfqhCa6qq2q1v",
          "mode": "list",
          "cachedResultName": "tvpx_archetype_guardrail_bank",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/5KpLfqhCa6qq2q1v"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "archetype_id",
              "keyValue": "={{$json.scene_seed_row.archetype_id}}"
            },
            {
              "keyName": "active",
              "condition": "isTrue"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -144,
        200
      ],
      "id": "42dad561-bb3a-4003-8e49-429471edea58",
      "name": "Get Archetype Guardrail By Id",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "function clean(v) {\n  return String(v || '').toLowerCase().replace(/[^a-z0-9\\s-]/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nconst base = $json || {};\nconst pack = base.scene_blueprint_pack || {};\nconst guardrail = base.archetype_guardrail_row || {};\nconst blueprints = Array.isArray(pack.blueprints) ? pack.blueprints : [];\n\nif (!blueprints.length) throw new Error('TVPX__30: no blueprints returned.');\n\nfunction parseJsonMaybe(v, fb) { if (Array.isArray(v)) return v; if (v && typeof v === 'object') return fb; try { return JSON.parse(v); } catch { return fb; } }\nconst forbiddenStyleTerms = parseJsonMaybe(guardrail.forbidden_style_terms || guardrail.forbidden_style_terms_json, []);\nconst envTerms = parseJsonMaybe(guardrail.anchor_environment_terms || guardrail.anchor_environment_terms_json, []);\n\nfunction passesGuard(bp, skipEnvCheck) {\n  const shot = clean(bp.shot_type);\n  const core = clean(bp.candidate_prompt_core);\n  const env = clean(bp.environment);\n  const full = `${shot} ${core} ${env}`;\n\n  if (forbiddenStyleTerms.some(t => full.includes(clean(t)))) return false;\n  const wordCeiling = Number(guardrail.render_prompt_word_ceiling || guardrail.render_prompt_word_ceiling_json || 115);\n  if (wordCeiling > 0 && (core.split(/\\s+/).filter(Boolean).length) > wordCeiling) return false;\n  if (!skipEnvCheck && envTerms.length && !envTerms.some(t => full.includes(clean(t)))) return false;\n  if (full.includes('studio') || full.includes('fashion editorial') || full.includes('product shot')) return false;\n  return true;\n}\n\nlet filtered = blueprints.filter(bp => passesGuard(bp, false));\nlet guard_env_relaxed = false;\n\nif (!filtered.length && envTerms.length) {\n  filtered = blueprints.filter(bp => passesGuard(bp, true));\n  guard_env_relaxed = filtered.length > 0;\n}\n\nif (!filtered.length) {\n  const sample = blueprints[0];\n  const full = `${clean(sample?.shot_type || '')} ${clean(sample?.candidate_prompt_core || '')} ${clean(sample?.environment || '')}`;\n  throw new Error('TVPX__30: all blueprint candidates failed deterministic family guard. Check: forbidden_style_terms, anchor_environment_terms, word count (>70), or hard bans (studio, fashion editorial, product shot). Sample full text length: ' + full.length);\n}\n\nreturn [{\n  json: {\n    ...base,\n    scene_blueprint_pack: {\n      ...pack,\n      blueprints: filtered\n    },\n    ...(guard_env_relaxed ? { guard_env_relaxed: true } : {})\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        200
      ],
      "id": "c1559555-665d-4e27-a210-51f32772ad91",
      "name": "Deterministic Blueprint Guard"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Archetype:\n{{ JSON.stringify($json.archetype_row || {}, null, 2) }}\n\nGuardrail:\n{{ JSON.stringify($json.archetype_guardrail_row || {}, null, 2) }}\n\nScene seed:\n{{ JSON.stringify($json.scene_seed_row || {}, null, 2) }}\n\nBlueprint:\n{{ JSON.stringify($json.blueprint || {}, null, 2) }}\n\nSubmitted prompt:\n{{ String($json.prompt_final || '') }}\n\nJudge the attached candidate image against the full locked packet.",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are TVPX__LLM__Render_Vision_Critic_V2 for The Velvet Paradox.\n\nJudge the rendered image against:\n1. the selected archetype family\n2. the locked blueprint\n3. the scene seed\n4. the actual submitted prompt\n\nReward:\n- family fidelity\n- blueprint fidelity\n- composition pressure\n- negative space force\n- material honesty\n- prop discipline\n- one controlled surreal mechanism\n- anti-stock authorship\n\nPenalize:\n- family drift\n- blueprint drift\n- over-stylization\n- prop clutter\n- glossy CGI feel\n- editorial illustration feel\n- dead atmosphere\n- image that fits the family but ignores the actual locked shot\n\nReturn JSON only.\n\nReturn exactly:\n{\n  \"family_fidelity_score\": 0.0,\n  \"blueprint_fidelity_score\": 0.0,\n  \"composition_score\": 0.0,\n  \"negative_space_score\": 0.0,\n  \"material_honesty_score\": 0.0,\n  \"prop_discipline_score\": 0.0,\n  \"surreal_restraint_score\": 0.0,\n  \"stock_risk_score\": 0.0,\n  \"overall_score\": 0.0,\n  \"drift_flags\": [\"...\"],\n  \"verdict\": \"pass\",\n  \"notes\": \"...\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3024,
        608
      ],
      "id": "d958d0a8-af60-42de-9874-65989500425f",
      "name": "Basic LLM Chain"
    }
  ],
  "connections": {
    "Initialize Envelope": {
      "main": [
        [
          {
            "node": "Has Scene Seed Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Scene Seed Id": {
      "main": [
        [
          {
            "node": "Get Scene Seed By Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Ready Scene Seeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scene Seed By Id": {
      "main": [
        [
          {
            "node": "Reattach Context After Get Scene Seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ready Scene Seeds": {
      "main": [
        [
          {
            "node": "Select Best Scene Seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Best Scene Seed": {
      "main": [
        [
          {
            "node": "Build Lock Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reattach Context After Get Scene Seed": {
      "main": [
        [
          {
            "node": "Build Lock Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Lock Payload": {
      "main": [
        [
          {
            "node": "Lock Scene Seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Scene Seed": {
      "main": [
        [
          {
            "node": "Fetch Locked Scene Seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Locked Scene Seed": {
      "main": [
        [
          {
            "node": "Verify Lock Ownership",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Lock Ownership": {
      "main": [
        [
          {
            "node": "Get Archetype Guardrail By Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Archetype By Id": {
      "main": [
        [
          {
            "node": "Assemble Scene Seed Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Scene Seed Packet": {
      "main": [
        [
          {
            "node": "LLM Scene Blueprint Director",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Scene Blueprint Director": {
      "main": [
        [
          {
            "node": "Parse Scene Blueprint Pack JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Scene Blueprint Pack JSON": {
      "main": [
        [
          {
            "node": "Deterministic Blueprint Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Blueprint Pack": {
      "main": [
        [
          {
            "node": "Upsert Scene Blueprint Bank",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Prompt Smith Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Final Prompt Smith V2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Prompt Spec V2": {
      "main": [
        [
          {
            "node": "Build Color Render Packets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Color Render Packets": {
      "main": [
        [
          {
            "node": "Call TVPX__30A__Fal Batch Render Submit And Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call TVPX__30A__Fal Batch Render Submit And Poll": {
      "main": [
        [
          {
            "node": "Upsert Render Candidate Bank",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Scene Blueprint Rendered",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Candidate And Critic Raw",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Candidate And Critic Raw": {
      "main": [
        [
          {
            "node": "Parse Render Vision Critic JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Render Vision Critic JSON": {
      "main": [
        [
          {
            "node": "Upsert Render Critic Bank",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Render Candidate Bank With Critic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select Winning Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Winning Candidate": {
      "main": [
        [
          {
            "node": "Mark Winning Blueprint",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Winner Color Finalizer Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Winner Color Finalizer Payload": {
      "main": [
        [
          {
            "node": "Call TVPX__40__Asset Finalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call TVPX__40__Asset Finalizer": {
      "main": [
        [
          {
            "node": "Build Winner B W Render Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Winner B W Render Packet": {
      "main": [
        [
          {
            "node": "Call TVPX__30A__Fal Batch Render Submit And Poll (BW)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call TVPX__30A__Fal Batch Render Submit And Poll (BW)": {
      "main": [
        [
          {
            "node": "Build Winner B W Finalizer Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Winner B W Finalizer Payload": {
      "main": [
        [
          {
            "node": "Call TVPX__41__BW Finalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call TVPX__41__BW Finalizer": {
      "main": [
        [
          {
            "node": "Build Final Scene Seed Release",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Director Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Scene Blueprint Director",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LLM Final Prompt Smith V2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Director Model xAI Fallback Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Scene Blueprint Director",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "LLM Final Prompt Smith V2",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Initialize Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Parse Prompt Spec V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Scene Seed Release": {
      "main": [
        [
          {
            "node": "Mark Scene Seed Rendered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt Smith Packet": {
      "main": [
        [
          {
            "node": "LLM Final Prompt Smith V2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Archetype Guardrail By Id": {
      "main": [
        [
          {
            "node": "Get Archetype By Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deterministic Blueprint Guard": {
      "main": [
        [
          {
            "node": "Explode Blueprint Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge Candidate And Critic Raw",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "700c977b-5749-403f-8600-3acc1a9152b7",
  "activeVersionId": null,
  "versionCounter": 197,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-06T20:19:00.602Z",
      "createdAt": "2026-03-06T20:19:00.602Z",
      "role": "workflow:owner",
      "workflowId": "XtyvRQfTLySqT16o",
      "projectId": "NK3VX1YKPgfTJeSY",
      "project": {
        "updatedAt": "2025-12-08T15:00:57.909Z",
        "createdAt": "2025-12-08T14:54:00.172Z",
        "id": "NK3VX1YKPgfTJeSY",
        "name": "Benny Ebere <ebere.benny97@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4cb24128-c146-45db-a1a6-9dd54603f17a"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}