tvpx__10__source-ingest-and-crawl--Q5NWVXP1AWnlw95F.json
{
  "updatedAt": "2026-03-05T20:13:48.038Z",
  "createdAt": "2026-03-05T13:57:34.571Z",
  "id": "Q5NWVXP1AWnlw95F",
  "name": "TVPX__10__Source Ingest And Crawl",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "1a9d81f7-2f98-4153-a5e2-65479aa0ff23",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        272
      ]
    },
    {
      "parameters": {},
      "id": "fe59054e-717d-4381-9aac-f22820d4089a",
      "name": "When Executed By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Initialize Envelope\n * - Normalizes inbound payloads from Schedule or ExecuteWorkflowTrigger\n * - Ensures ctx exists and survives external node outputs via explicit ctx holds + merges\n * - No env vars; all state flows through json + DataTables\n */\n\nfunction fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nconst incoming = $json || {};\nconst now = new Date().toISOString();\nconst baseCtx = (incoming.ctx && typeof incoming.ctx === 'object') ? incoming.ctx : {};\n\nconst traceSeed = JSON.stringify(incoming).slice(0, 5000) + '::' + now;\nconst traceId = baseCtx.trace_id || `tvpx_${fnv1a(traceSeed)}`;\n\nconst ctx = {\n  project_ns: 'TVPX',\n  brand_name: 'The Velvet Paradox',\n  trace_id: traceId,\n  trigger_mode: baseCtx.trigger_mode || (incoming.message ? 'telegram' : 'schedule'),\n  route_mode: baseCtx.route_mode || 'crawl',\n  run_started_at: now,\n  crawl_profile: baseCtx.crawl_profile || incoming.crawl_profile || 'default',\n  default_apify_actor_id: String(baseCtx.default_apify_actor_id || incoming.default_apify_actor_id || '').trim(),\n  max_pages_per_source: Number(baseCtx.max_pages_per_source || incoming.max_pages_per_source || 300),\n  max_fragments_per_page: Number(baseCtx.max_fragments_per_page || incoming.max_fragments_per_page || 8),\n  max_fragment_chars: Number(baseCtx.max_fragment_chars || incoming.max_fragment_chars || 2200)\n};\n\nreturn [{\n  json: {\n    ctx,\n    input: incoming.input || incoming,\n    carry: incoming.carry || {},\n    tg: incoming.tg || incoming.message || {}\n  }\n}];"
      },
      "id": "b7f80be5-f6b9-49ec-8900-a35a120bf7a9",
      "name": "Initialize Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        416
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "T3ws14nAvLePi5js",
          "mode": "list",
          "cachedResultName": "tvpx_source_registry",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/T3ws14nAvLePi5js"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "crawl_enabled",
              "condition": "isTrue"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        }
      },
      "id": "d2bd7acd-e8bc-497f-af89-9587108cf509",
      "name": "Get Active Sources",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -560,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Reattach Context After Get Sources\n * DataTable nodes may output rows without our envelope.\n * We rebuild items as { ctx, source } and only drop rows with no crawlable URL.\n */\n\nfunction parseJsonSafe(value, fallback) {\n  if (value === null || value === undefined || value === '') return fallback;\n  if (typeof value === 'object') return value;\n  try {\n    return JSON.parse(String(value));\n  } catch {\n    return fallback;\n  }\n}\n\nfunction normalizeUrl(raw) {\n  let value = String(raw || '').trim();\n  if (!value) return '';\n\n  for (let i = 0; i < 4; i++) {\n    const next = value\n      .replace(/^[\\s'\"`<([\\{]+/, '')\n      .replace(/[\\s'\"`>\\])\\}.,;:!?]+$/, '')\n      .trim();\n    if (next === value) break;\n    value = next;\n    if (!value) return '';\n  }\n\n  if (/^https?:\\/\\//i.test(value)) return value;\n  if (/^\\/\\//.test(value)) return `https:${value}`;\n  if (/^[a-z0-9.-]+\\.[a-z]{2,}(?:[/?#]|$)/i.test(value)) return `https://${value.replace(/^\\/+/, '')}`;\n\n  const cleaned = value.replace(/^[:\\/\\s]+/, '');\n  if (cleaned && /^[a-z0-9.-]+\\.[a-z]{2,}(?:[/?#]|$)/i.test(cleaned)) return `https://${cleaned}`;\n  return value;\n}\n\nfunction normalizeStartUrls(value) {\n  if (!Array.isArray(value)) return [];\n  return value\n    .map(entry => {\n      if (typeof entry === 'string') return normalizeUrl(entry);\n      if (entry && typeof entry === 'object') return normalizeUrl(entry.url || entry.href);\n      return '';\n    })\n    .filter(Boolean);\n}\n\nfunction deriveSiteUrlFromRss(raw) {\n  const rssUrl = normalizeUrl(raw);\n  if (!rssUrl) return '';\n\n  try {\n    const parsed = new URL(rssUrl);\n    const strippedPath = parsed.pathname\n      .replace(/\\/(?:feed|rss|atom)(?:\\.xml)?\\/?$/i, '/')\n      .replace(/\\/(?:index\\.)?(?:rss|atom)\\.xml\\/?$/i, '/')\n      .replace(/\\/feed\\/?$/i, '/');\n    const siteUrl = `${parsed.origin}${strippedPath || '/'}`.replace(/\\/+$/, '');\n    return normalizeUrl(siteUrl || parsed.origin);\n  } catch {\n    return '';\n  }\n}\n\nfunction resolveSourceUrl(source, ingest, fallback) {\n  const fallbackStartUrls = normalizeStartUrls(fallback.start_urls);\n  const rssSiteUrl = deriveSiteUrlFromRss(ingest.rss_url || source.rss_url || source.rss_feed_url || '');\n\n  return normalizeUrl(\n    source.source_url ||\n    source.url ||\n    fallback.start_url ||\n    fallbackStartUrls[0] ||\n    rssSiteUrl ||\n    ingest.rss_url ||\n    source.rss_url ||\n    source.rss_feed_url ||\n    ''\n  );\n}\n\nconst incoming = $items('Initialize Envelope')[0].json;\nconst ctx = incoming.ctx || {};\n\nreturn $input.all().flatMap(item => {\n  const source = item.json || {};\n  const profile = parseJsonSafe(source.crawl_profile, {}) || {};\n  const ingest = (profile.ingest && typeof profile.ingest === 'object') ? profile.ingest : {};\n  const fallback = (ingest.fallback && typeof ingest.fallback === 'object') ? ingest.fallback : {};\n\n  const sourceId = String(source.source_id || source.id || source.dt_row_id || '').trim();\n  const sourceUrl = resolveSourceUrl(source, ingest, fallback);\n\n  if (!sourceId || !sourceUrl) {\n    return [];\n  }\n\n  return [{\n    json: {\n      ctx,\n      source: {\n        ...source,\n        source_id: sourceId,\n        source_url: sourceUrl\n      },\n      carry: incoming.carry || {},\n      input: incoming.input || {}\n    }\n  }];\n});"
      },
      "id": "729dc540-087a-4e4f-8de6-5eca2b9f327a",
      "name": "Reattach Context After Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        416
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9dbb216f-9374-4704-a797-9fa1aef6b95c",
      "name": "Loop Sources",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -112,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Build Crawl Run Record\n * Creates crawl_run_id + minimal ledger seed\n */\n\nfunction fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nfunction parseJsonSafe(value, fallback) {\n  if (value === null || value === undefined || value === '') return fallback;\n  if (typeof value === 'object') return value;\n  try {\n    return JSON.parse(String(value));\n  } catch {\n    return fallback;\n  }\n}\n\nfunction normalizeUrl(raw) {\n  let value = String(raw || '').trim();\n  if (!value) return '';\n\n  for (let i = 0; i < 4; i++) {\n    const next = value\n      .replace(/^[\\s'\"`<([\\{]+/, '')\n      .replace(/[\\s'\"`>\\])\\}.,;:!?]+$/, '')\n      .trim();\n    if (next === value) break;\n    value = next;\n    if (!value) return '';\n  }\n\n  if (/^https?:\\/\\//i.test(value)) return value;\n  if (/^\\/\\//.test(value)) return `https:${value}`;\n  if (/^[a-z0-9.-]+\\.[a-z]{2,}(?:[/?#]|$)/i.test(value)) return `https://${value.replace(/^\\/+/, '')}`;\n\n  const cleaned = value.replace(/^[:\\/\\s]+/, '');\n  if (cleaned && /^[a-z0-9.-]+\\.[a-z]{2,}(?:[/?#]|$)/i.test(cleaned)) return `https://${cleaned}`;\n  return value;\n}\n\nfunction normalizeStartUrls(value) {\n  if (!Array.isArray(value)) return [];\n  return value\n    .map(entry => {\n      if (typeof entry === 'string') return normalizeUrl(entry);\n      if (entry && typeof entry === 'object') return normalizeUrl(entry.url || entry.href);\n      return '';\n    })\n    .filter(Boolean);\n}\n\nfunction deriveSiteUrlFromRss(raw) {\n  const rssUrl = normalizeUrl(raw);\n  if (!rssUrl) return '';\n\n  try {\n    const parsed = new URL(rssUrl);\n    const strippedPath = parsed.pathname\n      .replace(/\\/(?:feed|rss|atom)(?:\\.xml)?\\/?$/i, '/')\n      .replace(/\\/(?:index\\.)?(?:rss|atom)\\.xml\\/?$/i, '/')\n      .replace(/\\/feed\\/?$/i, '/');\n    const siteUrl = `${parsed.origin}${strippedPath || '/'}`.replace(/\\/+$/, '');\n    return normalizeUrl(siteUrl || parsed.origin);\n  } catch {\n    return '';\n  }\n}\n\nfunction resolveSourceUrl(source, ingest, fallback) {\n  const fallbackStartUrls = normalizeStartUrls(fallback.start_urls);\n  const rssSiteUrl = deriveSiteUrlFromRss(ingest.rss_url || source.rss_url || source.rss_feed_url || '');\n\n  return normalizeUrl(\n    source.source_url ||\n    source.url ||\n    fallback.start_url ||\n    fallbackStartUrls[0] ||\n    rssSiteUrl ||\n    ingest.rss_url ||\n    source.rss_url ||\n    source.rss_feed_url ||\n    ''\n  );\n}\n\nconst j = $json;\nconst ctx = j.ctx;\nconst source = j.source || {};\nconst now = new Date().toISOString();\n\nconst sourceId = String(source.source_id || source.id || source.dt_row_id || '').trim();\nconst profile = parseJsonSafe(source.crawl_profile, {}) || {};\nconst ingest = (profile.ingest && typeof profile.ingest === 'object') ? profile.ingest : {};\nconst fallback = (ingest.fallback && typeof ingest.fallback === 'object') ? ingest.fallback : {};\nconst sourceUrl = resolveSourceUrl(source, ingest, fallback);\n\nif (!sourceId || !sourceUrl) {\n  throw new Error(`Missing source_id or crawlable source URL. Got source_id='${sourceId}' source_url='${sourceUrl}'`);\n}\n\nconst crawlRunId = `tvpx_cr_${fnv1a(ctx.trace_id + '::' + sourceId + '::' + now)}`;\n\nreturn [{\n  json: {\n    ctx: { ...ctx, crawl_run_id: crawlRunId, source_id: sourceId },\n    source: { ...source, source_url: sourceUrl },\n    crawl_run: {\n      crawl_run_id: crawlRunId,\n      trace_id: ctx.trace_id,\n      source_id: sourceId,\n      trigger_mode: ctx.trigger_mode,\n      status: 'started',\n      started_at: now\n    }\n  }\n}];"
      },
      "id": "75a85458-4743-43af-a37c-020af0a97a65",
      "name": "Build Crawl Run Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        176
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "yWenhwOARipjjBIq",
          "mode": "list",
          "cachedResultName": "tvpx_crawl_run_ledger",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/yWenhwOARipjjBIq"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "crawl_run_id",
              "keyValue": "={{$json.crawl_run.crawl_run_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "crawl_run_id": "={{$json.crawl_run.crawl_run_id}}",
            "trace_id": "={{$json.crawl_run.trace_id}}",
            "source_id": "={{$json.crawl_run.source_id}}",
            "trigger_mode": "={{$json.crawl_run.trigger_mode}}",
            "status": "={{$json.crawl_run.status}}",
            "started_at": "={{$json.crawl_run.started_at}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "crawl_run_id",
              "displayName": "crawl_run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trigger_mode",
              "displayName": "trigger_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "apify_run_id",
              "displayName": "apify_run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "page_count",
              "displayName": "page_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "raw_item_count",
              "displayName": "raw_item_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0667efcb-b7b8-4366-a636-f179d962cc54",
      "name": "Write Crawl Run Start",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        336,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseJsonSafe(value, fallback) {\n  if (value === null || value === undefined || value === '') return fallback;\n  if (typeof value === 'object') return value;\n  try {\n    return JSON.parse(String(value));\n  } catch {\n    return fallback;\n  }\n}\n\nfunction normalizeUrl(raw) {\n  let value = String(raw || '').trim();\n  if (!value) return '';\n\n  for (let i = 0; i < 4; i++) {\n    const next = value\n      .replace(/^[\\s'\"`<([\\{]+/, '')\n      .replace(/[\\s'\"`>\\])\\}.,;:!?]+$/, '')\n      .trim();\n    if (next === value) break;\n    value = next;\n    if (!value) return '';\n  }\n\n  if (/^https?:\\/\\//i.test(value)) return value;\n  if (/^\\/\\//.test(value)) return `https:${value}`;\n  if (/^[a-z0-9.-]+\\.[a-z]{2,}(?:[/?#]|$)/i.test(value)) return `https://${value.replace(/^\\/+/, '')}`;\n\n  const cleaned = value.replace(/^[:\\/\\s]+/, '');\n  if (cleaned && /^[a-z0-9.-]+\\.[a-z]{2,}(?:[/?#]|$)/i.test(cleaned)) return `https://${cleaned}`;\n  return value;\n}\n\nfunction normalizeStartUrls(value) {\n  if (!Array.isArray(value)) return [];\n  return value\n    .map(entry => {\n      if (typeof entry === 'string') return { url: normalizeUrl(entry) };\n      if (entry && typeof entry === 'object') return { ...entry, url: normalizeUrl(entry.url || entry.href) };\n      return null;\n    })\n    .filter(entry => entry?.url);\n}\n\nfunction normalizeGlobList(value) {\n  if (!Array.isArray(value)) return [];\n  return value.map(x => String(x || '').trim()).filter(Boolean);\n}\n\nfunction dedupeList(values) {\n  return [...new Set((Array.isArray(values) ? values : []).filter(Boolean))];\n}\n\nfunction parseUrlNoConstructor(urlStr) {\n  const s = String(urlStr || '').trim();\n  const m = s.match(/^(https?:\\/\\/[^\\/\\?#]+)(.*)/i);\n  if (!m) return null;\n  const pathPart = (m[2] || '').split('?')[0].split('#')[0] || '/';\n  return { origin: m[1], path: pathPart };\n}\n\nfunction deriveSiteUrlFromRss(raw) {\n  const rssUrl = normalizeUrl(raw);\n  if (!rssUrl) return '';\n  const parsed = parseUrlNoConstructor(rssUrl);\n  if (!parsed) return '';\n  const strippedPath = parsed.path\n    .replace(/\\/(?:feed|rss|atom)(?:\\.xml)?\\/?$/i, '/')\n    .replace(/\\/(?:index\\.)?(?:rss|atom)\\.xml\\/?$/i, '/')\n    .replace(/\\/feed\\/?$/i, '/');\n  const siteUrl = `${parsed.origin}${strippedPath || '/'}`.replace(/\\/+$/, '');\n  return normalizeUrl(siteUrl || parsed.origin);\n}\n\nfunction resolveSourceUrl(source, ingest, fallback) {\n  const fallbackStartUrls = normalizeStartUrls(fallback.start_urls);\n  const rssSiteUrl = deriveSiteUrlFromRss(ingest.rss_url || source.rss_url || source.rss_feed_url || '');\n\n  return normalizeUrl(\n    source.source_url ||\n    source.url ||\n    fallback.start_url ||\n    fallbackStartUrls[0]?.url ||\n    rssSiteUrl ||\n    ingest.rss_url ||\n    source.rss_url ||\n    source.rss_feed_url ||\n    ''\n  );\n}\n\nconst j = $json || {};\nconst ctx = (j.ctx && typeof j.ctx === 'object') ? j.ctx : {};\nconst source = (j.source && typeof j.source === 'object') ? j.source : {};\n\nconst profile = parseJsonSafe(source.crawl_profile, {}) || {};\nconst ingest = (profile.ingest && typeof profile.ingest === 'object') ? profile.ingest : {};\nconst fallback = (ingest.fallback && typeof ingest.fallback === 'object') ? ingest.fallback : {};\nconst extract = (profile.extract && typeof profile.extract === 'object') ? profile.extract : {};\nconst quality = (profile.quality && typeof profile.quality === 'object') ? profile.quality : {};\nconst sourceUrl = resolveSourceUrl(source, ingest, fallback);\nif (!sourceUrl) {\n  throw new Error('TVPX__10 / Build Apify Request Body: no crawlable source URL found after source normalization.');\n}\n\nconst parsedUrl = parseUrlNoConstructor(sourceUrl);\nif (!parsedUrl) {\n  throw new Error(`TVPX__10 / Build Apify Request Body: cannot parse URL '${sourceUrl}'.`);\n}\nconst origin = parsedUrl.origin;\nconst path = parsedUrl.path || '/';\nconst scopedPath = path !== '/' ? path.replace(/\\/+$/, '') : '/';\nconst hasScopedPath = scopedPath !== '/';\nconst isListingScoped = /^\\/(?:categories?|tags?|topics?|sections?|archives?|collections?)\\//i.test(scopedPath);\n\nconst preferred = String(ingest.preferred || '').trim().toLowerCase();\nconst rssUrl = normalizeUrl(ingest.rss_url || source.rss_url || source.rss_feed_url || '');\nconst stripSelectors = Array.isArray(extract.strip_selectors) ? extract.strip_selectors.map(x => String(x || '').trim()).filter(Boolean) : [];\nconst userIncludeUrlGlobs = normalizeGlobList(parseJsonSafe(source.include_url_globs || fallback.include_url_globs || profile.include_url_globs, []));\nconst userExcludeUrlGlobs = normalizeGlobList(parseJsonSafe(source.exclude_url_globs || fallback.exclude_url_globs || profile.exclude_url_globs, []));\nconst proxyConfiguration = parseJsonSafe(source.proxy_json || profile.proxy_json, undefined);\n\nconst articleLikeGlobs = [\n  `${origin}/*-*`,\n  `${origin}/*[0-9]*`,\n  `${origin}/*/*-*`,\n  `${origin}/*/*[0-9]*`,\n  `${origin}/*/*/*-*`,\n  `${origin}/*/*/*[0-9]*`\n];\n\nconst scopedIncludeUrlGlobs = dedupeList([\n  sourceUrl,\n  `${sourceUrl}*`,\n  `${origin}${scopedPath}`,\n  `${origin}${scopedPath}*`,\n  `${origin}${scopedPath}/**`,\n  ...articleLikeGlobs\n]);\n\nconst defaultIncludeUrlGlobs = userIncludeUrlGlobs.length\n  ? userIncludeUrlGlobs\n  : (hasScopedPath ? scopedIncludeUrlGlobs : [`${origin}/**`]);\n\nconst genericExcludeUrlGlobs = [\n  `${origin}`,\n  `${origin}/`,\n  `${origin}/feed**`,\n  `${origin}/rss**`,\n  `${origin}/login**`,\n  `${origin}/logout**`,\n  `${origin}/register**`,\n  `${origin}/signup**`,\n  `${origin}/newsletter**`,\n  `${origin}/subscribe**`,\n  `${origin}/products**`,\n  `${origin}/product**`,\n  `${origin}/shop**`,\n  `${origin}/store**`,\n  `${origin}/account**`,\n  `${origin}/cart**`,\n  `${origin}/checkout**`,\n  `${origin}/search**`,\n  `${origin}/wp-admin/**`,\n  `${origin}/wp-json/**`,\n  `${origin}/xmlrpc.php**`,\n  `${origin}/author/**`,\n  `${origin}/authors/**`,\n  `${origin}/about**`,\n  `${origin}/contact**`,\n  `${origin}/privacy**`,\n  `${origin}/terms**`,\n  `${origin}/donate**`,\n  `${origin}/support**`,\n  `${origin}/press**`,\n  `${origin}/masthead**`,\n  `${origin}/jobs**`,\n  `${origin}/events**`,\n  `${origin}/awards**`,\n  `${origin}/ethics**`,\n  `${origin}/policy**`,\n  `${origin}/special/**`,\n  `${origin}/**/*?s=*`,\n  `${origin}/**/*?replytocom=*`,\n  `${origin}/**/*?amp=*`,\n  `${origin}/**/*?output=amp*`,\n  `${origin}/**/*utm_*`,\n  `${origin}/**/*fbclid=*`,\n  `${origin}/**/*gclid=*`,\n  `${origin}/**/*ref=*`\n];\n\nconst excludeUrlGlobs = dedupeList([...userExcludeUrlGlobs, ...genericExcludeUrlGlobs]);\nconst includeUrlGlobs = dedupeList(defaultIncludeUrlGlobs);\nconst seedStartUrls = [{ url: sourceUrl }];\n\nconst maxPages = Math.max(\n  300,\n  Math.min(Number(source.max_pages || ingest.max_pages || ctx.max_pages_per_source || 300), 600)\n);\nconst maxDepth = Math.max(3, Math.min(Number(source.max_crawl_depth || ingest.max_crawl_depth || 3), 6));\nconst initialConcurrency = Math.max(1, Math.min(Number(source.initial_concurrency || ingest.initial_concurrency || 1), 2));\nconst maxConcurrency = Math.max(initialConcurrency, Math.min(Number(source.max_concurrency || ingest.max_concurrency || 2), 2));\nconst requestTimeoutSecs = Math.max(30, Math.min(Number(source.request_timeout_secs || ingest.request_timeout_secs || 60), 120));\nconst dynamicContentWaitSecs = Math.max(0, Math.min(Number(source.dynamic_content_wait_secs || ingest.dynamic_content_wait_secs || 0), 5));\nconst maxResults = Math.max(maxPages, Math.min(Number(source.max_results || ingest.max_results || maxPages), 1000));\nconst readableTextCharThreshold = Math.max(20, Math.min(Number(extract.readable_text_char_threshold || 80), 1000));\nconst crawlerType = String(source.crawler_type || ingest.crawler_type || profile.crawler_type || 'cheerio').trim() || 'cheerio';\nconst clickElementsCssSelector = String(ingest.click_elements_css_selector || '').trim();\nconst keepElementsCssSelector = String(extract.keep_elements_css_selector || '').trim();\nconst removeElementsCssSelector = stripSelectors.join(', ');\n\nconst apifyInput = {\n  startUrls: seedStartUrls,\n  crawlerType,\n  includeUrlGlobs,\n  excludeUrlGlobs,\n  maxCrawlPages: maxPages,\n  maxResults,\n  maxCrawlDepth: maxDepth,\n  initialConcurrency,\n  maxConcurrency,\n  requestTimeoutSecs,\n  dynamicContentWaitSecs,\n  maxRequestRetries: Math.max(1, Math.min(Number(source.max_request_retries || ingest.max_request_retries || 1), 2)),\n  useSitemaps: !hasScopedPath,\n  useLlmsTxt: false,\n  respectRobotsTxtFile: true,\n  ignoreCanonicalUrl: true,\n  expandIframes: false,\n  blockMedia: true,\n  removeCookieWarnings: true,\n  saveFiles: false,\n  saveHtml: false,\n  saveScreenshots: false,\n  saveMarkdown: true,\n  htmlTransformer: 'readableText',\n  readableTextCharThreshold,\n  clickElementsCssSelector,\n  keepElementsCssSelector,\n  removeElementsCssSelector,\n  storeSkippedUrls: true,\n  proxyConfiguration,\n  userData: {\n    tvpx: {\n      trace_id: ctx.trace_id,\n      crawl_run_id: ctx.crawl_run_id,\n      source_id: ctx.source_id,\n      crawl_profile: String(source.crawl_profile || ctx.crawl_profile || 'default'),\n      brand_name: ctx.brand_name,\n      preferred_ingest: preferred || 'section_crawl',\n      rss_url: rssUrl || null,\n      min_word_count: Number(extract.min_word_count || 0),\n      require_h1: Boolean(quality.require_h1),\n      require_paragraphs: Boolean(quality.require_paragraphs),\n      strip_selectors: stripSelectors,\n      start_scope: hasScopedPath ? scopedPath : '/',\n      is_listing_scoped: isListingScoped,\n      include_url_globs: includeUrlGlobs,\n      exclude_url_globs: excludeUrlGlobs,\n      crawler_type: crawlerType\n    }\n  }\n};\n\nreturn [{\n  json: {\n    ctx,\n    source: {\n      ...source,\n      source_url: sourceUrl\n    },\n    crawl_profile: profile,\n    apify: {\n      input: apifyInput\n    }\n  }\n}];"
      },
      "id": "ccd1777f-fd24-41df-8cf5-10ec876505ec",
      "name": "Build Apify Request Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        176
      ]
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "aYG0l9s7dbB7j3gbS",
          "mode": "list",
          "cachedResultName": "Website Content Crawler (apify/website-content-crawler)",
          "cachedResultUrl": "https://console.apify.com/actors/aYG0l9s7dbB7j3gbS/input"
        },
        "customBody": "={{$json.apify.input}}",
        "memory": 8192
      },
      "id": "ee9da2b8-3f40-4dd2-83cd-cdd6b072a9ab",
      "name": "Run an Actor",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        784,
        80
      ],
      "credentials": {
        "apifyApi": {
          "id": "p4UxA5GFLhL6eHC8",
          "name": "Apify account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "6393330e-d8b0-441e-949a-438d68ef5cea",
      "name": "Merge Context And Apify Run",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const run = $items('Run an Actor')[0]?.json || $json || {};\nconst seed = $items('Build Apify Request Body')[0]?.json || {};\n\nconst ctx = (seed.ctx && typeof seed.ctx === 'object') ? seed.ctx : {};\nconst source = (seed.source && typeof seed.source === 'object') ? seed.source : {};\nconst crawlProfile = (seed.crawl_profile && typeof seed.crawl_profile === 'object') ? seed.crawl_profile : {};\n\nconst apifyRunId = String(\n  run.id ||\n  run.runId ||\n  run.actorRunId ||\n  run.data?.id ||\n  run.data?.runId ||\n  run.body?.id ||\n  run.body?.runId ||\n  ''\n).trim();\nconst datasetId = String(\n  run.defaultDatasetId ||\n  run.data?.defaultDatasetId ||\n  run.data?.defaultDatasetId?.id ||\n  run.datasetId ||\n  run.data?.datasetId ||\n  run.body?.defaultDatasetId ||\n  run.body?.datasetId ||\n  ''\n).trim();\n\nif (!datasetId) {\n  throw new Error('TVPX__10 / Normalize Apify Run Output: missing dataset ID from Apify run result.');\n}\n\nreturn [{\n  json: {\n    ctx,\n    source,\n    crawl_profile: crawlProfile,\n    crawl_run_update: {\n      crawl_run_id: String(ctx.crawl_run_id || '').trim(),\n      apify_run_id: apifyRunId,\n      dataset_id: datasetId,\n      status: 'running'\n    }\n  }\n}];"
      },
      "id": "4886b1f2-a2f2-4e47-80f7-65e810bf2e5d",
      "name": "Normalize Apify Run Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        176
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "yWenhwOARipjjBIq",
          "mode": "list",
          "cachedResultName": "tvpx_crawl_run_ledger",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/yWenhwOARipjjBIq"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "crawl_run_id",
              "keyValue": "={{$json.crawl_run_update.crawl_run_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "apify_run_id": "={{$json.crawl_run_update.apify_run_id}}",
            "dataset_id": "={{$json.crawl_run_update.dataset_id}}",
            "status": "={{$json.crawl_run_update.status}}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c2fefec7-1717-4fd1-85c6-c13dfa4f7c34",
      "name": "Update Crawl Ledger With Run",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1456,
        176
      ]
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{$items(\"Normalize Apify Run Output\")[0].json.crawl_run_update.dataset_id}}",
        "options": {}
      },
      "id": "821514f1-84ea-4e45-86a4-c1de85dccf33",
      "name": "Get dataset items",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1680,
        176
      ],
      "credentials": {
        "apifyApi": {
          "id": "p4UxA5GFLhL6eHC8",
          "name": "Apify account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Normalize Crawl Items\n * Converts dataset items into canonical pages with {url,title,text}\n * Applies crawl_profile quality filters and dedupes by URL.\n */\n\nfunction cleanText(value) {\n  return String(value || '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\r/g, '')\n    .replace(/[\\t ]+/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nconst base = $items('Normalize Apify Run Output')[0].json;\nconst ctx = base.ctx;\nconst source = base.source;\nconst crawlProfile = (base.crawl_profile && typeof base.crawl_profile === 'object') ? base.crawl_profile : {};\nconst extract = (crawlProfile.extract && typeof crawlProfile.extract === 'object') ? crawlProfile.extract : {};\nconst quality = (crawlProfile.quality && typeof crawlProfile.quality === 'object') ? crawlProfile.quality : {};\n\nconst minWordCount = Math.max(0, Number(extract.min_word_count || 0));\nconst requireH1 = Boolean(quality.require_h1);\nconst requireParagraphs = Boolean(quality.require_paragraphs);\n\nconst items = $input.all().flatMap(i => {\n  const row = i.json || {};\n  if (Array.isArray(row.items)) return row.items;\n  if (Array.isArray(row.data)) return row.data;\n  return [row];\n});\nconst seen = new Set();\n\nconst pages = items.map((it, idx) => {\n  const url = String(it.url || it.pageUrl || it.request?.url || it.requestUrl || it.crawl?.loadedUrl || '').trim();\n  const title = String(it.title || it.pageTitle || it.metadata?.title || it.h1 || it.headings?.[0]?.text || '').trim();\n  const text = cleanText(it.text || it.content || it.pageText || it.markdown || it.bodyText || it.textContent || it.readableText || it.html || '');\n  const wordCount = text ? text.split(/\\s+/).filter(Boolean).length : 0;\n  const hasParagraphShape = /\\n\\n/.test(text) || /[.!?]\\s+[A-Z]/.test(text);\n  return { url, title, text, index: idx, wordCount, hasParagraphShape };\n}).filter(p => {\n  if (!p.url || !p.text) return false;\n  if (seen.has(p.url)) return false;\n  if (minWordCount && p.wordCount < minWordCount) return false;\n  if (requireH1 && !p.title) return false;\n  if (requireParagraphs && !p.hasParagraphShape) return false;\n  seen.add(p.url);\n  return true;\n});\n\nreturn [{\n  json: {\n    ctx,\n    source,\n    crawl_profile: crawlProfile,\n    crawl_run_id: ctx.crawl_run_id,\n    pages\n  }\n}];"
      },
      "id": "2b3fee92-698e-4b3a-b7fa-82e9ab61cdd4",
      "name": "Normalize Crawl Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Chunk And Clean Text\n * - Retains legacy chunking/payload concept\n * - Produces fragment items shaped for tvpx_text_fragment_bank\n * - Keeps creative goal: extracts \"charged\" paragraphs, tension words, material cues\n */\n\nfunction fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nfunction clean(s) {\n  return String(s || '')\n    .replace(/\\r/g, '')\n    .replace(/[\\t ]+/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction splitParagraphs(text) {\n  return clean(text)\n    .split(/\\n\\n+/)\n    .map(p => clean(p))\n    .filter(Boolean);\n}\n\nfunction splitLongParagraph(paragraph, maxChars) {\n  const text = clean(paragraph);\n  if (!text) return [];\n  if (text.length <= maxChars) return [text];\n\n  const sentences = text.split(/(?<=[.!?])\\s+/).map(clean).filter(Boolean);\n  if (sentences.length <= 1) {\n    const hardChunks = [];\n    for (let i = 0; i < text.length; i += maxChars) {\n      const chunk = clean(text.slice(i, i + maxChars));\n      if (chunk) hardChunks.push(chunk);\n    }\n    return hardChunks;\n  }\n\n  const out = [];\n  let buf = '';\n  for (const sentence of sentences) {\n    if (sentence.length > maxChars) {\n      if (buf) {\n        out.push(buf);\n        buf = '';\n      }\n      for (let i = 0; i < sentence.length; i += maxChars) {\n        const hardChunk = clean(sentence.slice(i, i + maxChars));\n        if (hardChunk) out.push(hardChunk);\n      }\n      continue;\n    }\n\n    const candidate = buf ? `${buf} ${sentence}` : sentence;\n    if (candidate.length > maxChars && buf) {\n      out.push(buf);\n      buf = sentence;\n    } else {\n      buf = candidate;\n    }\n  }\n\n  if (buf) out.push(buf);\n  return out;\n}\n\n// Simple signal scoring: prioritizes paragraphs likely to produce Velvet Paradox concepts.\nconst SIGNAL = [\n  'pressure','fracture','collapse','repair','restraint','rupture','erosion','threshold','damage','bruise','stain',\n  'residue','seep','crack','buckle','warp','misalign','aftermath','tension','constraint','weight','drift','fragile',\n  'ritual','memory','identity','veil','shadow','fog','silence','ruin','relic','static','paradox'\n];\n\nfunction scorePara(p) {\n  const t = p.toLowerCase();\n  let score = 0;\n  for (const w of SIGNAL) if (t.includes(w)) score += 1;\n  if (/(stone|plaster|velvet|metal|dust|smoke|haze|wet|rust|cloth|feather|fur|wax|candle)/i.test(p)) score += 2;\n  return score;\n}\n\nconst j = $json;\nconst ctx = j.ctx;\nconst source = j.source;\nconst crawlProfile = (j.crawl_profile && typeof j.crawl_profile === 'object') ? j.crawl_profile : {};\nconst extract = (crawlProfile.extract && typeof crawlProfile.extract === 'object') ? crawlProfile.extract : {};\nconst pages = Array.isArray(j.pages) ? j.pages : [];\n\nconst maxFragChars = Math.max(400, Math.min(Number(extract.max_fragment_chars || ctx.max_fragment_chars || 2200), 8000));\nconst maxFragsPerPage = Math.max(1, Math.min(Number(extract.max_fragments_per_page || ctx.max_fragments_per_page || 8), 24));\n\nconst out = [];\n\nfor (const page of pages) {\n  const paras = splitParagraphs(page.text);\n  const ranked = paras\n    .map((p, idx) => ({ p, idx, s: scorePara(p) }))\n    .sort((a, b) => (b.s - a.s) || (a.idx - b.idx));\n\n  const chosen = ranked\n    .slice(0, Math.min(ranked.length, maxFragsPerPage * 3))\n    .sort((a, b) => a.idx - b.idx)\n    .flatMap(({ p }) => splitLongParagraph(p, maxFragChars));\n\n  let buf = '';\n  let chunkIndex = 0;\n\n  for (const p of chosen) {\n    const add = buf ? (buf + '\\n\\n' + p) : p;\n    if (add.length > maxFragChars && buf) {\n      const cleaned = clean(buf);\n      const hash = fnv1a(`${ctx.trace_id}::${ctx.crawl_run_id}::${page.url}::${chunkIndex}::${cleaned}`);\n      out.push({\n        ctx,\n        source,\n        fragment: {\n          fragment_id: `tvpx_fg_${hash}`,\n          crawl_run_id: ctx.crawl_run_id,\n          source_id: ctx.source_id,\n          page_url: page.url,\n          page_title: page.title || '',\n          chunk_index: chunkIndex,\n          fragment_hash: hash,\n          raw_text: buf,\n          cleaned_text: cleaned,\n          token_estimate: Math.ceil(cleaned.length / 4),\n          qa_status: 'clean'\n        }\n      });\n      buf = p;\n      chunkIndex += 1;\n      if (chunkIndex >= maxFragsPerPage) break;\n    } else {\n      buf = add;\n    }\n  }\n\n  if (buf && chunkIndex < maxFragsPerPage) {\n    const cleaned = clean(buf);\n    const hash = fnv1a(`${ctx.trace_id}::${ctx.crawl_run_id}::${page.url}::${chunkIndex}::${cleaned}`);\n    out.push({\n      ctx,\n      source,\n      fragment: {\n        fragment_id: `tvpx_fg_${hash}`,\n        crawl_run_id: ctx.crawl_run_id,\n        source_id: ctx.source_id,\n        page_url: page.url,\n        page_title: page.title || '',\n        chunk_index: chunkIndex,\n        fragment_hash: hash,\n        raw_text: buf,\n        cleaned_text: cleaned,\n        token_estimate: Math.ceil(cleaned.length / 4),\n        qa_status: 'clean'\n      }\n    });\n  }\n}\n\nif (!out.length) {\n  return [{ json: { ctx, source, crawl_profile: crawlProfile, fragments: [], empty: true } }];\n}\n\nreturn out.map(o => ({ json: { ...o, crawl_profile: crawlProfile } }));"
      },
      "id": "22f08a87-ef1d-4729-9f7f-104dbe78eb33",
      "name": "Chunk And Clean Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "string_1",
              "leftValue": "={{ String($json.fragment?.fragment_id || '').trim() ? 1 : 0 }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2d2ed4ff-5536-4b8f-8e36-a1275f8ba419",
      "name": "Has Fragment Rows",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2352,
        48
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "DOpMQGynGFn8U3vb",
          "mode": "list",
          "cachedResultName": "tvpx_text_fragment_bank",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/DOpMQGynGFn8U3vb"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "fragment_id",
              "keyValue": "={{$json.fragment.fragment_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fragment_id": "={{$json.fragment.fragment_id}}",
            "crawl_run_id": "={{$json.fragment.crawl_run_id}}",
            "source_id": "={{$json.fragment.source_id}}",
            "page_url": "={{$json.fragment.page_url}}",
            "page_title": "={{$json.fragment.page_title}}",
            "chunk_index": "={{$json.fragment.chunk_index}}",
            "fragment_hash": "={{$json.fragment.fragment_hash}}",
            "raw_text": "={{$json.fragment.raw_text}}",
            "cleaned_text": "={{$json.fragment.cleaned_text}}",
            "token_estimate": "={{$json.fragment.token_estimate}}",
            "qa_status": "={{$json.fragment.qa_status}}",
            "created_at": "={{$now}}"
          },
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "482680a6-5b4b-4eea-b222-ddb7ac4f1d29",
      "name": "Upsert Text Fragments",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2352,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Update Crawl Ledger Final\n * - Marks run completed, writes counts\n * - Ensures ctx preserved after fragment upserts\n */\n\nconst base = $items('Normalize Apify Run Output')[0].json;\nconst ctx = base.ctx;\nconst source = base.source;\nconst fragmentRows = $items('Chunk And Clean Text').filter(item => item.json?.fragment?.fragment_id);\nconst rawDatasetRows = $items('Get dataset items').flatMap(item => {\n  const row = item.json || {};\n  if (Array.isArray(row.items)) return row.items;\n  if (Array.isArray(row.data)) return row.data;\n  return [row];\n}).filter(row => row && Object.keys(row).length);\n\nreturn [{\n  json: {\n    ctx,\n    source,\n    crawl_run_final: {\n      crawl_run_id: ctx.crawl_run_id,\n      status: 'completed',\n      completed_at: new Date().toISOString(),\n      raw_item_count: Number(rawDatasetRows.length || 0),\n      page_count: Number(($items('Normalize Crawl Items')[0]?.json?.pages || []).length),\n      fragment_count: fragmentRows.length\n    }\n  }\n}];"
      },
      "id": "802537ac-7b07-40b0-9d1f-de4c5512745a",
      "name": "Build Crawl Final Ledger Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        176
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "yWenhwOARipjjBIq",
          "mode": "list",
          "cachedResultName": "tvpx_crawl_run_ledger",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/yWenhwOARipjjBIq"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "crawl_run_id",
              "keyValue": "={{$json.crawl_run_final.crawl_run_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{$json.crawl_run_final.status}}",
            "completed_at": "={{$json.crawl_run_final.completed_at}}",
            "raw_item_count": "={{$json.crawl_run_final.raw_item_count}}",
            "page_count": "={{$json.crawl_run_final.page_count}}",
            "fragment_count": "={{$json.crawl_run_final.fragment_count}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "crawl_run_id",
              "displayName": "crawl_run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "trigger_mode",
              "displayName": "trigger_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "apify_run_id",
              "displayName": "apify_run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "page_count",
              "displayName": "page_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "fragment_count",
              "displayName": "fragment_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "raw_item_count",
              "displayName": "raw_item_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fc72bfed-e48c-4610-9f6e-50a07b6c6de5",
      "name": "Update Crawl Ledger Final",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2800,
        176
      ]
    },
    {
      "parameters": {},
      "id": "e24d190a-d45d-48c8-ad7c-2d07de732304",
      "name": "Next Source",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3248,
        416
      ]
    },
    {
      "parameters": {},
      "id": "8cacdc81-1bcd-401b-b011-c04a6815ca93",
      "name": "Context Hold For Apify Run",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        784,
        272
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed By Another Workflow": {
      "main": [
        [
          {
            "node": "Initialize Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Envelope": {
      "main": [
        [
          {
            "node": "Get Active Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Sources": {
      "main": [
        [
          {
            "node": "Reattach Context After Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reattach Context After Sources": {
      "main": [
        [
          {
            "node": "Loop Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Sources": {
      "main": [
        [],
        [
          {
            "node": "Build Crawl Run Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Crawl Run Record": {
      "main": [
        [
          {
            "node": "Write Crawl Run Start",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Apify Request Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Apify Request Body": {
      "main": [
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Context Hold For Apify Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Merge Context And Apify Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context And Apify Run": {
      "main": [
        [
          {
            "node": "Normalize Apify Run Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Apify Run Output": {
      "main": [
        [
          {
            "node": "Update Crawl Ledger With Run",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Crawl Ledger With Run": {
      "main": [
        []
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Normalize Crawl Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Crawl Items": {
      "main": [
        [
          {
            "node": "Chunk And Clean Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk And Clean Text": {
      "main": [
        [
          {
            "node": "Has Fragment Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Fragment Rows": {
      "main": [
        [
          {
            "node": "Upsert Text Fragments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Crawl Final Ledger Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Text Fragments": {
      "main": [
        [
          {
            "node": "Build Crawl Final Ledger Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Crawl Final Ledger Update": {
      "main": [
        [
          {
            "node": "Update Crawl Ledger Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Crawl Ledger Final": {
      "main": [
        [
          {
            "node": "Next Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Hold For Apify Run": {
      "main": [
        [
          {
            "node": "Merge Context And Apify Run",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Next Source": {
      "main": [
        [
          {
            "node": "Loop Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3af2684a-7eff-4513-95e9-48d2a78f4402",
  "activeVersionId": null,
  "versionCounter": 94,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-05T13:57:34.571Z",
      "createdAt": "2026-03-05T13:57:34.571Z",
      "role": "workflow:owner",
      "workflowId": "Q5NWVXP1AWnlw95F",
      "projectId": "NK3VX1YKPgfTJeSY",
      "project": {
        "updatedAt": "2025-12-08T15:00:57.909Z",
        "createdAt": "2025-12-08T14:54:00.172Z",
        "id": "NK3VX1YKPgfTJeSY",
        "name": "Benny Ebere <ebere.benny97@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4cb24128-c146-45db-a1a6-9dd54603f17a"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}