tvpx__20__latent-tension-to-scene-seed-pool--50icbBfGoLwcHdTL.json
{
  "updatedAt": "2026-03-07T00:59:44.578Z",
  "createdAt": "2026-03-06T19:52:04.092Z",
  "id": "50icbBfGoLwcHdTL",
  "name": "TVPX__20__Latent Tension To Scene Seed Pool",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        340
      ],
      "id": "9a380e72-6761-4951-9567-0f3bd1732be9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "id": "7cc1b68e-bf44-4b85-a8cf-e7d985e30203",
      "name": "Next Candidate Run",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6400,
        460
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8f6d7c41-22d0-4ea5-a2d2-3d7f9966a201",
      "name": "Loop Candidate Runs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -640,
        340
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "DimXJ3nOKPWyV1bE",
          "mode": "list",
          "cachedResultName": "tvpx_concept_reject_log",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/DimXJ3nOKPWyV1bE"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "reject_id",
              "keyValue": "={{$json.reject.reject_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reject_id": "={{$json.reject.reject_id}}",
            "trace_id": "={{$json.reject.trace_id}}",
            "stage_name": "={{$json.reject.stage_name}}",
            "rejection_reason": "={{$json.reject.rejection_reason}}",
            "raw_output_json": "={{$json.reject.raw_output_json}}",
            "created_at": "={{$json.reject.created_at}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "reject_id",
              "displayName": "reject_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "concept_id",
              "displayName": "concept_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "stage_name",
              "displayName": "stage_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rejection_reason",
              "displayName": "rejection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "raw_output_json",
              "displayName": "raw_output_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9c9dc217-f5cd-4d4d-a3ef-a71edb5743df",
      "name": "Upsert Scene Seed Reject Log",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        6176,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json || {};\nconst now = new Date().toISOString();\nconst critic = j.image_native_critic || {};\nconst gate = j.gate || {};\n\nconst reasons = [\n  String(critic.rejection_reason || '').trim(),\n  ...(Array.isArray(gate.reasons) ? gate.reasons : []),\n].filter(Boolean);\n\nreturn [{\n  json: {\n    ctx: j.ctx || {},\n    reject: {\n      reject_id: `tvpx_rej_${String(j.ctx?.trace_id || 'trace').trim()}_scene_seed_${now.replace(/[:.]/g, '')}`,\n      trace_id: String(j.ctx?.trace_id || '').trim(),\n      stage_name: 'scene_seed_gate',\n      rejection_reason: reasons.join(' | ') || 'Rejected by deterministic image-native gate.',\n      raw_output_json: JSON.stringify({\n        gate,\n        critic,\n        scene_seed: j.scene_seed || {},\n        archetype_route: j.archetype_route || {},\n      }),\n      created_at: now,\n    },\n  },\n}];"
      },
      "id": "eacd4c8e-944e-467e-a541-4253287572e8",
      "name": "Build Scene Seed Reject Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5952,
        336
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ZquAVdSdqKEpnZQx",
          "mode": "list",
          "cachedResultName": "tvpx_scene_seed_pool",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/ZquAVdSdqKEpnZQx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "scene_seed_id",
              "keyValue": "={{$json.scene_seed_row.scene_seed_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scene_seed_id": "={{$json.scene_seed_row.scene_seed_id}}",
            "trace_id": "={{$json.scene_seed_row.trace_id}}",
            "crawl_run_id": "={{$json.scene_seed_row.crawl_run_id}}",
            "origin_type": "={{$json.scene_seed_row.origin_type}}",
            "source_id": "={{$json.scene_seed_row.source_id}}",
            "parent_scene_seed_id": "={{$json.scene_seed_row.parent_scene_seed_id}}",
            "root_scene_seed_id": "={{$json.scene_seed_row.root_scene_seed_id}}",
            "seed_fragment_ids_json": "={{$json.scene_seed_row.seed_fragment_ids_json}}",
            "archetype_id": "={{$json.scene_seed_row.archetype_id}}",
            "subject_mode": "={{$json.scene_seed_row.subject_mode}}",
            "scene_kernel": "={{$json.scene_seed_row.scene_kernel}}",
            "concept_thesis": "={{$json.scene_seed_row.concept_thesis}}",
            "symbolic_tension": "={{$json.scene_seed_row.symbolic_tension}}",
            "material_anchor": "={{$json.scene_seed_row.material_anchor}}",
            "spatial_directive": "={{$json.scene_seed_row.spatial_directive}}",
            "palette_directive": "={{$json.scene_seed_row.palette_directive}}",
            "texture_directive": "={{$json.scene_seed_row.texture_directive}}",
            "dominant_subject": "={{$json.scene_seed_row.dominant_subject}}",
            "setting_family": "={{$json.scene_seed_row.setting_family}}",
            "ceremonial_logic": "={{$json.scene_seed_row.ceremonial_logic}}",
            "surreal_pressure": "={{$json.scene_seed_row.surreal_pressure}}",
            "negative_space_note": "={{$json.scene_seed_row.negative_space_note}}",
            "omission_notes": "={{$json.scene_seed_row.omission_notes}}",
            "forbidden_excess_json": "={{$json.scene_seed_row.forbidden_excess_json}}",
            "render_budget_json": "={{$json.scene_seed_row.render_budget_json}}",
            "quality_score": "={{$json.scene_seed_row.quality_score}}",
            "brand_fit_score": "={{$json.scene_seed_row.brand_fit_score}}",
            "reference_alignment_score": "={{$json.scene_seed_row.reference_alignment_score}}",
            "state": "={{$json.scene_seed_row.state}}",
            "lock_owner": "={{$json.scene_seed_row.lock_owner}}",
            "lock_expires_at": "={{$json.scene_seed_row.lock_expires_at}}",
            "used_count": "={{$json.scene_seed_row.used_count}}",
            "last_used_at": "={{$json.scene_seed_row.last_used_at}}",
            "rejection_reason": "={{$json.scene_seed_row.rejection_reason}}",
            "created_at": "={{$json.scene_seed_row.created_at}}",
            "updated_at": "={{$json.scene_seed_row.updated_at}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "scene_seed_id",
              "displayName": "scene_seed_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "crawl_run_id",
              "displayName": "crawl_run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "origin_type",
              "displayName": "origin_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_scene_seed_id",
              "displayName": "parent_scene_seed_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "root_scene_seed_id",
              "displayName": "root_scene_seed_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "seed_fragment_ids_json",
              "displayName": "seed_fragment_ids_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "archetype_id",
              "displayName": "archetype_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject_mode",
              "displayName": "subject_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scene_kernel",
              "displayName": "scene_kernel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "concept_thesis",
              "displayName": "concept_thesis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "symbolic_tension",
              "displayName": "symbolic_tension",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "material_anchor",
              "displayName": "material_anchor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "spatial_directive",
              "displayName": "spatial_directive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "palette_directive",
              "displayName": "palette_directive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "texture_directive",
              "displayName": "texture_directive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dominant_subject",
              "displayName": "dominant_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "setting_family",
              "displayName": "setting_family",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ceremonial_logic",
              "displayName": "ceremonial_logic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "surreal_pressure",
              "displayName": "surreal_pressure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "negative_space_note",
              "displayName": "negative_space_note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "omission_notes",
              "displayName": "omission_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "forbidden_excess_json",
              "displayName": "forbidden_excess_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "render_budget_json",
              "displayName": "render_budget_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quality_score",
              "displayName": "quality_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "brand_fit_score",
              "displayName": "brand_fit_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reference_alignment_score",
              "displayName": "reference_alignment_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lock_owner",
              "displayName": "lock_owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lock_expires_at",
              "displayName": "lock_expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "used_count",
              "displayName": "used_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_used_at",
              "displayName": "last_used_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rejection_reason",
              "displayName": "rejection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "69abb01e-1c2e-4ee7-a542-29b585583ad8",
      "name": "Upsert Scene Seed Pool",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        6176,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "function fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nconst j = $json || {};\nconst ctx = j.ctx || {};\nconst bundle = j.bundle || {};\nconst seed = j.scene_seed || {};\nconst critic = j.image_native_critic || {};\nconst route = j.archetype_route || {};\nconst gate = j.gate || {};\nconst guardrail = j.archetype_guardrail_row || {};\nconst now = new Date().toISOString();\n\nconst fragmentIds = Array.isArray(bundle.fragment_ids) ? bundle.fragment_ids.filter(Boolean) : [];\nif (!fragmentIds.length) {\n  throw new Error('TVPX__20: scene seed cannot be written without fragment_ids.');\n}\n\nconst seedHashBase = [\n  ctx.trace_id,\n  ctx.crawl_run_id,\n  ctx.source_id,\n  route.archetype_id,\n  seed.scene_kernel,\n  fragmentIds.join(',')\n].join('::');\n\nconst sceneSeedId = `tvpx_ss_${fnv1a(seedHashBase)}`;\n\nconst row = {\n  scene_seed_id: sceneSeedId,\n  trace_id: String(ctx.trace_id || '').trim(),\n  crawl_run_id: String(ctx.crawl_run_id || '').trim(),\n  origin_type: 'crawler',\n  source_id: String(ctx.source_id || '').trim(),\n  parent_scene_seed_id: null,\n  root_scene_seed_id: sceneSeedId,\n  seed_fragment_ids_json: JSON.stringify(fragmentIds),\n  archetype_id: String(route.archetype_id || '').trim(),\n  subject_mode: String(seed.subject_mode || '').trim(),\n  scene_kernel: String(seed.scene_kernel || '').trim(),\n  concept_thesis: String(seed.concept_thesis || '').trim(),\n  symbolic_tension: String(seed.symbolic_tension || '').trim(),\n  material_anchor: String(seed.material_anchor || '').trim(),\n  spatial_directive: String(seed.spatial_directive || '').trim(),\n  palette_directive: String(seed.palette_directive || '').trim(),\n  texture_directive: String(seed.texture_directive || '').trim(),\n  dominant_subject: String(seed.dominant_subject || '').trim(),\n  setting_family: String(seed.setting_family || '').trim(),\n  ceremonial_logic: String(seed.ceremonial_logic || '').trim(),\n  surreal_pressure: String(seed.surreal_pressure || '').trim(),\n  surreal_mechanism: String(seed.surreal_mechanism || '').trim(),\n  negative_space_note: String(seed.negative_space_note || '').trim(),\n  omission_notes: String(seed.omission_notes || '').trim(),\n  prop_manifest_json: JSON.stringify(seed.prop_manifest || { hero_props: [], supporting_props: [] }),\n  forbidden_excess_json: JSON.stringify(Array.isArray(seed.forbidden_excess) ? seed.forbidden_excess : []),\n  render_budget_json: JSON.stringify(seed.render_budget || { max_named_props: 4, max_background_motifs: 2, max_prompt_words: 115 }),\n  quality_score: Number(critic.score || 0),\n  brand_fit_score: Number(critic.brand_fit || 0),\n  reference_alignment_score: Number(critic.reference_alignment || 0),\n  family_guardrail_score: Number(gate.family_guardrail_score || critic.family_guardrail_score || 0),\n  negative_space_force_score: Number(critic.negative_space_force || 0),\n  prop_discipline_score: Number(critic.prop_discipline || 0),\n  guardrail_failures_json: JSON.stringify(Array.isArray(gate.reasons) ? gate.reasons : []),\n  state: 'ready',\n  lock_owner: '',\n  lock_expires_at: null,\n  used_count: 0,\n  last_used_at: null,\n  rejection_reason: '',\n  created_at: now,\n  updated_at: now\n};\n\nreturn [{\n  json: {\n    ctx: {\n      ...ctx,\n      scene_seed_id: sceneSeedId,\n      root_scene_seed_id: sceneSeedId,\n    },\n    scene_seed_row: row,\n    archetype_guardrail_row: guardrail\n  }\n}];"
      },
      "id": "87f7cc95-b2e0-4b57-a91b-f914f5d340e4",
      "name": "Build Scene Seed Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5952,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "approve_scene_seed_cond",
              "leftValue": "={{$json.gate.approve ? \"true\" : \"false\"}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1ef4ca49-4d03-41d9-a21b-8399a6e5efb7",
      "name": "Approve Scene Seed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5728,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseJsonMaybe(value, fallback) {\n  if (Array.isArray(value) || (value && typeof value === 'object')) return value;\n  const text = String(value || '').trim();\n  if (!text) return fallback;\n  try { return JSON.parse(text); } catch { return fallback; }\n}\n\nfunction clean(v) {\n  return String(v || '').toLowerCase().replace(/[^a-z0-9\\s-]/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction blob(parts) {\n  return parts.map(v => String(v || '')).join(' ').toLowerCase();\n}\n\nfunction hasAny(text, terms) {\n  const t = clean(text);\n  return (terms || []).some(term => {\n    const needle = clean(term);\n    return needle && (` ${t} `).includes(` ${needle} `);\n  });\n}\n\nfunction hitCount(text, terms) {\n  const t = clean(text);\n  return (terms || []).filter(term => {\n    const needle = clean(term);\n    return needle && (` ${t} `).includes(` ${needle} `);\n  }).length;\n}\n\nconst j = $json || {};\nconst seed = j.scene_seed || {};\nconst critic = j.image_native_critic || {};\nconst guard = j.archetype_guardrail_row || {};\n\nconst positiveBlob = blob([\n  seed.scene_kernel,\n  seed.concept_thesis,\n  seed.symbolic_tension,\n  seed.material_anchor,\n  seed.spatial_directive,\n  seed.palette_directive,\n  seed.texture_directive,\n  seed.dominant_subject,\n  seed.setting_family,\n  seed.ceremonial_logic,\n  seed.surreal_pressure,\n  seed.negative_space_note,\n  seed.surreal_mechanism\n]);\n\nconst propManifest = parseJsonMaybe(seed.prop_manifest, parseJsonMaybe(seed.prop_manifest_json, { hero_props: [], supporting_props: [] }));\nconst heroProps = Array.isArray(propManifest.hero_props) ? propManifest.hero_props : [];\nconst supportingProps = Array.isArray(propManifest.supporting_props) ? propManifest.supporting_props : [];\nconst totalProps = heroProps.length + supportingProps.length;\n\nconst allowedModes = Array.isArray(guard.allowed_subject_modes) ? guard.allowed_subject_modes : [];\nconst envTerms = Array.isArray(guard.anchor_environment_terms) ? guard.anchor_environment_terms : [];\nconst materialTerms = Array.isArray(guard.anchor_material_terms) ? guard.anchor_material_terms : [];\nconst gestureTerms = Array.isArray(guard.anchor_gesture_terms) ? guard.anchor_gesture_terms : [];\nconst bannedPropTerms = Array.isArray(guard.forbidden_prop_terms) ? guard.forbidden_prop_terms : [];\nconst bannedStyleTerms = Array.isArray(guard.forbidden_style_terms) ? guard.forbidden_style_terms : [];\nconst bannedPaletteTerms = Array.isArray(guard.forbidden_palette_terms) ? guard.forbidden_palette_terms : [];\n\nconst reasons = [];\nconst driftFlags = [];\n\nif (allowedModes.length && !allowedModes.includes(String(seed.subject_mode || '').trim())) {\n  reasons.push(`subject_mode_outside_family:${seed.subject_mode || 'missing'}`);\n}\n\nif (heroProps.length > 2) reasons.push('too_many_hero_props');\nif (supportingProps.length > 3) reasons.push('too_many_supporting_props');\nif (totalProps > 4) reasons.push('too_many_named_props');\n\nif (hasAny(positiveBlob, bannedPropTerms)) {\n  reasons.push('banned_prop_term_present');\n  driftFlags.push('banned_prop_term_present');\n}\n\nif (hasAny(positiveBlob, bannedStyleTerms)) {\n  reasons.push('banned_style_term_present');\n  driftFlags.push('banned_style_term_present');\n}\n\nif (hasAny(positiveBlob, bannedPaletteTerms)) {\n  reasons.push('banned_palette_term_present');\n  driftFlags.push('banned_palette_term_present');\n}\n\nconst hardBans = [\n  'mri', 'brain scan', 'graph', 'chart', 'diagram', 'spreadsheet', 'dashboard',\n  'monitor', 'clipboard', 'contract', 'lease', 'legal form', 'medical form',\n  'paperwork', 'infographic', 'office desk', 'conference room'\n];\n\nif (hasAny(positiveBlob, hardBans)) {\n  reasons.push('hard_banned_editorial_residue');\n  driftFlags.push('hard_banned_editorial_residue');\n}\n\nconst materialHits = hitCount(positiveBlob, materialTerms);\nconst envHits = hitCount(positiveBlob, envTerms);\nconst gestureHits = hitCount(positiveBlob, gestureTerms);\n\nif (materialTerms.length && materialHits === 0) reasons.push('family_material_missing');\nif (envTerms.length && envHits === 0) reasons.push('family_environment_missing');\nif (gestureTerms.length && gestureHits === 0) reasons.push('family_gesture_missing');\n\nconst surrealMechanism = clean(seed.surreal_mechanism || '');\nconst surrealPolicy = guard.surreal_mechanism_policy || {};\nif (!surrealMechanism) reasons.push('surreal_mechanism_missing');\nif (surrealPolicy.allow_visible_glow === false && hasAny(positiveBlob, ['glow', 'glowing', 'aura', 'halo'])) {\n  reasons.push('forbidden_magic_glow');\n}\nif (surrealPolicy.allow_float_magic === false && hasAny(positiveBlob, ['floating', 'levitating', 'hovering'])) {\n  reasons.push('forbidden_float_magic');\n}\n\nconst criticFloor = Number(guard.critic_score_floor || 8.6);\nif (Number(critic.score || 0) < criticFloor) reasons.push('critic_score_below_floor');\nif (Number(critic.brand_fit || 0) < criticFloor) reasons.push('brand_fit_below_floor');\nif (Number(critic.reference_alignment || 0) < criticFloor) reasons.push('reference_alignment_below_floor');\nif (Number(critic.family_guardrail_score || 0) < criticFloor) reasons.push('family_guardrail_below_floor');\nif (Number(critic.anti_editorial || 0) < criticFloor) reasons.push('anti_editorial_below_floor');\nif (Number(critic.prop_discipline || 0) < 8.2) reasons.push('prop_discipline_low');\nif (Number(critic.negative_space_force || 0) < 8.2) reasons.push('negative_space_force_low');\n\nconst familyGuardrailScore = Math.max(\n  0,\n  Math.min(\n    10,\n    (\n      4 +\n      Math.min(materialHits, 2) * 1.2 +\n      Math.min(envHits, 2) * 1.2 +\n      Math.min(gestureHits, 2) * 1.0 -\n      reasons.length * 0.7\n    )\n  )\n);\n\nreturn [{\n  json: {\n    ...j,\n    gate: {\n      approve: reasons.length === 0 && critic.approve === true,\n      reasons,\n      drift_flags: driftFlags,\n      family_guardrail_score: Number(familyGuardrailScore.toFixed(2)),\n      material_hits: materialHits,\n      environment_hits: envHits,\n      gesture_hits: gestureHits\n    }\n  }\n}];"
      },
      "id": "d55f1f7f-98c1-4a54-ad7d-604a3c8da251",
      "name": "Deterministic Image Native Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5504,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? raw?.body?.output_text ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('TVPX parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/\\`\\`\\`json\\s*/gi, '').replace(/\\`\\`\\`/g, '').trim(),\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    return JSON.parse(slice);\n  }\n\n  throw new Error('TVPX parser: could not locate valid JSON.');\n}\n\nconst base = $items('Parse Scene Seed JSON')[0]?.json;\nif (!base) throw new Error('TVPX parser: base node \"Parse Scene Seed JSON\" missing.');\n\nconst parsed = parseStrictJson($json);\n\nreturn [{\n  json: {\n    ...base,\n    image_native_critic: parsed,\n  },\n}];"
      },
      "id": "be2b41d0-c1aa-40f7-a222-f910e0afb27c",
      "name": "Parse Image Native Critic JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Scene seed:\n{{ JSON.stringify($json.scene_seed, null, 2) }}\n\nArchetype route:\n{{ JSON.stringify($json.archetype_route, null, 2) }}\n\nSelected guardrail:\n{{ JSON.stringify($json.archetype_guardrail_row, null, 2) }}\n\nJudge this as an image, not as an idea.",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are TVPX__LLM__Image_Native_Critic_V2 for The Velvet Paradox.\n\nApprove only if the scene seed feels like a strong member of the chosen family and could survive intact into image generation.\n\nHard fail conditions:\n- focal object is an explainer\n- readable text is carrying the idea\n- scientific or institutional apparatus is focal\n- the image feels like editorial illustration\n- there is no human, ceremonial, environmental, or absence pressure\n- the scene reads like a clever prop metaphor\n- the seed breaks the selected family guardrail\n\nReward:\n- family clarity\n- negative space force\n- tactile specificity\n- human or implied-human charge\n- prop discipline\n- one clean surreal mechanism\n- cinematic authorship\n\nReturn JSON only.\n\nReturn exactly:\n{\n  \"approve\": true,\n  \"score\": 0.0,\n  \"brand_fit\": 0.0,\n  \"reference_alignment\": 0.0,\n  \"family_guardrail_score\": 0.0,\n  \"negative_space_force\": 0.0,\n  \"prop_discipline\": 0.0,\n  \"human_presence_charge\": 0.0,\n  \"anti_editorial\": 0.0,\n  \"literalism_penalty\": 0.0,\n  \"rejection_reason\": \"\",\n  \"improvement_notes\": \"\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "id": "a34bdd5f-a889-4ade-a8e2-4d14cc238377",
      "name": "LLM Image Native Critic",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        4928,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? raw?.body?.output_text ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('TVPX parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/\\`\\`\\`json\\s*/gi, '').replace(/\\`\\`\\`/g, '').trim(),\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    return JSON.parse(slice);\n  }\n\n  throw new Error('TVPX parser: could not locate valid JSON.');\n}\n\nconst base = $items('Parse Prop Suppressor JSON')[0]?.json;\nif (!base) throw new Error('TVPX parser: base node \"Parse Prop Suppressor JSON\" missing.');\n\nconst parsed = parseStrictJson($json);\n\nreturn [{\n  json: {\n    ...base,\n    scene_seed: parsed,\n  },\n}];"
      },
      "id": "1edccd49-df53-410c-a82a-80e934b063fc",
      "name": "Parse Scene Seed JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4704,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Archetype route:\n{{ JSON.stringify($json.archetype_route, null, 2) }}\n\nSelected guardrail:\n{{ JSON.stringify($json.archetype_guardrail_row, null, 2) }}\n\nHuman situation:\n{{ JSON.stringify($json.human_situation, null, 2) }}\n\nProp suppression:\n{{ JSON.stringify($json.prop_suppression, null, 2) }}\n\nWrite one scene seed only.",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are TVPX__LLM__Scene_Seed_Composer_V2 for The Velvet Paradox.\n\nYour job is to create one image-native scene seed.\n\nThe seed must:\n- belong clearly to the chosen archetype\n- obey the selected guardrail row\n- contain one dominant subject or grouping\n- contain one dominant gesture\n- contain one dominant symbolic engine only\n- preserve negative space as pressure\n- stay photographically plausible\n- feel sparse, tactile, cinematic, and quietly uncanny\n- avoid editorial illustration logic completely\n\nRules:\n- no plot summary\n- no concept explanation\n- no symbolism explanation\n- no more than 2 hero props\n- no more than 3 supporting props\n- do not write like an essay\n- write like a discovered still that a camera could plausibly find\n\nReturn JSON only.\n\nReturn exactly:\n{\n  \"scene_kernel\": \"...\",\n  \"concept_thesis\": \"...\",\n  \"symbolic_tension\": \"...\",\n  \"material_anchor\": \"...\",\n  \"spatial_directive\": \"...\",\n  \"palette_directive\": \"...\",\n  \"texture_directive\": \"...\",\n  \"subject_mode\": \"...\",\n  \"dominant_subject\": \"...\",\n  \"setting_family\": \"...\",\n  \"ceremonial_logic\": \"...\",\n  \"surreal_pressure\": \"...\",\n  \"surreal_mechanism\": \"...\",\n  \"negative_space_note\": \"...\",\n  \"omission_notes\": \"...\",\n  \"forbidden_excess\": [\"...\"],\n  \"prop_manifest\": {\n    \"hero_props\": [\"...\"],\n    \"supporting_props\": [\"...\"]\n  },\n  \"render_budget\": {\n    \"max_named_props\": 4,\n    \"max_background_motifs\": 2,\n    \"max_prompt_words\": 115\n  }\n}"
            }
          ]
        },
        "batching": {}
      },
      "id": "4d3e270d-6990-426d-a6e9-704716f28e29",
      "name": "LLM Scene Seed Composer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        4352,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? raw?.body?.output_text ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('TVPX parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/\\`\\`\\`json\\s*/gi, '').replace(/\\`\\`\\`/g, '').trim(),\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    return JSON.parse(slice);\n  }\n\n  throw new Error('TVPX parser: could not locate valid JSON.');\n}\n\nconst base = $items('Parse Human Situation JSON')[0]?.json;\nif (!base) throw new Error('TVPX parser: base node \"Parse Human Situation JSON\" missing.');\n\nconst parsed = parseStrictJson($json);\n\nreturn [{\n  json: {\n    ...base,\n    prop_suppression: parsed,\n  },\n}];"
      },
      "id": "ab2d2982-647a-401a-aa46-068e8ae4684f",
      "name": "Parse Prop Suppressor JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4128,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Archetype route:\n{{ JSON.stringify($json.archetype_route, null, 2) }}\n\nSelected guardrail:\n{{ JSON.stringify($json.archetype_guardrail_row, null, 2) }}\n\nHuman situation:\n{{ JSON.stringify($json.human_situation, null, 2) }}\n\nLatent tensions:\n{{ JSON.stringify($json.latent_tension, null, 2) }}\n\nRemove article residue brutally.",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are TVPX__LLM__Prop_Suppressor_V2 for The Velvet Paradox.\n\nYour job is to strip away article residue and reduce the scene to image-native matter.\n\nRules:\n- obey the selected guardrail row\n- hero_props: maximum 2\n- supporting_props: maximum 3\n- total named props must stay sparse\n- remove explainers, diagrams, documents, institutional spectacle, and any prop that summarizes the article too directly\n- translate pressure into bodies, rooms, thresholds, weather, fabric, flowers, earth, obstruction, omission, repetition, worn domestic matter\n- do not make the image “about a prop”\n\nReturn JSON only.\n\nReturn exactly:\n{\n  \"translated_core\": \"...\",\n  \"hero_props\": [\"...\"],\n  \"supporting_props\": [\"...\"],\n  \"removed_props\": [\"...\"],\n  \"ordinary_anchor\": \"...\",\n  \"surreal_lift\": \"...\",\n  \"do_not_literalize\": \"...\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "id": "ada80285-7686-4437-acf0-27f31c9e1eb9",
      "name": "LLM Prop Suppressor",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3776,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? raw?.body?.output_text ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('TVPX parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/\\`\\`\\`json\\s*/gi, '').replace(/\\`\\`\\`/g, '').trim(),\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    return JSON.parse(slice);\n  }\n\n  throw new Error('TVPX parser: could not locate valid JSON.');\n}\n\nconst base = $items('Parse Archetype Router JSON')[0]?.json;\nif (!base) throw new Error('TVPX parser: base node \"Parse Archetype Router JSON\" missing.');\n\nconst parsed = parseStrictJson($json);\n\nreturn [{\n  json: {\n    ...base,\n    human_situation: parsed,\n  },\n}];"
      },
      "id": "d1d0b104-09eb-4808-aea3-ccb4026e2906",
      "name": "Parse Human Situation JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Latent tensions:\n{{ JSON.stringify($json.latent_tension, null, 2) }}\n\nArchetype route:\n{{ JSON.stringify($json.archetype_route, null, 2) }}\n\nSelected guardrail:\n{{ JSON.stringify($json.archetype_guardrail_row, null, 2) }}\n\nBuild the strongest human situation for the chosen family.",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are TVPX__LLM__Human_Situation_Builder_V2 for The Velvet Paradox.\n\nYour job is to turn the routed tension into one image-native human situation that belongs naturally to the selected archetype family.\n\nThe result must be one of:\n- single_figure\n- pair\n- small_group\n- implied_absence\n\nRules:\n- obey the selected guardrail row\n- do not default to object tableau\n- do not default to document symbolism\n- prefer one dominant bodily gesture over many clever props\n- keep the situation photographically plausible\n- the frame must feel discoverable, not diagrammed\n- no explanation language\n\nReturn JSON only.\n\nReturn exactly:\n{\n  \"subject_mode\": \"...\",\n  \"situation_seed\": \"...\",\n  \"gesture_logic\": \"...\",\n  \"presence_logic\": \"...\",\n  \"absence_logic\": \"...\",\n  \"wardrobe_surface_bias\": \"...\",\n  \"environment_bias\": \"...\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "id": "600c3336-66a5-4800-a092-c3b8478d4068",
      "name": "LLM Human Situation Builder",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3200,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? raw?.body?.output_text ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('TVPX parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/\\`\\`\\`json\\s*/gi, '').replace(/\\`\\`\\`/g, '').trim(),\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    return JSON.parse(slice);\n  }\n\n  throw new Error('TVPX parser: could not locate valid JSON.');\n}\n\nconst base = $items('Build Latent Tension Row')[0]?.json;\nif (!base) throw new Error('TVPX parser: base node \"Build Latent Tension Row\" missing.');\n\nconst parsed = parseStrictJson($json);\n\nreturn [{\n  json: {\n    ...base,\n    archetype_route: parsed,\n  },\n}];"
      },
      "id": "f71bb964-a4df-426f-a5d3-d1111a3898f1",
      "name": "Parse Archetype Router JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Archetype registry:\n{{ $json.archetype_registry_json }}\n\nArchetype guardrails:\n{{ JSON.stringify($json.archetype_guardrail_rows, null, 2) }}\n\nLatent tensions:\n{{ JSON.stringify($json.latent_tension, null, 2) }}\n\nChoose the strongest still-image family for TVPX.",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are TVPX__LLM__Archetype_Router_V2 for The Velvet Paradox.\n\nYour job is to choose exactly one archetype family from the supplied registry.\n\nChoose by visual family fit, not by conceptual cleverness.\nChoose the family that would most naturally produce an authored still image closest to the reference logic.\n\nHard rules:\n- choose one archetype only\n- preserve the emotional engine, not article residue\n- reject any family that would require explanatory props to work\n- reject any family that pushes the image into editorial illustration\n- prefer families with a strong human, ceremonial, environmental, or absence charge\n- do not choose a family just because it can “symbolize” the source\n- use the guardrail rows as hard constraints, not flavor text\n\nReturn JSON only.\n\nReturn exactly:\n{\n  \"archetype_id\": \"...\",\n  \"visual_match_reasons\": [\"...\"],\n  \"primary_surreal_mechanism\": \"...\",\n  \"must_keep\": [\"...\"],\n  \"must_avoid\": [\"...\"]\n}"
            }
          ]
        },
        "batching": {}
      },
      "id": "b8254c6a-ecd4-449f-a140-e726e2a06808",
      "name": "LLM Archetype Router",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2400,
        240
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "iHTvx9LnNdQL2ZV7",
          "mode": "list",
          "cachedResultName": "tvpx_latent_tension_pool",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/iHTvx9LnNdQL2ZV7"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tension_id",
              "keyValue": "={{$json.latent_tension_row.tension_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tension_id": "={{$json.latent_tension_row.tension_id}}",
            "trace_id": "={{$json.latent_tension_row.trace_id}}",
            "crawl_run_id": "={{$json.latent_tension_row.crawl_run_id}}",
            "source_id": "={{$json.latent_tension_row.source_id}}",
            "fragment_ids_json": "={{$json.latent_tension_row.fragment_ids_json}}",
            "latent_tensions_json": "={{$json.latent_tension_row.latent_tensions_json}}",
            "relational_modes_json": "={{$json.latent_tension_row.relational_modes_json}}",
            "ritual_forms_json": "={{$json.latent_tension_row.ritual_forms_json}}",
            "environmental_pressures_json": "={{$json.latent_tension_row.environmental_pressures_json}}",
            "forbidden_literal_carryovers_json": "={{$json.latent_tension_row.forbidden_literal_carryovers_json}}",
            "status": "={{$json.latent_tension_row.status}}",
            "created_at": "={{$json.latent_tension_row.created_at}}",
            "updated_at": "={{$json.latent_tension_row.updated_at}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tension_id",
              "displayName": "tension_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "crawl_run_id",
              "displayName": "crawl_run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "fragment_ids_json",
              "displayName": "fragment_ids_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "latent_tensions_json",
              "displayName": "latent_tensions_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "relational_modes_json",
              "displayName": "relational_modes_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ritual_forms_json",
              "displayName": "ritual_forms_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "environmental_pressures_json",
              "displayName": "environmental_pressures_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "forbidden_literal_carryovers_json",
              "displayName": "forbidden_literal_carryovers_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "deab9289-8231-4bc2-a16e-85ee75961450",
      "name": "Upsert Latent Tension Pool",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2464,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "function fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nconst j = $json || {};\nconst ctx = j.ctx || {};\nconst bundle = j.bundle || {};\nconst latent = j.latent_tension || {};\nconst now = new Date().toISOString();\nconst fragmentIds = Array.isArray(bundle.fragment_ids) ? bundle.fragment_ids.filter(Boolean) : [];\n\nconst tensionId = `tvpx_tn_${fnv1a([\n  ctx.trace_id,\n  ctx.crawl_run_id,\n  ctx.source_id,\n  fragmentIds.join(','),\n].join('::'))}`;\n\nreturn [{\n  json: {\n    ...j,\n    latent_tension_row: {\n      tension_id: tensionId,\n      trace_id: String(ctx.trace_id || '').trim(),\n      crawl_run_id: String(ctx.crawl_run_id || '').trim(),\n      source_id: String(ctx.source_id || '').trim(),\n      fragment_ids_json: JSON.stringify(fragmentIds),\n      latent_tensions_json: JSON.stringify(Array.isArray(latent.latent_tensions) ? latent.latent_tensions : []),\n      relational_modes_json: JSON.stringify(Array.isArray(latent.relational_modes) ? latent.relational_modes : []),\n      ritual_forms_json: JSON.stringify(Array.isArray(latent.ritual_forms) ? latent.ritual_forms : []),\n      environmental_pressures_json: JSON.stringify(Array.isArray(latent.environmental_pressures) ? latent.environmental_pressures : []),\n      forbidden_literal_carryovers_json: JSON.stringify(Array.isArray(latent.forbidden_literal_carryovers) ? latent.forbidden_literal_carryovers : []),\n      status: 'active',\n      created_at: now,\n      updated_at: now,\n    },\n  },\n}];"
      },
      "id": "43aa6120-dc65-4da4-ac2e-f28721d3e040",
      "name": "Build Latent Tension Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseStrictJson(raw) {\n  const source = typeof raw === 'string'\n    ? raw\n    : raw?.text ?? raw?.output ?? raw?.result ?? raw?.body?.output_text ?? JSON.stringify(raw);\n\n  const text = String(source || '').trim();\n  if (!text) throw new Error('TVPX parser: empty LLM output.');\n\n  const candidates = [\n    text,\n    text.replace(/\\`\\`\\`json\\s*/gi, '').replace(/\\`\\`\\`/g, '').trim(),\n  ];\n\n  for (const candidate of candidates) {\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  const stripped = candidates[1];\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const slice = stripped.slice(start, end + 1)\n      .replace(/[\\u201C\\u201D]/g, '\"')\n      .replace(/[\\u2018\\u2019]/g, \"'\")\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*]/g, ']');\n\n    return JSON.parse(slice);\n  }\n\n  throw new Error('TVPX parser: could not locate valid JSON.');\n}\n\nconst base = $items('Attach Archetype Registry')[0]?.json;\nif (!base) throw new Error('TVPX parser: base node \"Attach Archetype Registry\" missing.');\n\nconst parsed = parseStrictJson($json);\n\nreturn [{\n  json: {\n    ...base,\n    latent_tension: parsed,\n  },\n}];"
      },
      "id": "d8344239-02af-42aa-aac0-6505db79dbfa",
      "name": "Parse Latent Tension JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Brand: {{ $json.ctx.brand_name }}\n\nReference rule:\nThe output must help create images that feel like authored cinematic stills, not article illustrations.\n\nFragment bundle:\n{{ $json.bundle.excerpt_block }}\n\nGive me only the pressures that should survive into image generation.",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are TVPX__LLM__Latent_Tension_Distiller for The Velvet Paradox.\n\nYour job is to extract only the image-usable pressure from the source text.\n\nYou must remove article machinery.\nYou must remove explainer nouns.\nYou must remove institutional or scientific surface logic unless it survives only as emotional weather.\n\nKeep only:\n- relational pressure\n- ritual contradiction\n- environmental unease\n- interior/exterior tension\n- body/world tension\n- social staging pressure\n- secrecy, ceremony, displacement, witness, absence, obsession, devotion, decay\n\nHard bans for carry-forward focal matter:\n- scans\n- graphs\n- diagrams\n- leases\n- contracts\n- forms\n- labels\n- readable documents\n- monitors\n- dashboards\n- explicit scientific machinery\n- article nouns presented as props\n\nReturn JSON only.\n\nReturn exactly:\n{\n  \"latent_tensions\": [\"...\"],\n  \"relational_modes\": [\"...\"],\n  \"ritual_forms\": [\"...\"],\n  \"environmental_pressures\": [\"...\"],\n  \"forbidden_literal_carryovers\": [\"...\"],\n  \"source_distillate\": \"...\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "id": "10a3dae8-23c3-486a-ac71-464dc9d0089f",
      "name": "LLM Latent Tension Distiller",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1600,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "function clean(v) {\n  return String(v || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction parseJsonMaybe(value, fallback) {\n  if (Array.isArray(value) || (value && typeof value === 'object')) return value;\n  const text = String(value || '').trim();\n  if (!text) return fallback;\n  try { return JSON.parse(text); } catch { return fallback; }\n}\n\nconst base = $items('Assemble Fragment Bundle')[0]?.json;\nif (!base) throw new Error('TVPX__20: missing Assemble Fragment Bundle payload.');\n\nconst archetypeRows = $items('Get Archetype Registry').map(i => i.json || {}).filter(Boolean);\nconst guardrailRows = $items('Get Archetype Guardrail Registry').map(i => i.json || {}).filter(Boolean);\n\nconst archetypes = archetypeRows.map((r) => ({\n  archetype_id: clean(r.archetype_id),\n  archetype_name: clean(r.archetype_name),\n  allowed_text_role: clean(r.allowed_text_role || 'none'),\n  subject_mode_bias_json: String(r.subject_mode_bias_json || '[]'),\n  camera_dna: clean(r.camera_dna),\n  palette_dna: clean(r.palette_dna),\n  material_dna_json: String(r.material_dna_json || '[]'),\n  surreal_lift_rules_json: String(r.surreal_lift_rules_json || '[]'),\n  negative_space_dna: clean(r.negative_space_dna),\n  forbidden_tells_json: String(r.forbidden_tells_json || '[]'),\n  notes: clean(r.notes),\n})).filter(x => x.archetype_id);\n\nconst guardrails = guardrailRows.map((r) => ({\n  archetype_id: clean(r.archetype_id),\n  archetype_name: clean(r.archetype_name),\n  active: clean(r.active || 'true'),\n  allowed_subject_modes: parseJsonMaybe(r.allowed_subject_modes_json, []),\n  anchor_environment_terms: parseJsonMaybe(r.anchor_environment_terms_json, []),\n  anchor_material_terms: parseJsonMaybe(r.anchor_material_terms_json, []),\n  anchor_gesture_terms: parseJsonMaybe(r.anchor_gesture_terms_json, []),\n  forbidden_prop_terms: parseJsonMaybe(r.forbidden_prop_terms_json, []),\n  forbidden_style_terms: parseJsonMaybe(r.forbidden_style_terms_json, []),\n  forbidden_palette_terms: parseJsonMaybe(r.forbidden_palette_terms_json, []),\n  surreal_mechanism_policy: parseJsonMaybe(r.surreal_mechanism_policy_json, {}),\n  negative_space_policy: parseJsonMaybe(r.negative_space_policy_json, {}),\n  critic_score_floor: Number(r.critic_score_floor || 8.6),\n  render_prompt_word_ceiling: Number(r.render_prompt_word_ceiling || 115),\n})).filter(x => x.archetype_id);\n\nreturn [{\n  json: {\n    ...base,\n    archetype_registry_json: JSON.stringify(archetypes, null, 2),\n    archetype_guardrail_rows: guardrails,\n  },\n}];"
      },
      "id": "f0527603-adda-4f82-ac6c-eeb69422321a",
      "name": "Attach Archetype Registry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        144
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "6qzFRPL8pogDMctF",
          "mode": "list",
          "cachedResultName": "tvpx_ref_archetype_registry",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/6qzFRPL8pogDMctF"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        },
        "limit": 100
      },
      "id": "5d2297bd-2acf-45eb-ad27-441b1591ade2",
      "name": "Get Archetype Registry",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1152,
        360
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "grok-4-1-fast-reasoning",
        "options": {}
      },
      "id": "2879c324-5a2f-468f-9999-7d43e5d9d0ef",
      "name": "Director Model xAI Fallback Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        1736,
        368
      ],
      "credentials": {
        "xAiApi": {
          "id": "Bs1Wj3VI1HQ71xYB",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-5.1",
        "options": {}
      },
      "id": "a07bb513-dc85-4880-8c86-c07d3ddc9bda",
      "name": "OpenAI Director Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1608,
        368
      ],
      "credentials": {
        "openAiApi": {
          "id": "lkPV4yTxQh2YAZDW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Assemble Fragment Bundle\n * Selects high-signal fragments aligned with The Velvet Paradox creative DNA.\n */\nfunction clean(s) {\n  return String(s || '').replace(/\\r/g, '').replace(/[\\t ]+/g, ' ').trim();\n}\nfunction clip(s, n) {\n  const t = clean(s);\n  return t.length > n ? t.slice(0, n) + '…' : t;\n}\nconst base = $json;\nconst ctx = base.ctx;\nconst source = base.source || {};\nconst frags = Array.isArray(base.fragments) ? base.fragments : [];\n\nconst SIGNAL = ['pressure','fracture','collapse','repair','restraint','rupture','erosion','threshold','damage','bruise','stain','residue','seep','crack','buckle','warp','misalign','aftermath','tension','constraint','weight','drift','fragile','ritual','memory','identity','veil','shadow','fog','silence','ruin','relic','static','paradox'];\nfunction scoreFrag(t) {\n  const s = t.toLowerCase();\n  let score = 0;\n  for (const w of SIGNAL) if (s.includes(w)) score += 1;\n  if (/(stone|plaster|velvet|metal|dust|smoke|haze|wet|rust|cloth|feather|fur|wax|candle|mirror|arch|stair)/i.test(t)) score += 3;\n  if (t.length > 500) score += 1;\n  return score;\n}\n\nconst normalized = frags.map(f => {\n  const cleaned = clean(f.cleaned_text || f.text || f.raw_text || '');\n  return {\n    fragment_id: String(f.fragment_id || f.id || f.dt_row_id || '').trim(),\n    page_url: String(f.page_url || f.url || '').trim(),\n    page_title: String(f.page_title || f.title || '').trim(),\n    cleaned_text: cleaned\n  };\n}).filter(x => x.cleaned_text);\n\nnormalized.sort((a,b) => scoreFrag(b.cleaned_text) - scoreFrag(a.cleaned_text));\n\nconst takeN = Math.max(3, Math.min(Number(ctx.max_fragments_for_llm || 10), 16));\nconst maxChars = Math.max(600, Math.min(Number(ctx.max_chars_per_fragment_for_llm || 1400), 2200));\n\nconst picked = normalized.slice(0, takeN).map(x => ({\n  fragment_id: x.fragment_id,\n  page_url: x.page_url,\n  page_title: x.page_title,\n  excerpt: clip(x.cleaned_text, maxChars)\n}));\n\nconst excerptBlock = picked.map((p, i) => {\n  const head = `[#${i+1}] ${p.page_title || 'Untitled'} | ${p.page_url || ''}`.trim();\n  return `${head}\\n${p.excerpt}`;\n}).join('\\n\\n---\\n\\n');\n\nreturn [{\n  json: {\n    ctx,\n    source,\n    bundle: {\n      source_id: ctx.source_id,\n      crawl_run_id: ctx.crawl_run_id,\n      fragment_ids: picked.map(p => p.fragment_id).filter(Boolean),\n      excerpt_block: excerptBlock\n    }\n  }\n}];"
      },
      "id": "211f88cc-c34e-4468-94db-34eabc8090cb",
      "name": "Assemble Fragment Bundle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        144
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "DimXJ3nOKPWyV1bE",
          "mode": "list",
          "cachedResultName": "tvpx_concept_reject_log",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/DimXJ3nOKPWyV1bE"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "reject_id",
              "keyValue": "={{$json.reject.reject_id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reject_id": "={{$json.reject.reject_id}}",
            "trace_id": "={{$json.reject.trace_id}}",
            "stage_name": "={{$json.reject.stage_name}}",
            "rejection_reason": "={{$json.reject.rejection_reason}}",
            "raw_output_json": "={{$json.reject.raw_output_json}}",
            "created_at": "={{$json.reject.created_at}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "reject_id",
              "displayName": "reject_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "trace_id",
              "displayName": "trace_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "concept_id",
              "displayName": "concept_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "stage_name",
              "displayName": "stage_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rejection_reason",
              "displayName": "rejection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "raw_output_json",
              "displayName": "raw_output_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f753a1d8-3a75-432d-8c93-a6ba9689dbb3",
      "name": "Upsert Reject Log",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        6176,
        556
      ]
    },
    {
      "parameters": {
        "jsCode": "/** Build No Fragments Reject */\nconst base = $json || {};\nconst ctx = (base.ctx && typeof base.ctx === 'object') ? base.ctx : {};\nconst now = new Date().toISOString();\nreturn [{\n  json: {\n    ...base,\n    reject: {\n      reject_id: 'tvpx_rej_' + (ctx.trace_id || 'missing') + '_no_fragments',\n      trace_id: ctx.trace_id,\n      stage_name: 'concept_forge_ingress',\n      rejection_reason: 'No eligible fragments were found for concept forging. The selected crawl run may be empty, already consumed, or missing clean fragments.',\n      raw_output_json: JSON.stringify({\n        crawl_run_id: ctx.crawl_run_id,\n        source_id: ctx.source_id,\n        candidate_debug: base.candidate_debug || null,\n      }),\n      created_at: now,\n    },\n  },\n}];"
      },
      "id": "83fd6a90-9672-4e9f-aa77-5e4d9196910b",
      "name": "Build No Fragments Reject",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5952,
        556
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "string_1",
              "leftValue": "={{Array.isArray($json.fragments) && $json.fragments.length > 0 ? 'true' : 'false'}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a636e536-7400-49fd-9e75-c8f40afe508c",
      "name": "Has Fragments",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        704,
        268
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Reattach Context After Fragments\n * Rebuilds the runtime packet from the active candidate plus the fetched fragment rows.\n */\nconst envelope = $items('Initialize Envelope')[0]?.json || {};\nconst base = $items('Attach Source To Candidate')[0]?.json || {};\nconst inputRows = $input.all().map((item) => item.json || {});\n\nconst fragments = inputRows.filter((row) => row && String(row.fragment_id || row.id || row.dt_row_id || '').trim());\nconst providedFragments = Array.isArray(base.provided_fragments)\n  ? base.provided_fragments\n  : (Array.isArray(envelope.provided_fragments) ? envelope.provided_fragments : []);\n\nconst ctx = (base.ctx && typeof base.ctx === 'object')\n  ? base.ctx\n  : ((envelope.ctx && typeof envelope.ctx === 'object') ? envelope.ctx : {});\n\nconst baseSource = (base.source && typeof base.source === 'object') ? base.source : {};\nconst envelopeSource = (envelope.source && typeof envelope.source === 'object') ? envelope.source : {};\nconst source = Object.keys(baseSource).length ? baseSource : envelopeSource;\n\nreturn [{\n  json: {\n    ctx,\n    source,\n    fragments: fragments.length ? fragments : providedFragments,\n    candidate_run: base.candidate_run || null,\n    candidate_debug: base.candidate_debug || null,\n  },\n}];"
      },
      "id": "ee925050-b69c-497b-95e0-0d7a08784efd",
      "name": "Reattach Context After Fragments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        268
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Attach Source To Candidate\n * Restores the active candidate packet after source lookup and tolerates a missing registry row.\n */\nconst candidate = $items('Prepare Active Candidate Run')[0]?.json || {};\nconst sourceRows = $input.all().map((item) => item.json || {}).filter((row) => row && Object.keys(row).length);\n\nconst ctx = (candidate.ctx && typeof candidate.ctx === 'object') ? candidate.ctx : {};\nconst candidateSource = (candidate.source && typeof candidate.source === 'object') ? candidate.source : {};\nconst source = sourceRows[0]\n  || (Object.keys(candidateSource).length ? candidateSource : (ctx.source_id ? { source_id: ctx.source_id } : {}));\n\nreturn [{\n  json: {\n    ...candidate,\n    source,\n  },\n}];"
      },
      "id": "6cb59a64-40dd-4ca8-bafb-0a5aa094ec7a",
      "name": "Attach Source To Candidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        268
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "T3ws14nAvLePi5js",
          "mode": "list",
          "cachedResultName": "tvpx_source_registry",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/T3ws14nAvLePi5js"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "source_id",
              "keyValue": "={{$json.ctx.source_id || \"\"}}"
            }
          ]
        },
        "limit": 1
      },
      "id": "8e7d6dcf-2459-47fb-9d5e-71e9b47128e7",
      "name": "Get Source For Run",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -192,
        268
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * Prepare Active Candidate Run\n * Materializes the active split-in-batches item onto $json for downstream DataTable lookups.\n */\nconst item = $json || {};\nconst ctx = (item.ctx && typeof item.ctx === 'object') ? item.ctx : {};\nconst source = (item.source && typeof item.source === 'object') ? item.source : {};\n\nreturn [{\n  json: {\n    ctx,\n    source,\n    provided_fragments: Array.isArray(item.provided_fragments) ? item.provided_fragments : [],\n    candidate_run: item.candidate_run || null,\n    candidate_debug: item.candidate_debug || null,\n  },\n}];"
      },
      "id": "3d6e8f7b-1b26-4d69-a5f9-773214bf6a2e",
      "name": "Prepare Active Candidate Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        268
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Build Candidate Run Packets\n * Hydrates the same crawl-run context TVPX__10 would have handed downstream.\n */\nfunction toInt(value, fallback = 0) {\n  const n = Number(value);\n  return Number.isFinite(n) ? Math.round(n) : fallback;\n}\n\nfunction stampOf(row) {\n  return String(\n    row.completed_at ||\n    row.started_at ||\n    row.updated_at ||\n    row.created_at ||\n    ''\n  ).trim();\n}\n\nconst base = $items('Initialize Envelope')[0]?.json || {};\nconst baseCtx = (base.ctx && typeof base.ctx === 'object') ? base.ctx : {};\nconst baseSource = (base.source && typeof base.source === 'object') ? base.source : {};\nconst providedFragments = Array.isArray(base.provided_fragments) ? base.provided_fragments : [];\nconst requestedRunId = String(baseCtx.crawl_run_id || '').trim();\nconst requestedSourceId = String(baseCtx.source_id || '').trim();\nconst maxRuns = Math.max(1, Math.min(Number(baseCtx.autonomous_run_limit || 3), 12));\nconst minFragmentsPerRun = Math.max(1, Math.min(Number(baseCtx.min_fragments_per_run || 3), 20));\nconst allowReprocess = Boolean(baseCtx.allow_reprocess_runs);\n\nconst runRows = $items('Get Candidate Crawl Runs')\n  .map((item) => item.json || {})\n  .filter((row) => row && Object.keys(row).length)\n  .map((row) => ({\n    crawl_run_id: String(row.crawl_run_id || '').trim(),\n    trace_id: String(row.trace_id || '').trim(),\n    source_id: String(row.source_id || '').trim(),\n    trigger_mode: String(row.trigger_mode || '').trim(),\n    status: String(row.status || '').trim().toLowerCase(),\n    started_at: String(row.started_at || '').trim(),\n    completed_at: String(row.completed_at || '').trim(),\n    fragment_count: toInt(row.fragment_count, 0),\n    page_count: toInt(row.page_count, 0),\n    raw_item_count: toInt(row.raw_item_count, 0),\n  }))\n  .filter((row) => row.crawl_run_id);\n\nconst existingSceneSeedRows = $items('Get Existing Scene Seeds')\n  .map((item) => item.json || {})\n  .filter((row) => row && Object.keys(row).length);\n\nconst consumedRunIds = allowReprocess\n  ? new Set()\n  : new Set(\n      existingSceneSeedRows\n        .map((row) => String(row.crawl_run_id || '').trim())\n        .filter(Boolean)\n    );\n\nif (providedFragments.length) {\n  const inferredRunId = requestedRunId || String(providedFragments[0]?.crawl_run_id || '').trim();\n  const inferredSourceId = requestedSourceId || String(providedFragments[0]?.source_id || '').trim();\n\n  return [{\n    json: {\n      ctx: {\n        ...baseCtx,\n        crawl_run_id: inferredRunId,\n        source_id: inferredSourceId,\n      },\n      source: baseSource,\n      provided_fragments: providedFragments,\n      candidate_run: {\n        crawl_run_id: inferredRunId,\n        source_id: inferredSourceId,\n        trace_id: String(baseCtx.trace_id || '').trim(),\n        trigger_mode: String(baseCtx.trigger_mode || 'internal').trim(),\n        status: 'provided_fragments',\n        fragment_count: providedFragments.length,\n      },\n      candidate_debug: {\n        selection_mode: 'provided_fragments',\n        requested_crawl_run_id: requestedRunId || null,\n        requested_source_id: requestedSourceId || null,\n        selected_run_count: 1,\n        selected_rank: 1,\n        run_rows_scanned: runRows.length,\n        existing_scene_seed_rows: existingSceneSeedRows.length,\n        allow_reprocess_runs: allowReprocess,\n      },\n    },\n  }];\n}\n\nlet selectedRuns = [];\nif (requestedRunId) {\n  const exact = runRows.find((row) => row.crawl_run_id === requestedRunId);\n  selectedRuns = [exact || {\n    crawl_run_id: requestedRunId,\n    trace_id: String(baseCtx.trace_id || '').trim(),\n    source_id: requestedSourceId,\n    trigger_mode: String(baseCtx.trigger_mode || 'internal').trim(),\n    status: 'requested_manual',\n    fragment_count: 0,\n    page_count: 0,\n    raw_item_count: 0,\n    started_at: '',\n    completed_at: '',\n  }];\n} else {\n  selectedRuns = runRows\n    .filter((row) => !requestedSourceId || row.source_id === requestedSourceId)\n    .filter((row) => !row.status || ['completed', 'ready', 'done'].includes(row.status))\n    .filter((row) => allowReprocess || !consumedRunIds.has(row.crawl_run_id))\n    .filter((row) => row.fragment_count >= minFragmentsPerRun)\n    .sort((a, b) => {\n      if (b.fragment_count !== a.fragment_count) return b.fragment_count - a.fragment_count;\n      return stampOf(b).localeCompare(stampOf(a));\n    })\n    .slice(0, maxRuns);\n}\n\nif (!selectedRuns.length) {\n  return [{\n    json: {\n      ctx: {\n        ...baseCtx,\n        crawl_run_id: requestedRunId,\n        source_id: requestedSourceId,\n      },\n      source: baseSource,\n      provided_fragments: [],\n      candidate_run: null,\n      candidate_debug: {\n        selection_mode: requestedRunId ? 'requested_run' : 'crawl_run_ledger',\n        requested_crawl_run_id: requestedRunId || null,\n        requested_source_id: requestedSourceId || null,\n        selected_run_count: 0,\n        selected_rank: 0,\n        run_rows_scanned: runRows.length,\n        existing_scene_seed_rows: existingSceneSeedRows.length,\n        allow_reprocess_runs: allowReprocess,\n      },\n    },\n  }];\n}\n\nreturn selectedRuns.map((run, index) => ({\n  json: {\n    ctx: {\n      ...baseCtx,\n      trace_id: String(run.trace_id || baseCtx.trace_id || '').trim() || baseCtx.trace_id,\n      trigger_mode: String(run.trigger_mode || baseCtx.trigger_mode || 'internal').trim(),\n      crawl_run_id: String(run.crawl_run_id || '').trim(),\n      source_id: String(run.source_id || requestedSourceId || '').trim(),\n    },\n    source: baseSource,\n    provided_fragments: [],\n    candidate_run: run,\n    candidate_debug: {\n      selection_mode: requestedRunId ? 'requested_run' : 'crawl_run_ledger',\n      requested_crawl_run_id: requestedRunId || null,\n      requested_source_id: requestedSourceId || null,\n      selected_run_count: selectedRuns.length,\n      selected_rank: index + 1,\n      run_rows_scanned: runRows.length,\n      existing_scene_seed_rows: existingSceneSeedRows.length,\n      allow_reprocess_runs: allowReprocess,\n    },\n  },\n}));"
      },
      "id": "b8f3f949-6ff2-4582-9f02-1bc3ecb0ac4b",
      "name": "Build Candidate Run Packets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        340
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZquAVdSdqKEpnZQx",
          "mode": "list",
          "cachedResultName": "tvpx_scene_seed_pool",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/ZquAVdSdqKEpnZQx"
        },
        "limit": "={{$items(\"Initialize Envelope\")[0].json.ctx.autonomous_scan_limit}}"
      },
      "id": "5b571c75-6c4f-41c4-b1d7-2f2cf1a3b201",
      "name": "Get Existing Scene Seeds",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1088,
        340
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "yWenhwOARipjjBIq",
          "mode": "list",
          "cachedResultName": "tvpx_crawl_run_ledger",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/yWenhwOARipjjBIq"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "keyValue": "completed"
            }
          ]
        },
        "limit": "={{$items(\"Initialize Envelope\")[0].json.ctx.autonomous_scan_limit}}"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Get Candidate Crawl Runs",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1312,
        340
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "DOpMQGynGFn8U3vb",
          "mode": "list",
          "cachedResultName": "tvpx_text_fragment_bank",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/DOpMQGynGFn8U3vb"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "crawl_run_id",
              "keyValue": "={{$json.ctx.crawl_run_id || \"\"}}"
            },
            {
              "keyName": "qa_status",
              "keyValue": "clean"
            }
          ]
        },
        "limit": "={{$items(\"Initialize Envelope\")[0].json.ctx.autonomous_scan_limit}}"
      },
      "id": "f5dd9180-df60-4199-8e19-3807c6e27343",
      "name": "Get Fragments For Run",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        256,
        268
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * Initialize Envelope (TVPX__20)\n * Bulletproof normalization for downstream multi-LLM pipeline.\n */\nfunction fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h >>> 0) * 0x01000193;\n  }\n  return (h >>> 0).toString(16);\n}\n\nfunction toBool(value, fallback = false) {\n  if (value === null || value === undefined || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const normalized = String(value).trim().toLowerCase();\n  if (!normalized) return fallback;\n  if (['1', 'true', 'yes', 'y', 'on'].includes(normalized)) return true;\n  if (['0', 'false', 'no', 'n', 'off'].includes(normalized)) return false;\n  return fallback;\n}\n\nfunction clampInt(value, fallback, min, max) {\n  const n = Number(value);\n  if (!Number.isFinite(n)) return fallback;\n  return Math.max(min, Math.min(Math.round(n), max));\n}\n\nconst incoming = $json || {};\nconst now = new Date().toISOString();\n\nconst baseCtx = (incoming.ctx && typeof incoming.ctx === 'object') ? incoming.ctx : {};\nconst traceSeed = JSON.stringify(incoming).slice(0, 5000) + '::' + now;\n\nconst ctx = {\n  project_ns: 'TVPX',\n  brand_name: 'The Velvet Paradox',\n  trace_id: baseCtx.trace_id || ('tvpx_' + fnv1a(traceSeed)),\n  trigger_mode: baseCtx.trigger_mode || incoming.trigger_mode || 'internal',\n  route_mode: baseCtx.route_mode || incoming.route_mode || 'concept_forge',\n  received_at: now,\n  crawl_run_id: String(incoming.crawl_run_id || baseCtx.crawl_run_id || '').trim(),\n  source_id: String(incoming.source_id || baseCtx.source_id || '').trim(),\n  max_fragments_for_llm: clampInt(baseCtx.max_fragments_for_llm ?? incoming.max_fragments_for_llm, 10, 3, 16),\n  max_chars_per_fragment_for_llm: clampInt(baseCtx.max_chars_per_fragment_for_llm ?? incoming.max_chars_per_fragment_for_llm, 1400, 600, 2200),\n  target_abstraction_min: Number(baseCtx.target_abstraction_min || incoming.target_abstraction_min || 5.8),\n  target_abstraction_max: Number(baseCtx.target_abstraction_max || incoming.target_abstraction_max || 6.8),\n  autonomous_run_limit: clampInt(baseCtx.autonomous_run_limit ?? incoming.autonomous_run_limit, 3, 1, 12),\n  min_fragments_per_run: clampInt(baseCtx.min_fragments_per_run ?? incoming.min_fragments_per_run, 3, 1, 20),\n  autonomous_scan_limit: clampInt(baseCtx.autonomous_scan_limit ?? incoming.autonomous_scan_limit, 1500, 50, 5000),\n  allow_reprocess_runs: toBool(baseCtx.allow_reprocess_runs ?? incoming.allow_reprocess_runs, false),\n};\n\nconst source = (incoming.source && typeof incoming.source === 'object') ? incoming.source : {};\nconst providedFragments = Array.isArray(incoming.fragments)\n  ? incoming.fragments\n  : (Array.isArray(incoming.provided_fragments) ? incoming.provided_fragments : []);\n\nreturn [{\n  json: {\n    ctx,\n    source,\n    input: incoming.input || incoming,\n    carry: incoming.carry || {},\n    provided_fragments: providedFragments,\n  },\n}];"
      },
      "id": "36e319c0-5fa5-41b0-88c7-749075fcd95a",
      "name": "Initialize Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        340
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "5KpLfqhCa6qq2q1v",
          "mode": "list",
          "cachedResultName": "tvpx_archetype_guardrail_bank",
          "cachedResultUrl": "/projects/NK3VX1YKPgfTJeSY/datatables/5KpLfqhCa6qq2q1v"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1152,
        48
      ],
      "id": "8ff45d07-f0c1-42fc-960b-af9273bc514a",
      "name": "Get Archetype Guardrail Registry"
    },
    {
      "parameters": {
        "jsCode": "const base = $json || {};\nconst rows = Array.isArray(base.archetype_guardrail_rows) ? base.archetype_guardrail_rows : [];\nconst archetypeId = String(base.archetype_route?.archetype_id || '').trim();\n\nif (!archetypeId) {\n  throw new Error('TVPX__20: archetype_route.archetype_id missing.');\n}\n\nconst row = rows.find(r => String(r.archetype_id || '').trim() === archetypeId);\nif (!row) {\n  throw new Error(`TVPX__20: no guardrail row found for archetype_id=\"${archetypeId}\"`);\n}\n\nreturn [{\n  json: {\n    ...base,\n    archetype_guardrail_row: row,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        240
      ],
      "id": "b9c8a4f8-764d-440f-a276-815c78f40b5d",
      "name": "Hydrate Selected Guardrail"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Initialize Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Candidate Run": {
      "main": [
        [
          {
            "node": "Loop Candidate Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Candidate Runs": {
      "main": [
        [],
        [
          {
            "node": "Prepare Active Candidate Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Scene Seed Reject Log": {
      "main": [
        [
          {
            "node": "Next Candidate Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scene Seed Reject Row": {
      "main": [
        [
          {
            "node": "Upsert Scene Seed Reject Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Scene Seed Pool": {
      "main": [
        [
          {
            "node": "Next Candidate Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scene Seed Row": {
      "main": [
        [
          {
            "node": "Upsert Scene Seed Pool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Scene Seed": {
      "main": [
        [
          {
            "node": "Build Scene Seed Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Scene Seed Reject Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deterministic Image Native Gate": {
      "main": [
        [
          {
            "node": "Approve Scene Seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image Native Critic JSON": {
      "main": [
        [
          {
            "node": "Deterministic Image Native Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Image Native Critic": {
      "main": [
        [
          {
            "node": "Parse Image Native Critic JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Scene Seed JSON": {
      "main": [
        [
          {
            "node": "LLM Image Native Critic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Scene Seed Composer": {
      "main": [
        [
          {
            "node": "Parse Scene Seed JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prop Suppressor JSON": {
      "main": [
        [
          {
            "node": "LLM Scene Seed Composer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Prop Suppressor": {
      "main": [
        [
          {
            "node": "Parse Prop Suppressor JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Human Situation JSON": {
      "main": [
        [
          {
            "node": "LLM Prop Suppressor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Human Situation Builder": {
      "main": [
        [
          {
            "node": "Parse Human Situation JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Archetype Router JSON": {
      "main": [
        [
          {
            "node": "Hydrate Selected Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Archetype Router": {
      "main": [
        [
          {
            "node": "Parse Archetype Router JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Latent Tension Row": {
      "main": [
        [
          {
            "node": "LLM Archetype Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Latent Tension Pool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Latent Tension JSON": {
      "main": [
        [
          {
            "node": "Build Latent Tension Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Latent Tension Distiller": {
      "main": [
        [
          {
            "node": "Parse Latent Tension JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Archetype Registry": {
      "main": [
        [
          {
            "node": "LLM Latent Tension Distiller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Archetype Registry": {
      "main": [
        [
          {
            "node": "Attach Archetype Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Director Model xAI Fallback Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Image Native Critic",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "LLM Scene Seed Composer",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "LLM Prop Suppressor",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "LLM Human Situation Builder",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "LLM Archetype Router",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "LLM Latent Tension Distiller",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Director Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Image Native Critic",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LLM Scene Seed Composer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LLM Prop Suppressor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LLM Human Situation Builder",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LLM Archetype Router",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LLM Latent Tension Distiller",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Fragment Bundle": {
      "main": [
        [
          {
            "node": "Get Archetype Registry",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Archetype Guardrail Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Reject Log": {
      "main": [
        [
          {
            "node": "Next Candidate Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build No Fragments Reject": {
      "main": [
        [
          {
            "node": "Upsert Reject Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Fragments": {
      "main": [
        [
          {
            "node": "Assemble Fragment Bundle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build No Fragments Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reattach Context After Fragments": {
      "main": [
        [
          {
            "node": "Has Fragments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Source To Candidate": {
      "main": [
        [
          {
            "node": "Get Fragments For Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Source For Run": {
      "main": [
        [
          {
            "node": "Attach Source To Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Active Candidate Run": {
      "main": [
        [
          {
            "node": "Get Source For Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Candidate Run Packets": {
      "main": [
        [
          {
            "node": "Loop Candidate Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Scene Seeds": {
      "main": [
        [
          {
            "node": "Build Candidate Run Packets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Candidate Crawl Runs": {
      "main": [
        [
          {
            "node": "Get Existing Scene Seeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Fragments For Run": {
      "main": [
        [
          {
            "node": "Reattach Context After Fragments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Envelope": {
      "main": [
        [
          {
            "node": "Get Candidate Crawl Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Archetype Guardrail Registry": {
      "main": [
        [
          {
            "node": "Attach Archetype Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hydrate Selected Guardrail": {
      "main": [
        [
          {
            "node": "LLM Human Situation Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1d09e074-500a-457a-9fe8-ae3c456213d7",
  "activeVersionId": null,
  "versionCounter": 86,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-06T20:19:00.602Z",
      "createdAt": "2026-03-06T20:19:00.602Z",
      "role": "workflow:owner",
      "workflowId": "50icbBfGoLwcHdTL",
      "projectId": "NK3VX1YKPgfTJeSY",
      "project": {
        "updatedAt": "2025-12-08T15:00:57.909Z",
        "createdAt": "2025-12-08T14:54:00.172Z",
        "id": "NK3VX1YKPgfTJeSY",
        "name": "Benny Ebere <ebere.benny97@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4cb24128-c146-45db-a1a6-9dd54603f17a"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}